﻿@model ecims.ViewModels.PaginationViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "DirectoryChangeView";
}
<style>
    table {
        width: 100%;
    }

        table tr td {
            border: 2px solid black;
            text-align: center;
            word-wrap: break-word;
        }

        table tr:hover {
            background-color: #000;
            color: #fff;
        }

        table tr th {
            border: 2px solid black;
            text-align: center;
            background-color: #fff;
            color: #000;
        }
</style>
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Use this view to test pagination by controller</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.PageSize, "Page Size: ", new { @class = "col-md-2 control-label required-field", @style = "padding-top:10px; padding-right: 10px;" })
                        @Html.DropDownListFor(m => m.PageSize,
                           /*(SelectList)ViewBag.PageSizes*/
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "Pagination?PageSize=10" },
                               new SelectListItem{ Text="50", Value = "Pagination?PageSize=50" },
                               new SelectListItem{ Text="100", Value = "Pagination?PageSize=100" },
                            },
                           Model.PageSize.ToString(),
                           new
                           {
                               @class = "form-control",
                               @id = "PageSizeList",
                               onchange = "filterByDropdown(this)"
                           })
                        <div class="col-md-9">
                            @Html.ValidationMessageFor(m => m.PageSize, "", new { @class = "label label-warning lb-sm" })
                        </div>
                    </div>
                    @using (Html.BeginForm("Pagination", "Pagination", FormMethod.Post))
                    {
                        <div class="col-md-6 pull-right input-group">
                            @Html.LabelFor(m => m.PageSize, "Search: ", new { @class = "col-md-2 control-label required-field", @style = "padding-top:10px;" })
                            @Html.TextBoxFor(m => m.searchTerm,
                             Model.searchTerm.ToString(),
                             new
                             {
                                 @class = "form-control",
                                 @id = "SearchTermTextBox"
                             })
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" />
                            </span>
                        </div>
                    }
                    <table>
                        <tr>
                            <th>
                                @Html.ActionLink("DATE CREATED", "Pagination",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "Pagination",
                                new
                                {
                                    sortOrder = "ApplicationNo",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "Pagination",
                                new
                                {
                                    sortOrder = "ApplicantNo",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "Pagination",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "Pagination")
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "Pagination")
                            </th>
                        </tr>
                        @foreach (var item in Model.certificatesToShow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                @if (item.User == null)
                                {
                                    /**/
                                    <td>
                                        NULL
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>

                                <td><span class="label label-warning lb-md">Pending</span></td>

                                <td>
                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </table>
                    <div id='Paging' style="text-align:center">
                        Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                        of @Model.certificatesToShow.PageCount

                        @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("Pagination", new { page, pageSize = Model.PageSize }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "Pagination?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        window.location.href = url + searchTerm;
        //var search = $('#SearchTermTextBox').val();
        @*$.ajax({
            url: '@Url.Action("Pagination", "Pagination")', //
            dataType: "json",
            data: { searchTerm: $('#SearchTermTextBox').val() },
            type: "POST",
            success: function (result) {
                console.log(result)
            },
            error: function (xhr) {
                alert("error");
            }
        });*@
    }
</script>
