﻿@model ecims.ViewModels.FeedbackViewModel
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Provide Feedback</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        <div class="panel panel-success">
                            <div class="panel-heading">Please Use the form below to provide feedback on the EUC Platform and how we can better improve it..</div>
                            <div class="panel-body">
                                <div class="col-md-10 col-lg-10 col-sm-10" id="sendToOnsa">
                                    @using (Html.BeginForm("Feedback", "Feedback", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            @class = "form-horizontal",
                                            role = "form",
                                            @id = "createComment",
                                        }))
                                        {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.UserId, new { Value = Model.UserId })

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.Subject, "Subject:")
                                            @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Provide feedback Subject", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.Message, "Message:")
                                            @Html.TextAreaFor(m => m.Message, new { @placeholder = "Enter FeedBack Message", @class = "form-control", @rows = "16" })
                                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-12">
                                            <input type="reset" class="btn btn-primary" value="Reset" />
                                            <input type="submit" class="btn btn-success" name="feedback" value="Send" />
                                        </div>
                                        }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>