﻿@model ecims.ViewModels.FeedbackViewModel
@{
    ViewBag.Title = "FeedbackDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
}
<div class="loader" id="loader">
    <center>
        <img class="loading-image" src="~/img/spinner/Loading Slider.gif" alt="loading..">
    </center>
</div>
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">FEEDBACK DETAILS</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-10 col-lg-10 col-sm-10">
                        <div class="panel panel-success">
                            <div class="panel-heading">FEEDBACK INFORMATION</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div style="text-align: left; vertical-align: middle;">
                                        <dl class="dl-horizontal">
                                            <dt>FeedBack Date:</dt>
                                            <dd>@Model.FeedBackDetails.FeedbackDate.ToShortDateString()</dd>
                                            @foreach (var user in Model.UsersToQuery)
                                            {
                                                if (user.Id == Model.FeedBackDetails.UserId)
                                                {
                                                    <dt>Applicant Number:</dt>
                                                    <dd>@user.ApplicationNumber</dd>
                                                    <dt>Applicant Name:</dt>
                                                    <dd>@user.FirstName @user.LastName @user.OtherName</dd>
                                                }
                                            }
                                            <dt>FeedBack Subject:</dt>
                                            <dd>@Model.FeedBackDetails.Subject</dd>
                                            <dt>FeedBack Message:</dt>
                                            <dd>@Model.FeedBackDetails.Message</dd>
                                            <dt>FeedBack Status:</dt>
                                            @{
                                                if (Model.FeedBackDetails.status == ecims.Models.FeedBackStatus.Pending)
                                                {
                                                    <dd><span class="label label-warning">Pending</span></dd>
                                                }
                                                else
                                                {
                                                    <dd><span class="label label-success">Resolved</span></dd>
                                                }
                                            }
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{ 
                            if (Model.FeedBackDetails.resolveAction != null) { 
                                <div class="panel panel-success">
                                    <div class="panel-heading">RESOLVED INFORMATION</div>
                                    <div class="panel-body">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <div style="text-align: left; vertical-align: middle;">
                                                <dl class="dl-horizontal">
                                                    <dt>Resolved Date:</dt>
                                                    <dd>@Model.FeedBackDetails.resolvedDate.ToShortDateString()</dd>
                                                    <dt>Resolved By:</dt>
                                                    @foreach (var user in Model.UsersToQuery)
                                                    {
                                                        if (user.Id == Model.FeedBackDetails.resolvedBy)
                                                        {
                                                            <dt>Applicant Name:</dt>
                                                            <dd>@user.FirstName @user.LastName @user.OtherName</dd>
                                                        }
                                                    }
                                                    <dt>Action Taken:</dt>
                                                    <dd>@Model.FeedBackDetails.resolveAction</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <p class="btn btn-primary" style="color: #fff;">@Html.ActionLink("Back", "AllFeedback")</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>