﻿@model ecims.ViewModels.FeedbackViewModel   
@{
    ViewBag.Title = "PendingFeedback";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">Pending Feedbacks</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>FEEDBACK DATE</th>
                                        <th>APPLICANT ID</th>
                                        <th>APPLICANT NAME</th>
                                        <th>SUBJECT</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var feedback in Model.PendingFeedbacks)
                                        {
                                            <tr>
                                                <td>@feedback.FeedbackDate.ToString("dd-MMM-yyyy")</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == feedback.UserId)
                                                    {
                                                        <td>@user.ApplicationNumber</td>
                                                        <td>@user.FirstName @user.LastName @user.OtherName</td>
                                                    }
                                                }
                                                <td>@feedback.Subject</td>
                                                <td><span class="label label-warning">Pending</span></td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>@Html.ActionLink("View Details", "FeedbackDetails", new { ID = feedback.Id })</li>
                                                            @if (feedback.status == ecims.Models.FeedBackStatus.Pending)
                                                            {
                                                                <li class="@liNSA @liAgency @liClientUser @liCustoms @liExclusiveUser">@Html.ActionLink("Resolve", "ResolveFeedback", new { ID = feedback.Id }, new { @class = @liNSA, @liAgency, @liClientUser, @liExclusiveUser })</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
