﻿@model ecims.ViewModels.FeedbackViewModel   
@{
    ViewBag.Title = "ResolvedFeedback";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">Resolved Feedbacks</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>RESOLVED DATE</th>
                                        <th>SUBJECT</th>
                                        <th>RESOLVED BY</th>
                                        <th>APPLICANT NAME</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var feedback in Model.ResolvedFeedbacks)
                                        {
                                            <tr>
                                                <td>@feedback.resolvedDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@feedback.Subject</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == feedback.resolvedBy)
                                                    {
                                                        <td>@user.FirstName @user.LastName @user.OtherName</td>
                                                    }
                                                }
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == feedback.UserId)
                                                    {
                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                    }
                                                }
                                                <td><span class="label label-success">Resolved</span></td>
                                                <td>
                                                    @Html.ActionLink("View Details", "FeedbackDetails", new { ID = feedback.Id }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
