﻿@model ecims.ViewModels.FeedbackViewModel
@{
    ViewBag.Title = "ResolveFeedback";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">RESOLVE FEEDBACK</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        <div class="col-md-10 col-lg-10">
                            <h4>Feedback Details</h4>
                            <hr />
                            <div style="text-align: left; vertical-align: middle;">
                                <dl class="dl-horizontal">
                                    @foreach (var user in Model.UsersToQuery)
                                    {
                                        if (Model.FeedBackDetails.UserId == user.Id)
                                        {
                                            <dt>Applicant Number:</dt>
                                            <dd>@user.ApplicationNumber</dd>
                                            <dt>Applicant Name:</dt>
                                                    <dd>@user.FirstName @user.LastName @user.OtherName</dd>
                                        }
                                    }
                                    <dt>FeedBack Date:</dt>
                                    <dd>@Model.FeedBackDetails.FeedbackDate</dd>
                                    <dt>FeedBack Subject:</dt>
                                    <dd>@Model.FeedBackDetails.Subject</dd>
                                    <dt>FeedBack Message:</dt>
                                    <dd>@Model.FeedBackDetails.Message</dd>
                                    <dt>FeedBack Status:</dt>
                                    @{
                                        if (Model.FeedBackDetails.status == ecims.Models.FeedBackStatus.Pending)
                                        {
                                            <dd><span class="label label-warning">Pending</span></dd>
                                        }
                                        else
                                        {
                                            <dd><span class="label label-success">Resolved</span></dd>
                                        }
                                    }
                                </dl>
                            </div>
                        </div>

                        <div class="col-md-10 col-lg-10">
                            <h4>Feedback Resolution</h4>
                            <hr />
                            @using (Html.BeginForm("ResolveFeedback", "Feedback", FormMethod.Post, new
                            {
                                enctype = "multipart/form-data",
                                @class = "form-horizontal",
                                role = "form",
                                @id = "resolveFeedback",
                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.UserId, new { Value = Model.UserId })

                                @Html.HiddenFor(model => model.FeedBackId, new { Value = Model.FeedBackId })

                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.ResolveMessage, "Feedback Action:")
                                    @Html.TextAreaFor(m => m.ResolveMessage, new { @placeholder = "Enter the action carried out", @class = "form-control", @rows = "16" })
                                    @Html.ValidationMessageFor(m => m.ResolveMessage, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12">
                                    <input type="reset" class="btn btn-primary" value="Reset" />
                                    <input type="submit" class="btn btn-success" name="feedback" value="Submit" />
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>