﻿@model ecims.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}
<div class="container" style="background-color:#fff; margin-bottom:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
        <h2>@ViewBag.Title.</h2>
        <p class="text-info">
            You do not have a local username/password for this site. Add a local
            account so you can log in without an external login.
        </p>

        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()

            <h4>Create Local Login</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Set password" class="btn btn-default" />
                </div>
            </div>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
