﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EUC Verification Portal</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/core/app.js"></script>
    <script src="~/Content/VerifyEUCPortalFiles/js/ValidateCertificate.js"></script>
    <script src="~/Content/VerifyEUCPortalFiles/js/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->
</head>

<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Views/VerifyEUCPortal/Login.cshtml" style="font-weight:bold;font-size:30px;color:#075007;font-family:'Arial', Geneva, Verdana, sans-serif">EUC VERIFICATION PORTAL</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav navbar-right">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                {
                    @Html.AntiForgeryToken()
                    <li style="margin-top:20px;"><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger" role="button">Sign Out</a></li>
                    @*<li><a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>*@
                }
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content" style="background-image: url('../../../img/euc verify background.jpg');">
                    @RenderBody()
                    <!-- Footer -->
                    <div class="footer text-muted text-center" style="background-color:#fff;">
                        <p style="color:#000000;font-weight:bold;font-size:16px;">&copy; @DateTime.Now.Year - EUC | Powered by Office of the NSA</p>
                    </div>
                    <!-- /footer -->
                </div>
            </div>
        </div>
    </div>

</body>
</html>