    * {
        margin: 0;
        padding: 0;
    }
    
    div#banner {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #014A85;
        width: auto;
        text-align: center;
        color: #ffffff;
        font: Arial, Helvetica, Arial, Verdana, sans-serif;
        z-index: 1;
    }
    
    div#banner-content {
        width: auto;
        margin: 0 auto;
        padding: 10px;
    }