﻿@using ecims.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div id="my-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @*<div class="item active">
                    <img alt="First slide" src="~/img/Drone.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>*@
                <div class="item active">
                    <img alt="Second slide" src="~/img/Military HW 2.JPG" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" src="~/img/Uniforms and Accountrements.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fourth slide" src="~/img/Cash Equip 1.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fifth slide" src="~/img/Chemicals.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Sixth slide" src="~/img/Explosive and E-devices.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Seventh slide" src="~/img/Fireworks.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Eighth slide" src="~/img/Arms and Ammunition.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Ninth slide" src="~/img/Fertilizer Chemical.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
                <div class="item">
                    <img alt="Tenth slide" src="~/img/BC Equip.jpg" style="object-fit:cover;" />
                    <div class="carousel-caption">
                        <h2>Click Below to Sign Up/Sign In</h2>
                        <p>First time users must sign-up in order to proceed with applying for End-User Certificate and Security Clearance Certificate.</p>
                        <br />
                        <a href='@Url.Action("Register", "Account")' class="btn btn-default">Sign Up</a>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-default">Sign In</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="overview" class="row">
    <div class="overview" style="padding:5px;">
        <h2 style="font-weight: bold">Overview</h2>
        <hr />
        <div class="col-md-12">
            <div class="overviewContent" text-align:justify;">
                <p style="font-size:14px">
                    Welcome to the Federal Government End-User Certificate and Security Clearance Certificate Web Portal. This web portal is intended to give access to members of the Nigerian general public applying for End-User Certificate and Security Clearance Certificate, for the acquisition or use of End-User Certificate and Security Clearance Certificate controlled items and products within Nigeria.
                    End-User Certificate and Security Clearance Certificate is an undertaking by a purchaser/importer that any of the controlled items/products covered by the process transferred from the exporting country is for its sole and lawful use within Nigeria, and that the controlled items/products are not destined for transfer or re-export to any other entity or country, without the prior written consent of the Office of the National Security Adviser.
                    <br />
                    <strong>NOTE: End-User Certificate and Security Clearance Certificate is free at every stage, from processing to issuance. This is only approved and issued by the Office of the National Security Adviser.</strong>
                </p>
            </div>
        </div>
    </div>
    <hr style="border: solid #ddd; width:10%; border-width: 4px 0 0; clear: both; height: 0; border-color: #265F2C">
</div>

<div id="guidelines" class="jumbotron" style="margin-bottom:0px;">
    <h2 style="font-weight: bold">Guidelines</h2>
    <p style="font-size:14px">To apply for an End-User Certificate and Security Clearance Certificate, ensure you read the guidelines. The guidelines cover specific guidelines for <strong>procuring</strong> different items/products detailing what documents and information are expected to be provided and available on hand when applying for a certificate. Click on the links below to read the guidelines for different item types.</p>
    <hr style="border: solid #ddd; width:10%; border-width: 4px 0 0; clear: both; height: 0; border-color: #265F2C">
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Uniforms and Accountrements.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">General Guidelines</h4>
                            <a href="~/Documents/GENERAL_GUIDELINES.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Embassies and MDAs.png');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Embassies, MDAs and Military</h4>
                            <a href="#" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div id="pictureBox" style="background-image: url('../../img/Military HW.jpg');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Military Hardware</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_MILITARY_HARDWARE.pdf" class="btn btn-default">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Cash Equip.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Cash Equipment</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_CASH_EQUIPMENT.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Chemicals.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Chemicals</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_CHEMICALS.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div id="pictureBox" style="background-image: url('../../img/Uniforms and Accountrements.jpg');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Uniforms & Accountrements</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_UNIFORMS_&_ACCOUNTREMENT.pdf" class="btn btn-default">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Treated Vehicles.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Treated Vehicles</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_TREATED_VEHICLES.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Explosive and E-devices.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Explosive and Explosive Devices</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_EXPLOSIVES_EXPLOSIVE_DEVICES.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div id="pictureBox" style="background-image: url('../../img/Fireworks.jpg');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Fireworks</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_FIREWORKS.pdf" class="btn btn-default">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Arms and Ammunition.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Arms and Ammunition</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_ARMS_AND_AMMUNITION.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Private Security Gadget.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Private Security Gadget</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_PRIVATE_SECURITY_GADGETS.pdf" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div id="pictureBox" style="background-image: url('../../img/Fertilizer Chemical.jpg');">
                        <div class=" card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Fertilizers</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_FERTILIZER_CHEMICALS.pdf" class="btn btn-default">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/BC Equip.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Broadcast Equipment</h4>
                            <a href="#" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Drone-2.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Remotely Piloted Aircraft</h4>
                            <a href="#" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Surveillance Equipment.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Surveillance and Counter Surveillance Equipment</h4>
                            <a href="#" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/LI Equip.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Lawful Intercept Equipment</h4>
                            <a href="#" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/Security Clearance.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Security Clearance</h4>
                            <a href="#" class="btn btn-default">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div id="pictureBox" style="background-image: url('../../img/HS Codes.png');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Full HS Codes</h4>
                            <a href="~/Documents/FULL_HS_CODES.pdf" class="btn btn-default">View HS Codes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>