﻿@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    If you have further questions or complaints, kindly contact our Support team.<br />
    <abbr title="Phone">Voice calls:</abbr>
    +234-905-555-4499
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:euc@nsa.gov.ng">euc@nsa.gov.ng</a><br />
</address>