﻿@model ecims.ViewModels.VerifyEucPortalDashboardViewModel
<style type="text/css">
    #pdfbox {
        width: 600px;
        height: 400px;
        border: 5px solid #ccc;
    }
</style>

<object id='pdfbox' type="application/pdf" data="@Url.Action("GeneratePDF", "VerifyEUCPortal", Model)">
    Click @Html.ActionLink("here", "GeneratePDF", "VerifyEUCPortal") to view the file.
</object>    
