﻿@using ecims.ViewModels
@model VerifyEucPortalDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/VerifyEucLayout/_VerifyEUCDashboardLayout.cshtml";
}
<link href="~/Content/VerifyEUCPortalFiles/css/site.css" rel="stylesheet" />
<div class="container" style="width: 90%;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 style="color:#085802">Verify End-User Certificates by Filling the Textbox Below and clicking the Enter button...</h4>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Session["GoogleAuthenticationSuccessfulMessage"] != null)
                {
                    <div class="alert alert-info">
                        <strong>Info!</strong> @Session["GoogleAuthenticationSuccessfulMessage"].ToString()
                    </div>
                }
                <div class="form-validation">
                    <div class="form">
                        <div class="col-md-12 col-lg-12">
                            <div class="col-md-6">
                                <div id="certificate-number-form-group" class="form-group">
                                    <label class="col-lg-3 control-label" for="val-certificate-number" onblur="return ValidateCertificate(this)">Certificate Number<span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="val-certificate-number" name="val-certificate-number" placeholder="On Top Right of Certificate">
                                        <span id="certificate-number-success-span" class="form-group has-feedback has-feedback-left hide"></span>
                                        <span id="certificate-number-error-span" class="form-group has-feedback has-feedback-left hide"></span>
                                    </div>
                                    <div id="ajax-loader-certificate-number" class="hide">
                                        <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                    </div>
                                    <div id="certificate-number-validation-success" class="hide">
                                        <span class="badge badge-primary">Certificate found successfully.</span>
                                    </div>
                                    <div id="certificate-number-validation-error" class="hide">
                                        <span class="badge badge-danger">Certificate not found!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="token-number-form-group" class="form-group">
                                    <label class="col-lg-3 control-label" for="val-token-number" onblur="return ValidateCertificate(this)">Token Code<span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="val-token-number" name="val-token-number" placeholder="Code Generated from Phone">
                                        <input type="hidden" id="val-hidden-token-number" name="user" value="texens" />
                                        <span id="token-number-success-span" class="hide"></span>
                                        <span id="token-number-error-span" class="hide"></span>
                                    </div>
                                    <div id="ajax-loader-token-number" class="hide clear-padding-and-margin">
                                        <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                    </div>
                                    <div id="token-number-validation-success" class="hide clear-padding-and-margin">
                                        <span class="badge badge-primary">Token code verified successfully.</span>
                                    </div>
                                    <div id="token-number-validation-error" class="hide clear-padding-and-margin">
                                        <span class="badge badge-danger">Invlaid token code and/or certificate number.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="val-verify-token">Submit</button>
                        <br />
                        <div class="form-group row" style="height:700px;">
                            <div id="targetDiv">

                            </div>
                        </div>
                    </div>
                    <hr />
                    @*<div class="certificate-fields">
                            <div id="application-number-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-application-number" onblur="return ValidateCertificate(this)">Application Number<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="val-application-number" name="val-application-number" placeholder="On Top Left of Certificate">
                                    <span id="application-number-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="application-number-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-application-number" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="application-number-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Application number matches certificate.</span>
                                </div>
                                <div id="application-number-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Application not found!</span>
                                </div>
                            </div>
                            <div id="applicant-number-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-applicant-number" onblur="return ValidateCertificate(this)">Applicant Number<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="val-applicant-number" name="val-applicant-number" placeholder="Under Application Number">
                                    <span id="applicant-number-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="applicant-number-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-applicant-number" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="applicant-number-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Applicant number found.</span>
                                </div>
                                <div id="applicant-number-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invalid applicant number!</span>
                                </div>
                            </div>
                            <div id="vendor-name-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-vendor-name">Name of Vendor<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="val-vendor-name" name="val-vendor-name" placeholder="Vendor's Name'">
                                    <span id="vendor-name-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="vendor-name-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-vendor-name" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="vendor-name-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Vendor found.</span>
                                </div>
                                <div id="vendor-name-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invalid vendor!</span>
                                </div>
                            </div>
                            <div id="vendor-address-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-vendor-address">Address of Vendor<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="val-vendor-address" name="val-vendor-address" placeholder="Vendor's Address">
                                    <span id="vendor-address-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="vendor-address-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-vendor-address" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="vendor-address-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Address found.</span>
                                </div>
                                <div id="vendor-address-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invalid address!</span>
                                </div>
                            </div>
                            <div id="currency-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-currency">Currency of Purchase<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <select class="form-control" id="val-currency" name="val-currency">
                                        <option value="">Please select</option>
                                        <option value="1">US Dollars</option>
                                        <option value="2">GB Pounds</option>
                                        <option value="3">NGN Naira</option>
                                        <option value="5">Algerian dinar</option>
                                        <option value="6">Russian ruble</option>
                                        <option value="11">Argentine peso</option>
                                        <option value="12">Euro</option>
                                        <option value="13">Canadian Dollar</option>
                                        <option value="16">Chinese Yuan</option>
                                    </select>
                                    <span id="currency-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="currency-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-currency" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="currency-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Valid currency.</span>
                                </div>
                                <div id="currency-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invalid currency!</span>
                                </div>
                            </div>
                            <div id="vendor-total-cost-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-total-cost">Total Cost<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="val-total-cost" name="val-total-cost" placeholder="Total Cost">
                                    <span id="total-cost-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="total-cost-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-total-cost" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="total-cost-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Cost is correct.</span>
                                </div>
                                <div id="total-cost-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Incorrect cost!</span>
                                </div>
                            </div>
                            <div id="country-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-country">Country of Manufacture<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    @Html.DropDownListFor(m => m.countryId, new SelectList(Model.countries, "id", "CountryName"), new { @class = "form-control", @id = "val-country" })
                                    <span id="country-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="country-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-country" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="country-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Valid country.</span>
                                </div>
                                <div id="country-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invalid country!</span>
                                </div>
                            </div>
                            <div id="date-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-date">Date<span class="text-danger">*</span></label>
                                <div class="col-lg-5">
                                    <input type="date" class="form-control" id="val-date" name="val-date" placeholder="dd/mm/yyyy">
                                    <span id="date-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="date-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-date" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="date-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Valid date.</span>
                                </div>
                                <div id="date-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invalid date!</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-date">Certificate</label>
                                <div class="col-lg-7" id="targetDiv">

                                </div>
                            </div>
                        </div>*@
                    @*<div id="submit-form-group" class="form-group row">
                            <div class="col-lg-8 ml-auto">
                                <button type="submit" class="btn btn-primary" id="val-submit">Validate EUC</button>
                            </div>
                        </div>*@
                    @*<div class="col-lg-8 ml-auto">
                            <button class="btn btn-primary" id="val-mac-address">Get Mac Address</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-danger">
                    <h4>Ensure the 10 fields listed below match the submitted certificate:</h4>
                    <ol style="list-style:decimal">
                        <li style="color:darkslategrey; list-style:decimal;">Certificate Number</li>
                        <li style="color:darkslategrey; list-style:decimal;">Application Number</li>
                        <li style="color:darkslategrey; list-style:decimal;">Applicant Number</li>
                        <li style="color:darkslategrey; list-style:decimal;">Validity Period</li>
                        <li style="color:darkslategrey; list-style:decimal;">Name of Vendor</li>
                        <li style="color:darkslategrey; list-style:decimal;">Address of Vendor</li>
                        <li style="color:darkslategrey; list-style:decimal;">Country Of Manufacture</li>
                        <li style="color:darkslategrey; list-style:decimal;">Total Cost</li>
                        <li style="color:darkslategrey; list-style:decimal;">Description of Goods</li>
                        <li style="color:darkslategrey; list-style:decimal;">Date of Issue</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="~/assets/img/SAMPLECERTIFICATE.jpg" style="width:100%; height:100%;"/>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/VerifyEUCPortalFiles/js/ValidateCertificate.js"></script>
@*<!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Bread crumb -->
        @*<div class="row page-titles">
                <div class="col-md-7 align-self-center">
                    <h3 style="color:#085802">Verify End-User Certificates by Filling the Textbox Below and Pressing the <strong>Enter</strong> button...</h3>
                </div>
                <div class="col-md-5 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>*@
<!-- Start Page Content -->
@*<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 style="color:#085802">Verify End-User Certificates by Filling the Textbox Below and clicking the Enter button...</h4>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="card">
            <div class="card-body">
                @if (Session["GoogleAuthenticationSuccessfulMessage"] != null)
                {
                    <div class="alert alert-info">
                        <strong>Info!</strong> @Session["GoogleAuthenticationSuccessfulMessage"].ToString()
                    </div>
                }
                <div class="form-validation">
                    <form class="form-valide">
                        <div class="col-md-12 col-lg-12">
                            <div id="certificate-number-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-certificate-number" onblur="return ValidateCertificate(this)">Certificate Number<span class="text-danger">*</span></label>
                                <div class="col-lg-5" style="margin-right:0px;">
                                    <input type="text" class="form-control" id="val-certificate-number" name="val-certificate-number" placeholder="On Top Right of Certificate">
                                    <span id="certificate-number-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="certificate-number-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-certificate-number" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="certificate-number-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Certificate found successfully.</span>
                                </div>
                                <div id="certificate-number-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Certificate not found!</span>
                                </div>
                            </div>
                            <div id="token-number-form-group" class="form-group row">
                                <label class="col-lg-3 col-form-label" for="val-token-number" onblur="return ValidateCertificate(this)">Token Code<span class="text-danger">*</span></label>
                                <div class="col-lg-5" style="margin-right:0px;">
                                    <input type="text" class="form-control" id="val-token-number" name="val-token-number" placeholder="">
                                    <input type="hidden" id="val-hidden-token-number" name="user" value="texens" />
                                    <span id="token-number-success-span" class="ti-check form-control-feedback hide"></span>
                                    <span id="token-number-error-span" class="ti-close form-control-feedback hide"></span>
                                </div>
                                <div id="ajax-loader-token-number" class="col-lg-1 hide clear-padding-and-margin">
                                    <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
                                </div>
                                <div id="token-number-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-primary">Token code verified successfully.</span>
                                </div>
                                <div id="token-number-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                                    <span class="badge badge-danger">Invlaid token code and/or certificate number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 ml-auto">
                            <button class="btn btn-primary" id="val-verify-token">Submit</button>
                        </div>
                        <br />
                        <div class="form-group row" style="height:600px;">
                            <div id="targetDiv">

                            </div>
                        </div>
                        <hr />*@
@*<div class="certificate-fields">
        <div id="application-number-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-application-number" onblur="return ValidateCertificate(this)">Application Number<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="val-application-number" name="val-application-number" placeholder="On Top Left of Certificate">
                <span id="application-number-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="application-number-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-application-number" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="application-number-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Application number matches certificate.</span>
            </div>
            <div id="application-number-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Application not found!</span>
            </div>
        </div>
        <div id="applicant-number-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-applicant-number" onblur="return ValidateCertificate(this)">Applicant Number<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="val-applicant-number" name="val-applicant-number" placeholder="Under Application Number">
                <span id="applicant-number-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="applicant-number-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-applicant-number" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="applicant-number-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Applicant number found.</span>
            </div>
            <div id="applicant-number-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Invalid applicant number!</span>
            </div>
        </div>
        <div id="vendor-name-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-vendor-name">Name of Vendor<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="val-vendor-name" name="val-vendor-name" placeholder="Vendor's Name'">
                <span id="vendor-name-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="vendor-name-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-vendor-name" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="vendor-name-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Vendor found.</span>
            </div>
            <div id="vendor-name-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Invalid vendor!</span>
            </div>
        </div>
        <div id="vendor-address-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-vendor-address">Address of Vendor<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="val-vendor-address" name="val-vendor-address" placeholder="Vendor's Address">
                <span id="vendor-address-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="vendor-address-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-vendor-address" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="vendor-address-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Address found.</span>
            </div>
            <div id="vendor-address-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Invalid address!</span>
            </div>
        </div>
        <div id="currency-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-currency">Currency of Purchase<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <select class="form-control" id="val-currency" name="val-currency">
                    <option value="">Please select</option>
                    <option value="1">US Dollars</option>
                    <option value="2">GB Pounds</option>
                    <option value="3">NGN Naira</option>
                    <option value="5">Algerian dinar</option>
                    <option value="6">Russian ruble</option>
                    <option value="11">Argentine peso</option>
                    <option value="12">Euro</option>
                    <option value="13">Canadian Dollar</option>
                    <option value="16">Chinese Yuan</option>
                </select>
                <span id="currency-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="currency-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-currency" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="currency-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Valid currency.</span>
            </div>
            <div id="currency-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Invalid currency!</span>
            </div>
        </div>
        <div id="vendor-total-cost-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-total-cost">Total Cost<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="val-total-cost" name="val-total-cost" placeholder="Total Cost">
                <span id="total-cost-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="total-cost-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-total-cost" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="total-cost-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Cost is correct.</span>
            </div>
            <div id="total-cost-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Incorrect cost!</span>
            </div>
        </div>
        <div id="country-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-country">Country of Manufacture<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                @Html.DropDownListFor(m => m.countryId, new SelectList(Model.countries, "id", "CountryName"), new { @class = "form-control", @id = "val-country" })
                <span id="country-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="country-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-country" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="country-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Valid country.</span>
            </div>
            <div id="country-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Invalid country!</span>
            </div>
        </div>
        <div id="date-form-group" class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-date">Date<span class="text-danger">*</span></label>
            <div class="col-lg-5">
                <input type="date" class="form-control" id="val-date" name="val-date" placeholder="dd/mm/yyyy">
                <span id="date-success-span" class="ti-check form-control-feedback hide"></span>
                <span id="date-error-span" class="ti-close form-control-feedback hide"></span>
            </div>
            <div id="ajax-loader-date" class="col-lg-1 hide clear-padding-and-margin">
                <img src="~/Content/VerifyEUCPortalFiles/img/loadingspinner-smaller.gif" class="img-responsive loader-size" />
            </div>
            <div id="date-validation-success" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-primary">Valid date.</span>
            </div>
            <div id="date-validation-error" class="col-lg-3 hide clear-padding-and-margin">
                <span class="badge badge-danger">Invalid date!</span>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="val-date">Certificate</label>
            <div class="col-lg-7" id="targetDiv">

            </div>
        </div>
    </div>*@
@*<div id="submit-form-group" class="form-group row">
        <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary" id="val-submit">Validate EUC</button>
        </div>
    </div>*@
@*<div class="col-lg-8 ml-auto">
        <button class="btn btn-primary" id="val-mac-address">Get Mac Address</button>
    </div>*@
@*</form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4" id="validation-instructions">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger">
                            <h4>Ensure the 10 fields listed below match the submitted certificate:</h4>
                            <ol style="list-style:decimal">
                                <li style="color:darkslategrey; list-style:decimal;">Certificate Number</li>
                                <li style="color:darkslategrey; list-style:decimal;">Application Number</li>
                                <li style="color:darkslategrey; list-style:decimal;">Applicant Number</li>
                                <li style="color:darkslategrey; list-style:decimal;">Validity Period</li>
                                <li style="color:darkslategrey; list-style:decimal;">Name of Vendor</li>
                                <li style="color:darkslategrey; list-style:decimal;">Address of Vendor</li>
                                <li style="color:darkslategrey; list-style:decimal;">Country Of Manufacture</li>
                                <li style="color:darkslategrey; list-style:decimal;">Total Cost</li>
                                <li style="color:darkslategrey; list-style:decimal;">Description of Goods</li>
                                <li style="color:darkslategrey; list-style:decimal;">Date of Issue</li>
                            </ol>
                        </div>
                        <div style="width:100%;">
                            <img src="~/assets/img/SAMPLECERTIFICATE.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->*@