﻿@using ecims.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EUC Verification Portal</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VerifyEUCPortalFiles/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/core/app.js"></script>

    <script type="text/javascript" src="~/Content/VerifyEUCPortalFiles/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Views/VerifyEUCPortal/Login.cshtml" style="font-weight:bold;font-size:30px;color:#075007;font-family:'Arial', Geneva, Verdana, sans-serif">EUC VERIFICATION PORTAL</a>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">
                    @using (Html.BeginForm("Login", "VerifyEUCPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                    <!-- Simple login form -->
                        <form role="form" action="" method="post" class="login-form">
                            <div class="panel panel-body login-form">
                                <div class="text-center">
                                    <div><img src="~/img/nsalogo.jpg" width="150" height="150" /></div>
                                    <p>
                                        This portal is only for use by <strong>authorized</strong> personnel.
                                        If you are here in error click <a href="https://euc.nsa.gov.ng/"><strong>HERE</strong></a>, to be redircted back to the EUC portal.
                                    </p>
                                    <h3 style="color: #fff">@ViewBag.Message</h3>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @*Check if user has been blacklisted*@
                                    @if (TempData["Blacklisted"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Info!</strong> @TempData["Blacklisted"].ToString()
                                        </div>
                                    }
                                    @if (TempData["CompanyExists"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Info!</strong> @TempData["CompanyExists"].ToString()
                                        </div>
                                    }
                                    @if (TempData["UnauthorizedAccess"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Info!</strong> @TempData["UnauthorizedAccess"].ToString()
                                        </div>
                                    }
                                    @if (TempData["InvalidModelState"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Info!</strong> @TempData["InvalidModelState"].ToString()
                                        </div>
                                    }
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    @Html.TextBoxFor(m => m.Email, new
                               {
                                   name = "form-username",
                                   placeholder = "E-mail...",
                                   @class = "form-control",
                                   id = "form-username",
                                   onblur = "return validateUsername(this)"
                               })
                                    @Html.ValidationMessageFor(m => m.Email, "",
                                 new { @class = "text-danger", @id = "emailValidationMessage" })
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    @Html.TextBoxFor(m => m.Password, new
                               {
                                   type = "password",
                                   name = "form-password",
                                   placeholder = "Password...",
                                   @class = "form-control",
                                   onblur = "return validatePassword(this)"
                               })
                                    @Html.ValidationMessageFor(m => m.Password,
                             "",
                             new
                             {
                                 @class = "text-danger",
                                 id = "form-password"
                             })
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn bg-green-400 btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
                                </div>
                            </div>
                        </form>
                    }
                    <!-- Footer -->
                    <div class="footer text-muted text-center" style="background-color:#fff;">
                        <p style="color:#000000;font-weight:bold;font-size:16px;">&copy; @DateTime.Now.Year - EUC | Powered by Office of the NSA</p>
                    </div>
                    <!-- /footer -->
                    <!-- /content area -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
        <!-- /page container -->
    </div>
    <!-- Javascript -->
    <script src="~/Content/VerifyEUCPortalFiles/js/ValidateUsernameAndPassword.js"></script>
    <script src="~/Content/VerifyEUCPortalFiles/js/bootbox.min.js"></script>

</body>
</html>
