﻿@model ecims.ViewModels.VerifyEucPortalDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

@using (Ajax.BeginForm("RenderPDF", "VerifyEUCPortal", new AjaxOptions { UpdateTargetId = "pdf" }))
{
    <table>
        <tr>
            <td>
                <fieldset>
                    <legend>Fill the form:</legend>
                    Some form junk can go here
                    <br />
                    <input type="submit" value="Display PDF" />
                </fieldset>
            </td>
            <td>
                <div id='pdf'>
                    @{
                        Html.RenderPartial("RenderPDF", Model);
                    }
                </div>
            </td>
        </tr>
    </table>
                        }
