﻿@model ecims.ViewModels.AgencyDataViewModel
@{
    ViewBag.Title = "agencyManagement";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">AGENCY MANAGEMENT</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div id="exTab1">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#1a" data-toggle="tab">CREATE A NEW AGENCY</a>
                            </li>
                            <li>
                                <a href="#2a" data-toggle="tab">CREATE A NEW AGENCY DESK</a>
                            </li>
                            <li>
                                <a href="#3a" data-toggle="tab">ALL AGENCIES</a>
                            </li>
                            <li>
                                <a href="#4a" data-toggle="tab">ALL AGENCY DESKS</a>
                            </li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1a">
                                @using (Html.BeginForm("agencyManagement", "Admin", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    @class = "form-horizontal",
                                    role = "form",
                                    @id = "createNewAgency",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3>CREATE A NEW AGENCY</h3>
                                    <div id="createAgency">
                                        <div class="row col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.agency_TypeId, "Agency Type:", new { @class = "" })
                                                @Html.DropDownListFor(m => m.agency_TypeId, new SelectList(Model.agency_Type, "Id", "Name"), "", new { @class = "form-control", @id = "agencyType" })
                                                @Html.ValidationMessageFor(m => m.agency_TypeId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.agency_Name, "Agency Name:")
                                                @Html.TextBoxFor(m => m.agency_Name, new { @placeholder = "Provide Name of Agency", @class = "form-control", @id = "agencyName" })
                                                @*@Html.ValidationMessageFor(m => m.agency_Name, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.contact_Name, "Contact Name:")
                                                @Html.TextBoxFor(m => m.contact_Name, new { @placeholder = "Provide Agency's Contact Persons Name", @class = "form-control", @id = "contactName" })
                                                @*@Html.ValidationMessageFor(m => m.contact_Name, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.agency_Phone, "Agency Phone:")
                                                <div class="input-group col-md-12">
                                                    <span class="input-group-addon">+234</span>
                                                    @Html.TextBoxFor(m => m.agency_Phone, new { @placeholder = "Provide Agency's Phone Number", @class = "form-control", @id = "agencyPhone" })
                                                </div>
                                                @*@Html.ValidationMessageFor(m => m.agency_Phone, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.agency_Email, "Agency Email:")
                                                @Html.TextBoxFor(m => m.agency_Email, new { @placeholder = "Provide Agency's Email Address", @class = "form-control", @id = "agencyEmail" })
                                                @*@Html.ValidationMessageFor(m => m.agency_Email, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success" name="submitCreateAgency" value="Submit" />
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="2a">
                                @using (Html.BeginForm("agencyManagement", "Admin", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    @class = "form-horizontal",
                                    role = "form",
                                    @id = "createNewAgencyDesk",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3>CREATE A NEW AGENCY DESK</h3>
                                    <div id="createAgencyDesk">
                                        <div class="row col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.agency_NameId, "Agency Name:", new { @class = "" })
                                                @Html.DropDownListFor(m => m.agency_NameId, new SelectList(Model.AgencyList, "id", "Name"), "", new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.desk_Name, "Desk Name:")
                                                @Html.TextBoxFor(m => m.desk_Name, new { @placeholder = "Provide Name of Agency Desk", @class = "form-control", @id = "agencyDesk" })
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success" name="submitAgencyDesk" value="Submit" />
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="3a">
                                <div class="tableReponsive">
                                    <h3>Agency Listing</h3>
                                    <table id="dataTable" class="display" cellspacing="0">
                                        <thead>
                                            <tr class="header">
                                                <th>DATE CREATED</th>
                                                <th>AGENCY NAME</th>
                                                <th>EMAIL ADDRESS</th>
                                                <th>PHONE NUMBE</th>
                                                <th>AGENCY TYPE</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{  foreach (var agencyList in Model.AgencyList)
                                                {
                                                    <tr>
                                                        <td>@agencyList.dateCreated.ToShortDateString()</td>
                                                        <td>@agencyList.Name</td>
                                                        <td>@agencyList.agencyEmail</td>
                                                        <td>@agencyList.agencyPhone</td>
                                                        @foreach (var agencyType in Model.AgencyType)
                                                        {
                                                            if (agencyType.Id == agencyList.PortalCategoryId)
                                                            {
                                                                <td>@agencyType.Name</td>
                                                            }
                                                        }
                                                        <td>
                                                            @Html.ActionLink("Update Detail", "EditAgency", new { id = agencyList.Id }, new { @class = "btn btn-success" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="4a">
                                <div class="tableReponsive">
                                    <h3>AGENCY DESK LISTING</h3>
                                    <table id="dataTable2" class="display" cellspacing="0">
                                        <thead>
                                            <tr class="header">
                                                <th>DESK NAME</th>
                                                <th>OWNING AGENCY</th>
                                                <th>STATUS</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{  foreach (var agencyDesk in Model.AgencyDesk)
                                                {
                                                    <tr>
                                                        <td>@agencyDesk.deskName</td>
                                                        @foreach (var agencyName in Model.AgencyList)
                                                        {
                                                            if (agencyName.Id == agencyDesk.agencyName)
                                                            {
                                                                <td>@agencyName.Name</td>
                                                            }
                                                        }
                                                        <td>@agencyDesk.status</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-success">Click for Action</button>
                                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li>@Html.ActionLink("Edit Desk", "EditAgencyDesk", new { id = agencyDesk.Id })</li>
                                                                    <li>@Html.ActionLink("Delete Desk", "DeleteAgencyDesk", new { id = agencyDesk.Id })</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>