﻿@model ecims.ViewModels.AllUserSignUpRequestsViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "All Blacklisted Applicant";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
    var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">All Blacklisted Applicants</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                            new List<SelectListItem>
                             {
                                new SelectListItem{ Text="10", Value = "AllBlacklistedApplicant?PageSize=10&searchTerm=" + Model.searchTerm },
                                new SelectListItem{ Text="50", Value = "AllBlacklistedApplicant?PageSize=50&searchTerm=" + Model.searchTerm },
                                new SelectListItem{ Text="100", Value = "AllBlacklistedApplicant?PageSize=100&searchTerm=" + Model.searchTerm },
                             },
                            Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>

                @using (Html.BeginForm("AllBlacklistedApplicant", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("TYPE", "AllBlacklistedApplicant",
                                    new
                                    {
                                        sortOrder = "applicantType",
                                        searchTerm = Model.searchTerm,
                                        PageSize = Model.PageSize,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("DATE", "AllBlacklistedApplicant",
                                    new
                                    {
                                        sortOrder = "blacklistDate",
                                        searchTerm = Model.searchTerm,
                                        PageSize = Model.PageSize,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "AllBlacklistedApplicant",
                                    new
                                    {
                                        sortOrder = "ApplicationNo",
                                        searchTerm = Model.searchTerm,
                                        PageSize = Model.PageSize,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "AllBlacklistedApplicant",
                                new
                                {
                                        sortOrder = "ApplicantName",
                                        searchTerm = Model.searchTerm,
                                        PageSize = Model.PageSize,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION PERFORMED", "AllBlacklistedApplicant")
                            </th>
                            <th>
                                @Html.ActionLink("BLACKLISTED BY", "AllBlacklistedApplicant",
                                new
                                {
                                        sortOrder = "BlacklistedBy",
                                        searchTerm = Model.searchTerm,
                                        PageSize = Model.PageSize,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "AllBlacklistedApplicant")                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.usersToShow)
                        {
                            <tr>
                                @if (item.CategoryList == ecims.Models.CategoryList.Individual)
                                {
                                    <td><span class="label label-success lb-md">Individual</span></td>
                                }
                                else if (item.CategoryList == ecims.Models.CategoryList.Corporate)
                                {
                                    <td><span class="label label-info lb-md">Corporate</span></td>
                                }
                                else if (item.CategoryList == ecims.Models.CategoryList.Exclusive)
                                {
                                    <td><span class="label label-warning lb-md">Exclusive User</span></td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.blacklistedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                @foreach (var blacklist in Model.BlacklistedApplicants)
                                {
                                    if (blacklist.Id == item.blacklistID)
                                    {
                                        <td>@blacklist.action</td>
                                    }
                                }
                                @foreach (var userList in Model.users)
                                {
                                    if (userList.Id == item.blacklistedBy)
                                    {
                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                    }
                                }
                                <td>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Click for Action</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="@liPGSO">@Html.ActionLink("Remove from Blacklist", "RemoveFromBlacklist", new { appID = item.Id })</li>
                                            <li>@Html.ActionLink("View Blacklist History", "ViewApplicantBlacklistHistory", new { appID = item.Id })</li>
                                            <li>@Html.ActionLink("View Blacklist Details", "BlacklistDetails", new { userAppNo = item.Id, blacklistId = item.blacklistID })</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.usersToShow.TotalItemCount</strong>
                    <hr />
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.usersToShow.PageCount < Model.usersToShow.PageNumber ? 0 : Model.usersToShow.PageNumber)
                    of @Model.usersToShow.PageCount

                    @Html.PagedListPager(Model.usersToShow, page => Url.Action("AllBlacklistedApplicant", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "AllBlacklistedApplicant?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>

