﻿@model ecims.ViewModels.allCertViewModel
@{
    ViewBag.Title = "All End-User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">All End-User Certificates</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>ISSUANCE DATE</th>
                                        <th>EXPIRY DATE</th>
                                        <th>CERTIFICATE NUMBER</th>
                                        <th>APPLICATION NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>CERTIFICATE STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var certificate in Model.EUCCertificates)
                                        {
                                            <tr>
                                                <td>@certificate.IssuanceDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@certificate.ExpiryDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@certificate.CertNo</td>
                                                <td>@certificate.applicationNo</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == certificate.ApplicantNo)
                                                    {
                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                    }
                                                }
                                                @if (certificate.CertStatus == ecims.Models.CertificateStatus.Issued)
                                                {
                                                    <td><span class="label label-success">Certificate Printed</span></td>
                                                }
                                                else if (certificate.CertStatus == ecims.Models.CertificateStatus.Certificate_Collected)
                                                {
                                                    <td><span class="label label-success">Certificate Collected</span></td>
                                                }
                                                else if (certificate.CertStatus == ecims.Models.CertificateStatus.Disputed)
                                                {
                                                    <td><span class="label label-danger">Disputed</span></td>
                                                }
                                                else if (certificate.CertStatus == ecims.Models.CertificateStatus.Expired)
                                                {
                                                    <td><span class="label label-danger">Expired Certificate</span></td>
                                                }
                                                else if (certificate.CertStatus == ecims.Models.CertificateStatus.Recalled)
                                                {
                                                    <td><span class="label label-info">Certificate Recalled</span></td>
                                                }
                                                else if (certificate.CertStatus == ecims.Models.CertificateStatus.Utilized)
                                                {
                                                    <td><span class="label label-success">Certificate Utilized</span></td>
                                                }
                                                else if (certificate.CertStatus == ecims.Models.CertificateStatus.Pending)
                                                {
                                                    <td><span class="label label-warning">Awaiting Certificate Issuance</span></td>
                                                }
                                                <td>

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>@Html.ActionLink("View Certificate Details", "EUCCertificateDetails", new { certID = certificate.CertNo })</li>
                                                            <li class="@liNSA @liAgency @liClientUser @liCustoms">@Html.ActionLink("Recall Certificate", "RecallCertificate", new { AppID = certificate.applicationNo }, new { @class = @liNSA, @liAgency, @liClientUser })</li>
                                                            <li class="@liNSA @liAgency @liClientUser @liCustoms">@Html.ActionLink("Download PDF of Certificate", "DownloadCert", new { AppID = certificate.applicationNo }, new { id = "PrintReport", @class = @liNSA, @liAgency, @liClientUser })</li>
                                                            <li class="@liNSA @liAgency @liClientUser @liCustoms">@Html.ActionLink("Upload Certificate", "UploadCertificate", new { CertNo = certificate.CertNo, EUCUserID = certificate.ApplicantNo }, new { @class = @liNSA, @liAgency, @liClientUser })</li>
                                                            @foreach (var uploadedCert in Model.upload) {
                                                                if (uploadedCert.CertNo == certificate.CertNo) { 
                                                                    <li class="@liAgency @liClientUser @liCustoms"><a href="@Url.Content(uploadedCert.UploadUrl)">Download Uploaded Certificate</a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#PrintReport").click(function () {
            window.open("@Url.Action("allCert", "Admin/DownloadCert")", "_blank");
        });
    });
</script>