﻿@model ecims.ViewModels.EndUserCertificatesViewModel
@using PagedList.Mvc;
@using ecims.Models;
@{
    ViewBag.Title = "All End-User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        @if (User.IsInRole("NSA"))
        {
            <h3 style="font-weight:bold;">All EUC Applications</h3>
        }
        else
        {
            <h3 style="font-weight:bold;">All EUC Applications</h3>
        }
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix" *@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                        new List<SelectListItem>
                            {
                            new SelectListItem{ Text="10", Value = "AllEndUserCertificateApplication?PageSize=10&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                            new SelectListItem{ Text="50", Value = "AllEndUserCertificateApplication?PageSize=50&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                            new SelectListItem{ Text="100", Value = "AllEndUserCertificateApplication?PageSize=100&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                            },
                            Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("AllEndUserCertificateApplication", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                            Model.searchTerm.ToString(),
                            new
                            {
                                @class = "",
                                @id = "SearchTermTextBox"
                            })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("DATE CREATED", "AllEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "AllEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicationNo",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "AllEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantNo",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "AllEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            <th>
                                @Html.ActionLink("ITEM CATEGORY", "AllEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ItemCategories",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "AllEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "Status",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            @if (User.IsInRole("NSA"))
                            {
                                <th>
                                    DURATION (DAYS)
                                </th>
                            }
                            <th>
                                @Html.ActionLink("ACTION", "AllEndUserCertificateApplication")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.certificatesToShow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                @if (item.User == null)
                                {
                                    /**/
                                    <td>
                                        NULL
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                @foreach (var itemCategory in Model.itemCategories)
                                {
                                    if (itemCategory.id == item.itemCat)
                                    {
                                        <td>@itemCategory.categoryName</td>
                                    }
                                }

                                @if (User.IsInRole("ONSA Support") || User.IsInRole("NSA"))
                                {
                                    if (item.EUCApprovalStatus == EUCApprovedStatus.Pending)
                                    {
                                        if (User.IsInRole("NSA"))
                                        {
                                            <td>
                                                <span class="label label-warning">Forwarded to ONSA Support</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <!-- Trigger/Open The Modal for client users -->
                                                <span id="myBtn" class="label label-warning">Pending</span>
                                                @*<button id="myBtn">Open Modal</button>*@
                                            </td>
                                        }
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Forwarded)
                                    {
                                        ApplicationDbContext _context = new ApplicationDbContext();

                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                        {
                                            /**/
                                            if (agency.Id == item.AgencyForwardedTo)
                                            {
                                                <td><span class="label label-success">Forwarded to @agency.Name</span></td>
                                            }
                                        }
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Approved)
                                    {
                                        if (item.certificateStatus == CertificateStatus.Pending)
                                        {
                                            <td><span class="label label-warning">Awaiting Certificate Issuance</span></td>
                                        }
                                        else if (item.certificateStatus == CertificateStatus.Issued)
                                        {
                                            <td><span class="label label-success">Certificate Issued</span></td>
                                        }
                                        else if (item.certificateStatus == CertificateStatus.Certificate_Collected)
                                        {
                                            <td><span class="label label-success">Certificate Collected</span></td>
                                        }
                                        else if (item.certificateStatus == CertificateStatus.Certificate_Collected)
                                        {
                                            <td><span class="label label-success">Certificate Collected</span></td>
                                        }
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Disendorsed)
                                    {
                                        ApplicationDbContext _context = new ApplicationDbContext();

                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                        {
                                            if (agency.Id == item.AgencyForwardedFrom)
                                            {
                                                <td><span class="label label-danger">Disendorsed by @agency.Name</span></td>
                                            }
                                        }
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Endorsed)
                                    {
                                        ApplicationDbContext _context = new ApplicationDbContext();

                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                        {
                                            if (agency.Id == item.AgencyForwardedFrom)
                                            {
                                                <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                            }
                                        }
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Requiring_Approval)
                                    {
                                        <td><span class="label label-info">Awaiting Approval from NSA</span></td>
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Rejected)
                                    {
                                        <td><span class="label label-danger">Rejected</span></td>
                                    }

                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued && item.certificateStatus == CertificateStatus.Certificate_Collected)
                                    {
                                        <td><span class="label label-success">Certificate Collected</span></td>
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued && item.certificateStatus == CertificateStatus.Issued)
                                    {
                                        <td><span class="label label-success">Certificate Collected</span></td>
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued && item.certificateStatus == CertificateStatus.Pending)
                                    {
                                        <td><span class="label label-success">Certificate Collected</span></td>
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Approved && item.certificateStatus == CertificateStatus.Certificate_Collected)
                                    {
                                        <td><span class="label label-success">Certificate Collected</span></td>
                                    }
                                }
                                else if (User.IsInRole("Client User") || User.IsInRole("Exclusive User"))
                                {
                                    if (item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Pending
                                        || item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Forwarded
                                        || item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Endorsed
                                        || item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Disendorsed
                                        || item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Requiring_Approval)
                                    {
                                        <td>
                                            <span class="label label-warning">Pending</span>
                                            <!-- Trigger/Open The Modal for client users -->
                                            @*<span id="myBtn" class="label label-warning">Pending</span>*@
                                            @*<button id="myBtn">View</button>*@
                                        </td>
                                    }
                                    else if (item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Rejected)
                                    {
                                        /**/
                                        <td><span class="label label-danger lb-md">Rejected</span></td>
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Approved)
                                    {
                                        <td><span class="label label-success">Approved</span></td>
                                    }
                                    else if (item.EUCApprovalStatus == EUCApprovedStatus.Approved && item.certificateStatus == CertificateStatus.Certificate_Collected)
                                    {
                                        <td><span class="label label-success">Certificate Collected</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-warning lb-md">Pending</span></td>
                                    }
                                }
                                else
                                {
                                    if (item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Rejected)
                                    {
                                        /**/
                                        <td><span class="label label-danger lb-md">Rejected</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-warning lb-md">Pending</span></td>
                                    }
                                }
                                @if (User.IsInRole("NSA"))
                                {
                                    <td>
                                        @{
                                            if (item.EUCApprovalStatus == EUCApprovedStatus.Pending)
                                            {
                                                var duration = (DateTime.Now - item.dateCreated).TotalDays;
                                                if (duration < 30)
                                                {
                                                    <span class="label label-info">@Math.Ceiling(duration)</span>
                                                }
                                                else if (duration > 30)
                                                {
                                                    <span class="label label-danger">@Math.Ceiling(duration)</span>
                                                }
                                            }
                                            else if (item.EUCApprovalStatus == EUCApprovedStatus.Forwarded || item.EUCApprovalStatus == EUCApprovedStatus.Endorsed || item.EUCApprovalStatus == EUCApprovedStatus.Disendorsed)
                                            {
                                                var duration = (DateTime.Now - item.dateForwarded).TotalDays;
                                                if (duration < 30)
                                                {
                                                    <span class="label label-info">@Math.Ceiling(duration)</span>
                                                }
                                                else if (duration > 30)
                                                {
                                                    <span class="label label-danger">@Math.Ceiling(duration)</span>
                                                }
                                            }
                                            else if (item.EUCApprovalStatus == EUCApprovedStatus.Approved
                                                || item.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued
                                                || item.EUCApprovalStatus == EUCApprovedStatus.Rejected)
                                            {
                                                var duration = (item.dateForwarded - item.dateCreated).TotalDays;
                                                if (duration < 1)
                                                {
                                                    <span class="label label-info">1 </span>
                                                }
                                                else
                                                {
                                                    if (duration < 30)
                                                    {
                                                        <span class="label label-info">@Math.Ceiling(duration)</span>
                                                    }
                                                    else if (duration > 30)
                                                    {
                                                        <span class="label label-danger">@Math.Ceiling(duration)</span>
                                                    }
                                                }
                                            }
                                            else if (item.EUCApprovalStatus == EUCApprovedStatus.Requiring_Approval)
                                            {
                                                var duration = (DateTime.Now - item.dateForwarded).TotalDays;
                                                if (duration < 30)
                                                {
                                                    <span class="label label-info">@Math.Ceiling(duration)</span>
                                                }
                                                else if (duration > 30)
                                                {
                                                    <span class="label label-danger">@Math.Ceiling(duration)</span>
                                                }
                                            }
                                        }
                                    </td>
                                            }
                                <td>
                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                                            }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.certificatesToShow.TotalItemCount</strong>
                    <hr />
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                    of @Model.certificatesToShow.PageCount

                    @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("AllEndUserCertificateApplication", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm, CurrentSort = ViewBag.CurrentSort, sortOrder = ViewBag.CurrentSort }))
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <p>Some text in the Modal..</p>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="~/Scripts/eucstatus/jquery.smartWizard.js"></script>
<script src="~/Scripts/eucstatus/modal.js"></script>
<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "AllEndUserCertificateApplication?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>
