﻿@model ecims.ViewModels.EUCViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "All End User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
    var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">All End-User Certificates</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "AllEndUserCertificates?PageSize=10&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="50", Value = "AllEndUserCertificates?PageSize=50&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="100", Value = "AllEndUserCertificates?PageSize=100&searchTerm=" + Model.searchTerm },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("AllEndUserCertificates", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("EXPIRY DATE", "AllEndUserCertificates",
                                new
                                {
                                    sortOrder = "ExpiryDate",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ISSUANCE DATE", "AllEndUserCertificates",
                                new
                                {
                                    sortOrder = "IssuanceDate",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("CERTIFICATE NUMBER", "AllEndUserCertificates",
                                new
                                {
                                    sortOrder = "CertificateNumber",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "AllEndUserCertificates",
                                new
                                {
                                    sortOrder = "ApplicationNumber",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "AllEndUserCertificates",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("CERTIFICATE STATUS", "AllEndUserCertificates",
                                new
                                {
                                    sortOrder = "CertificateStatus",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "AllEndUserCertificates",
                                new
                                {
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.certificatesToShow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssuanceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                <td>
                                    @*@item.User.FirstName @item.User.LastName*@
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                @if (User.IsInRole("Client User") || User.IsInRole("Exclusive User") || User.IsInRole("Agency"))
                                {
                                    if (item.CertStatus == ecims.Models.CertificateStatus.Disputed)
                                    {
                                        <td><span class="label label-danger">Disputed</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-success">Approved</span></td>
                                    }                                   
                                }
                                else
                                {
                                    if (item.CertStatus == ecims.Models.CertificateStatus.Issued)
                                    {
                                        <td><span class="label label-success">Certificate Printed</span></td>
                                    }
                                    else if (item.CertStatus == ecims.Models.CertificateStatus.Certificate_Collected)
                                    {
                                        <td><span class="label label-success">Certificate Collected</span></td>
                                    }
                                    else if (item.CertStatus == ecims.Models.CertificateStatus.Disputed)
                                    {
                                        <td><span class="label label-danger">Disputed</span></td>
                                    }
                                    else if (item.CertStatus == ecims.Models.CertificateStatus.Expired)
                                    {
                                        <td><span class="label label-danger">Expired Certificate</span></td>
                                    }
                                    else if (item.CertStatus == ecims.Models.CertificateStatus.Recalled)
                                    {
                                        <td><span class="label label-info">Certificate Recalled</span></td>
                                    }
                                    else if (item.CertStatus == ecims.Models.CertificateStatus.Utilized)
                                    {
                                        <td><span class="label label-success">Certificate Utilized</span></td>
                                    }
                                    else if (item.CertStatus == ecims.Models.CertificateStatus.Pending)
                                    {
                                        <td><span class="label label-warning">Awaiting Certificate Issuance</span></td>
                                    }
                                }
                                
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Click for Action</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = item.applicationNo })</li>
                                            <li>@Html.ActionLink("View Certificate Details", "EUCCertificateDetails", new { certID = item.CertNo })</li>
                                            <li class="@liONSASupport @liPGSO @liAgency @liClientUser @liCustoms @liExclusiveUser">@Html.ActionLink("Recall Certificate", "RecallCertificate", new { AppID = item.applicationNo })</li>
                                            <li class="@*@liONSASupport*@ @liPGSO @liAgency @liClientUser @liCustoms @liExclusiveUser">@Html.ActionLink("Download PDF of Certificate", "DownloadCert", new { AppID = item.applicationNo }, new { id = "PrintReport"})</li>
                                            <li class="@*@liONSASupport*@ @liPGSO @liAgency @liClientUser @liCustoms @liExclusiveUser">@Html.ActionLink("Upload Certificate", "UploadCertificate", new { CertNo = item.CertNo, EUCUserID = item.UserId })</li>
                                            @foreach (var uploadedCert in Model.UploadedCertificates)
                                            {
                                                if (uploadedCert.CertNo == item.CertNo)
                                                {
                                                    <li class="@*@liONSASupport*@ @liAgency @liClientUser @liCustoms @liExclusiveUser"><a href="@Url.Content(uploadedCert.UploadUrl)">Download Uploaded Certificate</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id='Paging' style="text-align:center">
                    <div style="text-align:center">
                        Total number of records: <strong>@Model.certificatesToShow.TotalItemCount</strong>
                        <hr />
                    </div>
                    Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                    of @Model.certificatesToShow.PageCount

                    @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("AllEndUserCertificates", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "AllEndUserCertificates?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>


