﻿@model ecims.ViewModels.allEUCApplicationsViewModel
@using ecims.Models
@{
    ViewBag.Title = "All EUC Applications";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">All EUC Applications</h3>
                <p>Click on an application to view the applications' details.</p>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="tableReponsive">

                        <div class="col-md-12 col-lg-12 col-sm-12">

                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>DATE CREATED</th>
                                        <th>APPLICATION NUMBER</th>
                                        <th>ITEM CATEGORY</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var certificate in Model.EndUserCertificate)
                                        {
                                            if (Model.user.PortalUserCategoryId == 5)
                                            {
                                                <tr>
                                                    <td>@certificate.dateCreated.ToString("dd-MMM-yyyy")</td>
                                                    <td>@certificate.applicationNo</td>
                                                    @foreach (var user in Model.UsersToQuery)
                                                    {
                                                        if (user.Id == certificate.UserID)
                                                        {
                                                            <td>@user.ApplicationNumber</td>
                                                            <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                        }
                                                    }
                                                    @foreach (var item in Model.EndUserCategories)
                                                    {
                                                        if (certificate.itemCat == item.id)
                                                        {
                                                            <td>@item.categoryName</td>
                                                        }
                                                    }
                                                    @if (certificate.EUCApprovalStatus == EUCApprovedStatus.Pending)
                                                    {
                                                        <td><span class="label label-warning">Pending</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Approved)
                                                    {
                                                        if (certificate.certificateStatus == CertificateStatus.Pending)
                                                        {
                                                            <td><span class="label label-warning">Awaiting Certificate Issuance</span></td>
                                                        }
                                                        else if (certificate.certificateStatus == CertificateStatus.Issued)
                                                        {
                                                            <td><span class="label label-success">Approved! Certificate Issued</span></td>
                                                        }
                                                        else if (certificate.certificateStatus == CertificateStatus.Certificate_Collected)
                                                        {
                                                            <td><span class="label label-success">Approved! Certificate Collected</span></td>
                                                        }
                                                        else if (certificate.certificateStatus == CertificateStatus.Certificate_Collected)
                                                        {
                                                            <td><span class="label label-success">Approved! Certificate Collected</span></td>
                                                        }
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Disendorsed)
                                                    {
                                                        ApplicationDbContext _context = new ApplicationDbContext();

                                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                                        {
                                                            if (agency.Id == certificate.AgencyForwardedFrom)
                                                            {
                                                                <td><span class="label label-danger">Disendorsed by @agency.Name</span></td>
                                                            }
                                                        }
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Endorsed)
                                                    {
                                                        ApplicationDbContext _context = new ApplicationDbContext();

                                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                                        {
                                                            if (agency.Id == certificate.AgencyForwardedFrom)
                                                            {
                                                                <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                            }
                                                        }
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Forwarded)
                                                    {
                                                        ApplicationDbContext _context = new ApplicationDbContext();

                                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                                        {
                                                            /**/
                                                            if (agency.Id == certificate.AgencyForwardedTo)
                                                            {
                                                                <td><span class="label label-success">Forwarded to @agency.Name</span></td>
                                                            }
                                                        }
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Rejected)
                                                    {
                                                        <td><span class="label label-danger">Rejected</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Requiring_Approval)
                                                    {
                                                        <td><span class="label label-info">Awaiting Approval</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued && certificate.certificateStatus == CertificateStatus.Certificate_Collected)
                                                    {
                                                        <td><span class="label label-success">Approved! Certificate Collected</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued && certificate.certificateStatus == CertificateStatus.Issued)
                                                    {
                                                        <td><span class="label label-success">Approved! Certificate Collected</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued && certificate.certificateStatus == CertificateStatus.Pending)
                                                    {
                                                        <td><span class="label label-success">Approved! Certificate Collected</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Approved && certificate.certificateStatus == CertificateStatus.Certificate_Collected)
                                                    {
                                                        <td><span class="label label-success">Approved! Certificate Collected</span></td>
                                                    }
                                                    <td>
                                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNo }, new { @class = "btn btn-success" })
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@certificate.dateCreated.ToString("dd-MMM-yyyy")</td>
                                                    <td>@certificate.applicationNo</td>
                                                    @foreach (var item in Model.EndUserCategories)
                                                    {
                                                        if (certificate.itemCat == item.id)
                                                        {
                                                            <td>@item.categoryName</td>
                                                        }
                                                    }
                                                    @foreach (var user in Model.UsersToQuery)
                                                    {
                                                        if (user.Id == certificate.UserID)
                                                        {
                                                            <td>@user.ApplicationNumber</td>
                                                            <td>@user.FirstName.ToUpper() @user.LastName.ToUpper() @user.OtherName.ToUpper()</td>
                                                        }
                                                    }
                                                    @if (certificate.EUCApprovalStatus == EUCApprovedStatus.Pending)
                                                    {
                                                        <td><span class="label label-warning">Pending</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Approved)
                                                    {
                                                        <td><span class="label label-success">Approved</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Disendorsed)
                                                    {
                                                        <td><span class="label label-danger">Disendorsed</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Endorsed)
                                                    {
                                                        <td><span class="label label-success">Endorsed</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Forwarded)
                                                    {
                                                        <td><span class="label label-success">Forwarded</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Rejected)
                                                    {
                                                        <td><span class="label label-danger">Rejected</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Requiring_Approval)
                                                    {
                                                        <td><span class="label label-info">Awaiting Approval</span></td>
                                                    }
                                                    else if (certificate.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued)
                                                    {
                                                        <td><span class="label label-info">Approved</span></td>
                                                    }
                                                    <td>
                                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNo, ID = certificate.id }, new { @class = "btn btn-success" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.js"></script>
