﻿@model ecims.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "All Portal Users";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">List of Portal Users</h3>
                <p>Click on a portal user to view the portal users' details. Click on an EDIT button to update a portal users details</p>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...." title="Type in item to Search">
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <table id="dataTable" class="display" cellspacing="0">
                            <tr>
                                <th>DATE CREATED</th>
                                <th>FULL NAME</th>
                                <th>USER TYPE</th>
                                <th>EMAIL ADDRESS</th>
                                <th>MOBILE NUMBER</th>
                                <th>AGENCY</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                            @foreach (var user in Model.userList)
                            {
                                <tr>
                                    <td>@DateTime.Now.ToString()</td>
                                    <td>
                                        @{
                                        var fullName = Model.user.FirstName + " " + Model.user.LastName;
                                        @Html.DisplayFor(modelItem => fullName);
                                    }
                                </td>
                                <td></td>
                                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                                <td>@Html.DisplayFor(modelItem => user.PhoneNumber)</td>
                                <td></td>
                                <td>@Html.DisplayFor(modelItem => user.Status)</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Click for Action</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">View User Details</a></li>
                                            <li><a href="#">Edit User</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                                        }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
