﻿@model ecims.ViewModels.AllUserSignUpRequestsViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Rejected User Sign Up Requests";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Rejected User Sign Up Requests</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            @if (TempData["Unsuccessul"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Unsuccessul"]</p>
            }
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           /*(SelectList)ViewBag.PageSizes*/
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "AllRejectedSignUpRequests?PageSize=10&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                               new SelectListItem{ Text="50", Value = "AllRejectedSignUpRequests?PageSize=50&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                               new SelectListItem{ Text="100", Value = "AllRejectedSignUpRequests?PageSize=100&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("AllRejectedSignUpRequests", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("TYPE", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "ApplicantType",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("DATE", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("LAST NAME", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "LastName",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("FIRST NAME", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "FirstName",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("E-MAIL", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "Email",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("MOBILE", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "AllRejectedSignUpRequests",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.usersToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "AllRejectedSignUpRequests")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.usersToShow)
                        {
                            <tr>
                                @if (item.CategoryList == ecims.Models.CategoryList.Individual)
                                {
                                    <td><span class="label label-success lb-md">Individual</span></td>
                                }
                                else if (item.CategoryList == ecims.Models.CategoryList.Corporate)
                                {
                                    <td><span class="label label-info lb-md">Corporate</span></td>
                                }
                                else if (item.CategoryList == ecims.Models.CategoryList.Exclusive)
                                {
                                    <td><span class="label label-warning lb-md">Exclusive User</span></td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    <span class="label label-danger lb-md">Rejected</span>
                                </td>
                                
                                <td>
                                    @Html.ActionLink("View Applicant Details", "applicantDetails", new { id = item.Id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.usersToShow.TotalItemCount</strong>
                    <hr />
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.usersToShow.PageCount < Model.usersToShow.PageNumber ? 0 : Model.usersToShow.PageNumber)
                    of @Model.usersToShow.PageCount

                    @Html.PagedListPager(Model.usersToShow, page => Url.Action("AllRejectedSignUpRequests", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm, CurrentSort = ViewBag.CurrentSort, sortOrder = ViewBag.CurrentSort }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "AllRejectedSignUpRequests?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
        //var search = $('#SearchTermTextBox').val();
        @*$.ajax({
            url: '@Url.Action("Pagination", "Pagination")', //
            dataType: "json",
            data: { searchTerm: $('#SearchTermTextBox').val() },
            type: "POST",
            success: function (result) {
                console.log(result)
            },
            error: function (xhr) {
                alert("error");
            }
        });*@
    }
</script>

