﻿@model ecims.ViewModels.AnalyticsViewModel

@{
    ViewBag.Title = "Analytic";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Generate Analytics</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <label for="ReportType">Report Type:</label>
                                <select class="form-control" id="ReportType" onchange="show();">
                                    <option>-Select Report Type-</option>
                                    <option value="1">Reports on Applications</option>
                                    <option value="2">Reports on Certificates</option>
                                    <option value="3">Reports on Users</option>
                                    <option value="4">Chart Reports</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="panel panel-primary" id="ApplicationReport" style="display:none;">
                            <div class="panel-heading">Generate Reports for EUC Application</div>
                            <div class="panel-body">
                                <p style="font-weight:bold;">Generate reports on EUC Applications based on this filter properties</p>
                                <form class="form-horizontal">
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        @* Select the type of report in this category to view *@
                                        <label for="reportCat">Select Report to View:</label>
                                        @Html.LabelFor(m => m.RptType, "Report Type:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.RptType, new { @class = "form-control", @id = "reportCat", @onchange = "showCat();" })
                                        @Html.ValidationMessageFor(m => m.RptType, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8" id="dateRange" @*style="display:none;"*@>
                                        <div class='col-sm-12 col-md-12 col-lg-12'>
                                            <label class="control-label" for="datetimepicker1">Date Period Application was created:</label>
                                        </div>
                                        <div class='col-sm-6 col-md-6 col-lg-6'>
                                            @Html.LabelFor(m => m.DateFrom, "Date From:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.DateFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Report Date From" } })
                                            
                                        </div>
                                        <div class='col-sm-6 col-md-6 col-lg-6'>
                                            @Html.LabelFor(m => m.DateTo, "Date To:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.DateTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Report Date To" } })
                                            
                                        </div>

                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="appNo" style="display:none;">
                                        @Html.LabelFor(m => m.ApplicantNo, "Applicant Number:", new { @class = "col-form-label" })
                                        @Html.TextBoxFor(m => m.ApplicantNo, new { @class = "form-control", placeholder = "e.g. APN23434554" })
                                        @Html.ValidationMessageFor(m => m.ApplicantNo, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="appStatus" style="display:none;">
                                        @Html.LabelFor(m => m.ApproveStatus, "Status of Application:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.ApproveStatus, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ApproveStatus, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="importCountry" style="display:none;">
                                        @Html.LabelFor(m => m.CountryID, "Importing Country:", new { @class = "col-form-label" })
                                        @Html.DropDownListFor(m => m.CountryID, new SelectList(Model.Country, "id", "CountryName"), "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CountryID, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="itemCat" style="display:none;">
                                        @Html.LabelFor(m => m.ItemCatID, "Item Category:", new { @class = "col-form-label" })
                                        @Html.DropDownListFor(m => m.ItemCatID, new SelectList(Model.ItemCat, "id", "categoryName"), "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ItemCatID, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="port" style="display:none;">
                                        @Html.LabelFor(m => m.PortID, "Port of Entry:", new { @class = "col-form-label" })
                                        @Html.DropDownListFor(m => m.PortID, new SelectList(Model.PortOfLaden, "Id", "Name"), "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PortID, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        <input type="submit" value="Generate Report" name="applicationReport" id="applicationReport" class="btn btn-success" target="_blank" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-primary" id="EUCCert" style="display:none;">
                            <div class="panel-heading">Generate Reports for EUC Certificates</div>
                            <div class="panel-body">
                                <p style="font-weight:bold;">Generate reports on End-User Certificates based on this filter properties</p>
                                <form class="form-horizontal">
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        @* Select the type of report in this category to view *@
                                        <label for="reportCat">Select Report to View:</label>
                                        @Html.LabelFor(m => m.CertRptType, "ReportType:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.CertRptType, new { @class = "form-control", @id = "reportCertCat", @onchange = "showCertCat();" })
                                        @Html.ValidationMessageFor(m => m.CertRptType, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8" id="certDateRange" style="display:none;">
                                        <div class='col-sm-12 col-md-12 col-lg-12'>
                                            <label class="control-label" for="datetimepicker1">Validity Period is between:</label>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            @Html.LabelFor(m => m.CertDateFrom, "Date From:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.CertDateFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Report Date From" } })
                                            
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            @Html.LabelFor(m => m.CertDateTo, "Date To:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.CertDateTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Report Date To" } })
                                            
                                        </div>
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="certAppNo" style="display:none;">
                                        @Html.LabelFor(m => m.ApplicationNumber, "Application Number:", new { @class = "col-form-label" })
                                        @Html.TextBoxFor(m => m.ApplicationNumber, new { @class = "form-control", placeholder = "e.g. APPLN23434554" })
                                        @Html.ValidationMessageFor(m => m.ApplicationNumber, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="certStatus" style="display:none;">
                                        @Html.LabelFor(m => m.CertStatus, "Status of Certificate:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.CertStatus, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CertStatus, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        <input type="submit" value="Generate Report" name="certificateReport" id="certificateReport" class="btn btn-success" target="_blank" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-primary" id="Users" style="display:none;">
                            <div class="panel-heading">Generate Reports for Users</div>
                            <div class="panel-body">
                                <p style="font-weight:bold;">Generate reports on Users based on this filter properties</p>
                                <form class="form-horizontal">
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        @* Select the type of report in this category to view *@
                                        <label for="reportCat">Select Report to View:</label>
                                        @Html.LabelFor(m => m.UserRptType, "ReportType:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.UserRptType, new { @class = "form-control", @id = "reportUserCat", @onchange = "showUserCat();" })
                                        @Html.ValidationMessageFor(m => m.UserRptType, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="userDateRange" style="display:none;">
                                        <div class='col-sm-12 col-md-12 col-lg-12'>
                                            <label class="control-label" for="datetimepicker1">User Created Date Range:</label>
                                        </div>
                                        <div class='col-sm-6 col-md-6 col-lg-6'>
                                            @Html.LabelFor(m => m.UserDateFrom, "Date From:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.UserDateFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "Date From" } })
                                            
                                        </div>
                                        <div class='col-sm-6 col-md-6 col-lg-6'>
                                            @Html.LabelFor(m => m.UserDateTo, "Date To:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.UserDateTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Date To" } })
                                            
                                        </div>

                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="userAgency" style="display:none;">
                                        @Html.LabelFor(m => m.AgencyID, "User Agency:", new { @class = "col-form-label" })
                                        @Html.DropDownListFor(m => m.AgencyID, new SelectList(Model.AgencyList, "Id", "Name"), "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.AgencyID, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8' id="userStatus" style="display:none;">
                                        @Html.LabelFor(m => m.UserApprovedStatus, "Status of User Account:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.UserApprovedStatus, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserApprovedStatus, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        <input type="submit" value="Generate Report" name="userReport" id="userReport" class="btn btn-success" target="_blank" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="panel panel-primary" id="ChartReport" style="display:none;">
                            <div class="panel-heading">Generate Chart Reports</div>
                            <div class="panel-body">
                                <p style="font-weight:bold;">Generate chart reports on EUC Applications/Certificates based on this filter properties</p>
                                <form class="form-horizontal">
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        @* Select the type of report in this category to view *@
                                        <label for="reportCat">Select Report to View:</label>
                                        @Html.LabelFor(m => m.ChartRptType, "Report Type:", new { @class = "col-form-label" })
                                        @Html.EnumDropDownListFor(m => m.ChartRptType, new { @class = "form-control", @id = "reportChartCat", @onchange = "showChartCat();" })
                                        @Html.ValidationMessageFor(m => m.ChartRptType, "", new { @class = "label label-warning lb-sm" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8" id="ChartdateRange" @*style="display:none;"*@>
                                        <div class='col-sm-12 col-md-12 col-lg-12'>
                                            <label class="control-label" for="datetimepicker1">Date Period:</label>
                                        </div>
                                        <div class='col-sm-6 col-md-6 col-lg-6'>
                                            @Html.LabelFor(m => m.ChartDateFrom, "Date From:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.ChartDateFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Report Date From" } })
                                            
                                        </div>
                                        <div class='col-sm-6 col-md-6 col-lg-6'>
                                            @Html.LabelFor(m => m.ChartDateTo, "Date To:", new { @class = "col-form control-label", placeholder = "eg 1 Jan 2017" })
                                            @Html.EditorFor(m => m.ChartDateTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Report Date To" } })
                                            
                                        </div>
                                    </div>
                                    <div class='col-sm-8 col-md-8 col-lg-8'>
                                        <input type="submit" value="Generate Report" name="chartReport" id="chartReport" class="btn btn-success" target="_blank" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd-M-yy",
            changeMonth: true,
            changeYear: true,
            YearRange: "-60:+0"
        })
    });
    @*$(function () {
        $("#applicationReport").click(function () {
            window.open("@Url.Action("ViewReport", "Admin")", '_blank');
        });
    });

    $(function () {
        $("#certificateReport").click(function () {
            window.open("@Url.Action("ViewReport", "Admin")", '_blank');
        });
    });

    $(function () {
        $("#userReport").click(function () {
            window.open("@Url.Action("ViewReport", "Admin")", '_blank');
        });
    });*@
    function show() {
        var option = document.getElementById("ReportType").value;
        if (option == "1") {
            document.getElementById("ApplicationReport").style.display = "block";
            document.getElementById("EUCCert").style.display = "none";
            document.getElementById("Users").style.display = "none";
            document.getElementById("ChartReport").style.display = "none";
        }
        else if (option == "2") {
            document.getElementById("ApplicationReport").style.display = "none";
            document.getElementById("EUCCert").style.display = "block";
            document.getElementById("Users").style.display = "none";
            document.getElementById("ChartReport").style.display = "none";
        }
        else if (option == "3") {
            document.getElementById("ApplicationReport").style.display = "none";
            document.getElementById("EUCCert").style.display = "none";
            document.getElementById("Users").style.display = "block";
            document.getElementById("ChartReport").style.display = "none";
        }
        else if (option == "4") {
            document.getElementById("ApplicationReport").style.display = "none";
            document.getElementById("EUCCert").style.display = "none";
            document.getElementById("Users").style.display = "none";
            document.getElementById("ChartReport").style.display = "block";
        }
        else {
            document.getElementById("ApplicationReport").style.display = "none";
            document.getElementById("EUCCert").style.display = "none";
            document.getElementById("Users").style.display = "none";
            document.getElementById("ChartReport").style.display = "none";
        }
    }
    //Div option for Application report category
    function showCat() {
        var option = document.getElementById("reportCat").value;
        if (option == "1") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "2") {
            document.getElementById("appNo").style.display = "block";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "3") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "block";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "4") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "block";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "5") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "block";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "6") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "block";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "7") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "8") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "9") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "10") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else if (option == "11") {
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "block";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "block";
        }
        else {
            document.getElementById("userDateRange").style.display = "none";
            document.getElementById("userAgency").style.display = "none";
            document.getElementById("userStatus").style.display = "none";
            document.getElementById("certDateRange").style.display = "none";
            document.getElementById("certAppNo").style.display = "none";
            document.getElementById("certStatus").style.display = "none";
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "none";
        }
    }

    //Div option for Certificates report category
    function showCertCat() {
        var option = document.getElementById("reportCertCat").value;
        if (option == "1") {
            document.getElementById("certDateRange").style.display = "block";
            document.getElementById("certAppNo").style.display = "none";
            document.getElementById("certStatus").style.display = "none";
        }
        else if (option == "2") {
            document.getElementById("certDateRange").style.display = "block";
            document.getElementById("certAppNo").style.display = "block";
            document.getElementById("certStatus").style.display = "none";
        }
        else if (option == "3") {
            document.getElementById("certDateRange").style.display = "block";
            document.getElementById("certAppNo").style.display = "none";
            document.getElementById("certStatus").style.display = "block";
        }
        else {
            document.getElementById("userDateRange").style.display = "none";
            document.getElementById("userAgency").style.display = "none";
            document.getElementById("userStatus").style.display = "none";
            document.getElementById("certDateRange").style.display = "none";
            document.getElementById("certAppNo").style.display = "none";
            document.getElementById("certStatus").style.display = "none";
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "none";
        }
    }

    //Div option for User Report Category
    function showUserCat() {
        var option = document.getElementById("reportUserCat").value;
        if (option == "1") {
            document.getElementById("userDateRange").style.display = "block";
            document.getElementById("userAgency").style.display = "none";
            document.getElementById("userStatus").style.display = "none";
        }
        else if (option == "2") {
            document.getElementById("userDateRange").style.display = "block";
            document.getElementById("userAgency").style.display = "block";
            document.getElementById("userStatus").style.display = "none";
        }
        else if (option == "3") {
            document.getElementById("userDateRange").style.display = "block";
            document.getElementById("userAgency").style.display = "none";
            document.getElementById("userStatus").style.display = "block";
        }
        else {
            document.getElementById("userDateRange").style.display = "none";
            document.getElementById("userAgency").style.display = "none";
            document.getElementById("userStatus").style.display = "none";
            document.getElementById("certDateRange").style.display = "none";
            document.getElementById("certAppNo").style.display = "none";
            document.getElementById("certStatus").style.display = "none";
            document.getElementById("appNo").style.display = "none";
            document.getElementById("appStatus").style.display = "none";
            document.getElementById("importCountry").style.display = "none";
            document.getElementById("itemCat").style.display = "none";
            document.getElementById("port").style.display = "none";
            document.getElementById("dateRange").style.display = "none";
        }
    }

    $(window).bind("pageshow", function (event) {
        if (event.originalEvent.persisted) {
            window.location.reload();
        }
    });
</script>
