﻿@model ecims.ViewModels.applicantDetailsViewModel
@{
    ViewBag.Title = "ApplicantDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
}
<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
<style type="text/css">
    a.fancybox img {
        border: none;
        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
        -o-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    a.fancybox:hover img {
        position: relative;
        z-index: 999;
        -o-transform: scale(1.03,1.03);
        -ms-transform: scale(1.03,1.03);
        -moz-transform: scale(1.03,1.03);
        -webkit-transform: scale(1.03,1.03);
        transform: scale(1.03,1.03);
    }
</style>


<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">User Details</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">APPLICANT PHOTO</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div style="text-align: center; vertical-align: middle;">
                                        @{
                                            var userImage = Model.Applicant.PassportUrl;
                                            var userIdImage = Model.Applicant.IdUrl;
                                        }
                                        @{
                                            if (userImage != null)
                                            {
                                                <div style="padding-bottom:10px;"><img src="@userImage" class="img-rounded fancybox" width="200" height="200" target="_blank" /></div>
                                            }
                                            else if (userImage == null)
                                            {
                                                <div style="padding-bottom:10px;"><img src="~/img/face.jpg" class="img-rounded fancybox" width="200" height="200" /></div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">BIO DATA</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <dl class="dl-horizontal">
                                        @if (Model.Applicant.PortalUserCategoryId == 29)
                                        {
                                            <dt style="width:30%;">Organization Name:</dt>
                                            <dd>@Html.DisplayFor(model => model.Applicant.OrganizationName)</dd>
                                        }
                                        <dt style="width:30%;">Last Name:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.LastName)</dd>
                                        <dt style="width:30%;">Other Name:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.OtherName)</dd>
                                        <dt style="width:30%;">First Name:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.FirstName)</dd>
                                        <dt style="width:30%;">E-Mail:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.Email)</dd>
                                        <dt style="width:30%;">Phone Number:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.PhoneNumber)</dd>
                                        <dt style="width:30%;">Gender:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.Gender)</dd>
                                        <dt style="width:30%;">Marital Status:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.MaritalStatus)</dd>
                                        @if (Model.Applicant.PortalUserCategoryId != 29)
                                        {
                                            <dt style="width:30%;">Address Line 1:</dt>
                                            <dd>@Html.DisplayFor(model => model.Applicant.AddressLine1)</dd>
                                            <dt style="width:30%;">Address Line 2:</dt>
                                            <dd>@Html.DisplayFor(model => model.Applicant.AddressLine2)</dd>
                                        }
                                        <dt style="width:30%;">Date of Birth:</dt>
                                        <dd>@Model.Applicant.DOB.ToShortDateString()</dd>
                                        <dt style="width:30%;">Nationality:</dt>
                                        @foreach (var country in Model.Countries)
                                        {
                                            if (Model.Applicant.Country == country.id)
                                            {
                                                <dd>@Html.DisplayFor(model => country.CountryName)</dd>
                                            }
                                            else
                                            {
                                                <dd></dd>
                                            }
                                        }

                                        <dt style="width:30%;">State of Origin:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.StateOfOrigin.Name)</dd>
                                        @if (Model.Applicant.PortalUserCategoryId != 29)
                                        {
                                            <dt style="width:30%;">Tax Identification Number:</dt>
                                            <dd>@Html.DisplayFor(model => model.Applicant.TIN)</dd>
                                        }
                                    </dl>
                                </div>
                            </div>
                        </div>
                        @{
                            if (userIdImage != null)
                            {
                                <div class="panel panel-success">
                                    <div class="panel-heading">ID PHOTO</div>
                                    <div class="panel-body">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <div style="text-align: center; vertical-align: middle;">
                                                <div style="padding-bottom:10px;"><img src="@userIdImage" class="img-rounded fancybox" height="200" width="200" target="_blank" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="panel panel-success">
                            <div class="panel-heading">MEANS OF IDENTIFICATION</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <dl class="dl-horizontal">
                                        <dt style="width:30%;">Means of Identification:</dt>
                                        @foreach (var idMeans in Model.MeansOfIdentification)
                                        {
                                            if (idMeans.Id == Model.Applicant.MeansOfIdentificationId)
                                            {
                                                <dd>@idMeans.Name</dd>
                                            }
                                            else
                                            {
                                                <dd></dd>
                                            }
                                        }
                                        <dt style="width:30%;">Identification Number:</dt>
                                        <dd>@Html.DisplayFor(model => model.Applicant.DriversLicenseNumber)</dd>
                                        <dt style="width:30%;">Issue Date:</dt>
                                        <dd>@Model.Applicant.LicenseDateOfIssuance.ToShortDateString()</dd>
                                        <dt style="width:30%;">Date of Expiry:</dt>
                                        <dd>@Model.Applicant.LicenseDateOfExpiry.ToShortDateString()</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-success">
                            <div class="panel-heading">COMPANY DETAILS</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <dl class="">
                                        <dt style="width:30%;">
                                        </dt>
                                        <dd>
                                            @{
                                                if (Model.Applicant.CategoryId == 1)
                                                {
                                                    var companySectionMessage = "User Account is An Individual Account, No Company Information to Show";
                                                    <h5 class="pull-left">
                                                        <label class="label label-danger">
                                                            @companySectionMessage
                                                        </label>
                                                    </h5>
                                                }
                                                else if (Model.Applicant.CategoryId == 2 && Model.DoesCompanyExist > 0)
                                                {
                                                    <div style="text-align: center; vertical-align: middle;">
                                                        @{
                                                            if (Model.Company.Logo == null || Model.Company.Logo.Count() == 0)
                                                            {
                                                                <div style="padding-bottom:10px;">
                                                                    <img src="/img/face.jpg" class="img-rounded fancybox" width="200" height="200" />
                                                                </div>
                                                            }
                                                            else if (Model.Company.Logo != null || Model.Company.Logo.Count() == 0)
                                                            {
                                                                <div style="padding-bottom:10px;"><img src="@Model.Company.Logo" class="img-rounded fancybox" width="200" height="200" target="_blank" /></div>
                                                            }

                                                        }
                                                    </div>
                                                    <dl class="dl-horizontal">
                                                        <dt style="width:30%;">Company Name:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.Name)</dd>
                                                        <dt style="width:30%;">Address:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.Address)</dd>
                                                        <dt style="width:30%;">State:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.State.Name)</dd>
                                                        <dt style="width:30%;">Company Phone Number:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.PhoneNo)</dd>
                                                        <dt style="width:30%;">Email:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.Email)</dd>
                                                        <dt style="width:30%;">Website:</dt>
                                                        @if (Model.Company.Website == null)
                                                        {
                                                            <dd>N/A</dd>
                                                        }
                                                        else
                                                        {
                                                            <dd>@Html.DisplayFor(model => model.Company.Website)</dd>
                                                        }
                                                        <dt style="width:30%;">CAC Number:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.CACNo)</dd>
                                                        <dt style="width:30%;">Date of Incorporation:</dt>
                                                        <dd>@Html.DisplayFor(model => model.Company.DateOfIncorporation)</dd>
                                                        <dt style="width:30%;">Certificate of Incorporation:</dt>
                                                        <dd>
                                                            @if (Model.Company.CertificateOfIncorporation != null)
                                                            {
                                                                <div style="padding-bottom:10px;"><img src="@Model.Company.CertificateOfIncorporation" class="img-rounded fancybox" width="200" height="200" target="_blank" /></div>
                                                            }
                                                        </dd>
                                                    </dl>
                                                            }
                                            }

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        @if (Model.Applicant.ApprovalStatus == ecims.Models.ApprovedStatus.Pending)
                        {
                            <div class="panel panel-success">
                                <div class="panel-body">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.RejectReason, "Reason For Rejecting SignUp Request:", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-9">
                                            @Html.TextAreaFor(m => m.RejectReason, new { @class = "form-control", placeholder = "If you are rejecting this signup request, provide reasons in this box", @id = "rejectReason", @rows = "3" })
                                            <span class="label label-warning lb-sm" id="rejectReasonError"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Applicant.ApprovalStatus == ecims.Models.ApprovedStatus.Rejected)
                        {
                            <div class="panel panel-success">
                                <div class="panel-heading">REJECT REASON</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <h4>@Model.Applicant.ApplicationRejectReason</h4>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="">
                            <div class="panel panel-success">
                                <div class="panel-heading">PREVIOUS EUC APPLICATIONS</div>
                                <div class="panel-body">

                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <table id="dataTable" class="display" cellspacing="0">
                                            <thead>
                                                <tr class="header">
                                                    <th>Date Created</th>
                                                    <th>Application Number</th>
                                                    <th>Item Category</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{  foreach (var certificate in Model.EndUserCertificate)
                                                {
                                                    <tbody>

                                                        @*var descriptionId = certificate.itemCat;*@
                                                        <tr>
                                                            <td>@certificate.dateCreated.ToShortDateString()</td>
                                                            <td>@certificate.applicationNo</td>
                                                            @foreach (var item in Model.EndUserCategories)
                                                            {
                                                                if (certificate.itemCat == item.id)
                                                                {
                                                                    <td>@item.categoryName</td>
                                                                }
                                                            }
                                                            @if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Pending)
                                                            {
                                                                <td><span class="label label-warning">Pending</span></td>
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved)
                                                            {
                                                                if (certificate.certificateStatus == ecims.Models.CertificateStatus.Pending)
                                                                {
                                                                    <td><span class="label label-warning">Awaiting Certificate Issuance</span></td>
                                                                }
                                                                else if (certificate.certificateStatus == ecims.Models.CertificateStatus.Issued)
                                                                {
                                                                    <td><span class="label label-success">Certificate Issued</span></td>
                                                                }
                                                                else if (certificate.certificateStatus == ecims.Models.CertificateStatus.Certificate_Collected)
                                                                {
                                                                    <td><span class="label label-success">Certificate Collected</span></td>
                                                                }
                                                                else if (certificate.certificateStatus == ecims.Models.CertificateStatus.Certificate_Collected)
                                                                {
                                                                    <td><span class="label label-success">Certificate Collected</span></td>
                                                                }
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Disendorsed)
                                                            {
                                                                <td><span class="label label-danger">Disendorsed</span></td>
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Endorsed)
                                                            {
                                                                <td><span class="label label-success">Endorsed</span></td>
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Forwarded)
                                                            {
                                                                <td><span class="label label-success">Forwarded</span></td>
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Rejected)
                                                            {
                                                                <td><span class="label label-danger">Rejected</span></td>
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Certificate_Issued)
                                                            {
                                                                <td><span class="label label-success">Certificate Collected</span></td>
                                                            }
                                                            else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Requiring_Approval)
                                                            {
                                                                <td><span class="label label-danger">Forwarded</span></td>
                                                            }
                                                            <td>
                                                                @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNo }, new { @class = "btn btn-success" })
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            }
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <input type="button" value="Back" id="go_back" class="btn btn-primary" />
                        </div>
                        @if (Model.Applicant.ApprovalStatus == ecims.Models.ApprovedStatus.Pending)
                        {
                            <div class="col-md-6">
                                <div class="btn-group pull-right @liClientUser @liPGSO">
                                    <button type="button" class="btn btn-success">Click Here for Actions</button>
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Approve", "ApproveApplicant", new { id = Model.Applicant.Id })</li>
                                        <li>@Html.ActionLink("Reject", "RejectApplicant", new { id = Model.Applicant.Id, reason = "xxx" }, new { @class = "link" })</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('#go_back').click(function (e) {
            e.preventDefault();
            history.go(-1);
        });
    });

    $('.link').click(function () {
        if ($('#rejectReason').val() == "") {
            var x = document.getElementsByClassName('rejectReasonError')[0];
            alert('To disapprove a signup request, please provide the reason why you are rejecting the application.');
            return false;
        }
        else if ($('#rejectReason').val() != "") {
            var rejectReason = $("#rejectReason").val();
            this.href = this.href.replace("xxx", rejectReason);
        }
    });

</script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
<script type="text/javascript">
    $(function ($) {
        var addToAll = false;
        var gallery = true;
        var titlePosition = 'inside';
        $(addToAll ? 'img' : 'img.fancybox').each(function () {
            var $this = $(this);
            var title = $this.attr('title');
            var src = $this.attr('data-big') || $this.attr('src');
            var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
            $this.wrap(a);
        });
        if (gallery)
            $('a.fancybox').attr('rel', 'fancyboxgallery');
        $('a.fancybox').fancybox({
            titlePosition: titlePosition
        });
    });
    $.noConflict();
</script>