﻿
@{
    ViewBag.Title = "applicationAttachType";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">APPLICATION ATTACHMENT TYPES</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-10 col-lg-10 col-sm-10">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>