﻿@model ecims.ViewModels.ApproveCommentViewModel
@{
    ViewBag.Title = "ApproveComment";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Provide comments on application</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        <div class="panel panel-success">
                            <div class="panel-heading">Please provide comment for this application</div>
                            <div class="panel-body">
                                <div class="col-md-10 col-lg-10 col-sm-10" id="sendToOnsa">
                                    @using (Html.BeginForm("ApproveComment", "Admin", FormMethod.Post, new
                                    {
                                        enctype = "multipart/form-data",
                                        @class = "form-horizontal",
                                        role = "form",
                                        @id = "createComment",
                                    }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.Comment, "Comment:")
                                            @Html.TextAreaFor(m => m.Comment, new { @placeholder = "Enter Comment for the Application", @class = "form-control", @rows = "8" })
                                            @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-12">
                                            <input type="reset" class="btn btn-primary" value="Reset" />
                                            <input type="submit" class="btn btn-success" name="comment" value="Submit" />
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>