﻿@model ecims.ViewModels.approvedEUCApplicationViewModel
@{
    ViewBag.Title = "Approved EUC Application";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="tableReponsive">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">

                    <h3 style="font-weight:bold;">APPROVED EUC APPLICATIONS</h3>
                    <p>Click on an application to view the applications' details.</p>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        @if (TempData["Unsuccessul"] != null)
                        {
                            <p class="alert alert-danger" id="successMessage">@TempData["Unsuccessul"]</p>
                        }
                        <div class="col-md-12 col-lg-12 col-sm-12">

                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>DATE CREATED</th>
                                        <th>APPLICATION NUMBER</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>ITEM CATEGORY</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var certificate in Model.EndUserCertificate)
                                        {
                                            var descriptionId = certificate.itemCat;
                                            <tr>
                                                <td>@certificate.dateCreated.ToShortDateString()</td>
                                                <td>@certificate.applicationNo</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == certificate.UserID)
                                                    {
                                                        <td>@user.ApplicationNumber</td>
                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                    }
                                                }
                                                @foreach (var item in Model.EndUserCategories)
                                                {
                                                    if (certificate.itemCat == item.id)
                                                    {
                                                        <td>@item.categoryName</td>
                                                    }
                                                }
                                                @if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved && certificate.certificateStatus == ecims.Models.CertificateStatus.Pending)
                                                {
                                                    <td><span class="label label-warning">Awaiting Certificate Issuance</span></td>
                                                }
                                                else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved && certificate.certificateStatus == ecims.Models.CertificateStatus.Issued)
                                                {
                                                    <td><span class="label label-success">Approved! Certificate Issued</span></td>
                                                }
                                                else if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved && certificate.certificateStatus == ecims.Models.CertificateStatus.Certificate_Collected)
                                                {
                                                    <td><span class="label label-success">Approved! Certificate Issued</span></td>
                                                }
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>@Html.ActionLink("View Application Details", "EUCApplicationDetails", new { AppID = certificate.applicationNo, ID = certificate.id })</li>
                                                            @if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved && certificate.certificateStatus != ecims.Models.CertificateStatus.Issued)
                                                            {
                                                                <li class="@liNSA @liAgency @liClientUser">@Html.ActionLink("Issue Certificate", "CollectCertificate", new { CertNo = certificate.applicationNo }, new { @class = @liNSA, @liAgency, @liClientUser })</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
