﻿@model ecims.ViewModels.ApproveApplicationViewModel
@{
    ViewBag.Title = "ApproveApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Approve EUC Application</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">                     
                        @if (TempData["Unsuccessul"] != null)
                        {
                            <p class="alert alert-danger" id="successMessage">@TempData["Unsuccessul"]</p>
                        }
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            @using (Html.BeginForm("ApproveApplicationWithToken", "Admin", FormMethod.Post, new
                            {
                                enctype = "multipart/form-data",
                                @class = "form-horizontal",
                                role = "form",
                                @id = "createComment",
                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })

                                <div class="panel panel-success">
                                    <div class="panel-heading">Enter Authentication Code to Approve</div>
                                    <div class="panel-body">
                                        <div class="col-md-8 col-lg-8 col-sm-8" id="sendToOnsa">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.TokenCode, "Please Enter Authentication Code:")
                                                @Html.TextBoxFor(m => m.TokenCode, new { @placeholder = "Enter Code Here", @class = "form-control", id = "TokenCode" })
                                                @Html.ValidationMessageFor(m => m.TokenCode, "", new { @class = "text-danger" })
                                            </div>
                                            @*<div class="col-md-12">
                                                    <label class="control-label" for="TokenCodeRetype">Retype Your Token Code</label>
                                                    <input id="TokenCodeRetype" class="form-control" placeholder="Retype Token to confirm" autocomplete='off' onchange="check();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" />
                                                    <span class="label label-default" id="TokenNotMatch"></span>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">APPLICATION DETAILS</div>
                                    <div class="panel-body">
                                        <div class="col-md-8 col-lg-8 col-sm-8">
                                            <dl class="dl-horizontal">
                                                <dt style="width:200px;">Application Number:</dt>
                                                <dd>@Model.EUCID</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">COMMENTS MADE ON APPLICATION</div>
                                    <div class="panel-body">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/No</th>
                                                        <th>DATE</th>
                                                        <th>FROM</th>
                                                        <th>COMMENT</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @{int snu = 0;}
                                                    @foreach (var comentList in Model.CommentList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ snu++; }
                                                                @snu
                                                            </td>
                                                            <td>@comentList.ForwardDate.ToShortDateString()</td>

                                                            @if (comentList.ForwardedBy.ToString() == "5")
                                                            {
                                                                <td>
                                                                    ONSA Support
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    45
                                                                </td>
                                                            }
                                                            <td>@comentList.Comment</td>
                                                        </tr>
                                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">APPLICATION(S) ENDORSEMENTS</div>
                                    <div class="panel-body">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/No</th>
                                                        <th>ENDORSEMENT DESK</th>
                                                        <th>AGENCY NAME</th>
                                                        <th>AGENCY TYPE</th>
                                                        <th>COMMENT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int snum1 = 0; }
                                                    @{foreach (var endorseList in Model.EndorsementDesk)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @{ snum1++; }
                                                                    @snum1
                                                                </td>
                                                                @foreach (var endorseDesk in Model.AgencyDesk)
                                                                {
                                                                    if (endorseDesk.Id == endorseList.EndorsementDesk)
                                                                    {
                                                                        <td>@endorseDesk.deskName</td>
                                                                    }
                                                                }
                                                                <td>@endorseList.EndorsementDesk</td>
                                                                @foreach (var agencyName in Model.Agency)
                                                                {
                                                                    if (agencyName.Id == endorseList.AgencyId)
                                                                    {
                                                                        <td>@agencyName.Name</td>
                                                                        foreach (var agencyType in Model.AgencyCat)
                                                                        {
                                                                            if (agencyType.Id == agencyName.PortalCategoryId)
                                                                            {
                                                                                <td>@agencyType.Name</td>
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            </tr>
                                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="btn btn-danger">@Html.ActionLink("Cancel", "MainDashboard", new { @class = "btn btn-danger" }, new { @id = "go_back" })</p>
                                    <input type="submit" class="btn btn-success" name="endorseApplication" value="Approve This Application" />
                                </div>
                                                                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function check() {
        var Token = document.getElementById("TokenCode").value;
        var TokenRetype = document.getElementById("TokenCodeRetype").value;
        if (Token != TokenRetype) {
            document.getElementById("TokenNotMatch").innerHTML = "Token Does not Match.. Please ensure you type a matching token";
            document.getElementById("TokenNotMatch").classList.remove('label-default')
            document.getElementById("TokenNotMatch").classList.add('label-danger')
        }
        else if (Token == TokenRetype) {
            document.getElementById("TokenNotMatch").innerHTML = "Token Matched!!";
            document.getElementById("TokenNotMatch").classList.remove('label-danger')
            document.getElementById("TokenNotMatch").classList.add('label-success')
        }
    }
</script>