﻿@model ecims.ViewModels.AuditTrailViewModel
@{
    ViewBag.Title = "Audit Trail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">Audit Trail Listing</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>Activity Date</th>
                                        <th>Action Carried Out</th>
                                        <th>By Portal User</th>
                                        <th>Action Description</th>
                                        <th>User IP Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var auditTrail in Model.AuditTrails)
                                        {
                                            <tr>
                                                <td>@auditTrail.DateOfActivity</td>
                                                <td>@auditTrail.ActionCarriedOut</td>
                                                @if (auditTrail.CarriedOutBy == "Anonymous User")
                                                {
                                                    <td><b>Anonymous User</b></td>
                                                }
                                                else
                                                {
                                                    foreach (var user in Model.UserList)
                                                    {
                                                        if (user.Id == auditTrail.CarriedOutBy)
                                                        {
                                                            <td><b>@user.FirstName @user.LastName</b></td>
                                                        }
                                                    }
                                                }
                                                <td>@auditTrail.ActionDescription</td>
                                                <td>@auditTrail.UserIPAddress</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        alert("Note: Actions performed by users who are not currently signed in to the EUC portal are marked as 'Anonymous Users' in the 'By Portal User' section.");
    });
</script>