﻿@model ecims.ViewModels.AuditTrailViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Audit Trails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Audit Trail Listing</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                            new List<SelectListItem>
                             {
                                new SelectListItem{ Text="10", Value = "AuditTrailsView?PageSize=10" },
                                new SelectListItem{ Text="50", Value = "AuditTrailsView?PageSize=50" },
                                new SelectListItem{ Text="100", Value = "AuditTrailsView?PageSize=100" },
                             },
                            Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>

                @using (Html.BeginForm("AuditTrailsView", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("ACTIVITY DATE", "AuditTrailsView",
                                    new
                                    {
                                        sortOrder = "ActivityDate",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.AuditTrailList.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION CARRIED OUT", "AuditTrailsView",
                                    new
                                    {
                                        sortOrder = "DateCreated",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.AuditTrailList.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("CARRIED OUT BY", "AuditTrailsView")
                            </th>
                            <th>
                                @Html.ActionLink("ACTION DESCRIPTION", "AuditTrailsView",
                                    new
                                    {
                                        sortOrder = "FirstName",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.AuditTrailList.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("USER IP ADDRESS", "AuditTrailsView",
                                    new
                                    {
                                        sortOrder = "Email",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.AuditTrailList.PageNumber
                                    })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AuditTrailList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfActivity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActionCarriedOut)
                                </td>
                                @if (item.CarriedOutBy == "Anonymous User")
                                {
                                    <td><b>Anonymous User</b></td>
                                }
                                else
                                {
                                    foreach (var user in Model.UserList)
                                    {
                                        if (user.Id == item.CarriedOutBy)
                                        {
                                            <td><b>@user.FirstName @user.LastName</b></td>
                                        }
                                    }
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActionDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserIPAddress)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id='Paging' style="text-align:center">
                    Page @(Model.AuditTrailList.PageCount < Model.AuditTrailList.PageNumber ? 0 : Model.AuditTrailList.PageNumber)
                    of @Model.AuditTrailList.PageCount

                    @Html.PagedListPager(Model.AuditTrailList, page => Url.Action("AuditTrailsView", new { page, pageSize = Model.PageSize }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "AuditTrailsView?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        window.location.href = url + searchTerm;
    }
</script>

