﻿@model ecims.ViewModels.AwaitingApprovalViewModel
@{
    ViewBag.Title = "Requiring Approval";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">PENDING APPROVAL APPLICATIONS</h3>
                <p>Click on an application to view the applications' details.</p>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @if (TempData["Unsuccessul"] != null)
                        {
                            <p class="alert alert-danger" id="successMessage">@TempData["Unsuccessul"]</p>
                        }
                        <div class="tableReponsive">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>DATE CREATED</th>
                                        <th>APPLICATION NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>ITEM CATEGORY</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                @{  foreach (var certificate in Model.EndUserCertificate)
                                    {
                                        var descriptionId = certificate.itemCat;
                                        <tbody>                                            
                                            <tr>
                                                <td>@certificate.dateCreated.ToShortDateString()</td>
                                                <td>@certificate.applicationNo</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == certificate.UserID)
                                                    {
                                                        <td>@user.FirstName @user.LastName</td>
                                                    }
                                                }
                                                @foreach (var item in Model.EndUserCategories)
                                                {
                                                    if (certificate.itemCat == item.id)
                                                    {
                                                        <td>@item.categoryName</td>
                                                    }
                                                }
                                                @if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Requiring_Approval)
                                                {
                                                    <td><span class="label label-warning">Requiring Approval</span></td>
                                                }
                                                <td>
                                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNo, ID = certificate.id }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>

                                        </tbody>

                                    }
                                }
                            </table>
                            @*<div>
                                <p class="btn btn-success">@Html.ActionLink("Approve Selected Applications", "SaveSelEUCApp")</p>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>