﻿@model ecims.ViewModels.BlacklistViewModel
@{
    ViewBag.Title = "Blacklisted Applicant";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
    var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">List of Agencies or Individuals Currently Blacklisted</h3>
                    @if (TempData["Success"] != null)
                    {
                        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                    }
                    @if (TempData["Unsuccessul"] != null)
                    {
                        <p class="alert alert-info" id="successMessage">@TempData["Unsuccessul"]</p>
                    }
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>Date Blacklisted</th>
                                        <th>Action Performed</th>
                                        <th>Applicant Type</th>
                                        <th>Applicant Name</th>
                                        <th>Applicant Number</th>
                                        <th>Blacklisted By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var blacklisted in Model.BlackListedApplicant)
                                        {
                                            <tr>
                                                <td>@blacklisted.blacklistedDate</td>
                                                @if (blacklisted.IsBlackListed == true)
                                                {
                                                    <td>BLACKLISTED</td>
                                                }
                                                @foreach (var userList in Model.UserList)
                                                {
                                                    if (userList.ApplicationNumber == blacklisted.ApplicationNumber)
                                                    {
                                                        if (@userList.UserType == ecims.Models.UserType.ClientUser)
                                                        {
                                                            <td>APPLICANT</td>
                                                        }
                                                        else if (@userList.UserType == ecims.Models.UserType.PortalUser)
                                                        {
                                                            <td>PORTAL USER</td>
                                                        }
                                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                                        <td>@userList.ApplicationNumber</td>
                                                    }
                                                }
                                                @foreach (var userList in Model.UserList)
                                                {
                                                    if (userList.Id == blacklisted.blacklistedBy)
                                                    {
                                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                                    }
                                                }
                                                <td>

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li class="@liPGSO">@Html.ActionLink("Remove from Blacklist", "RemoveFromBlacklist", new { appID = blacklisted.Id })</li>
                                                            <li>@Html.ActionLink("View Blacklist History", "ViewApplicantBlacklistHistory", new { appID = blacklisted.Id })</li>
                                                            <li>@Html.ActionLink("View Blacklist Details", "BlacklistDetails", new { blacklistId = blacklisted.blacklistID, userAppNo = blacklisted.Id })</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
