﻿@model ecims.ViewModels.BlacklistViewModel
@{
    ViewBag.Title = "Blacklist An Applicant";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Blacklist An Agency or Applicant</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div id="enterApplicantNumber" class="col-md-12">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        @if (TempData["Unsuccessul"] != null)
                        {
                            <p class="alert alert-info" id="successMessage">@TempData["Unsuccessul"]</p>
                        }
                        <p style="color:#ff0000; font-weight:bold;">Step One: Search for Applicant</p>
                        @using (Html.BeginForm("BlacklistApplicantDetails", "Admin", FormMethod.Post))
                        {
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="trackInput" name="ApplicantNo" placeholder="Type an Applicant Number to Blacklist It">
                                <p style="color:#ff0000; font-style:italic;">@ViewBag.Message</p>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <input type="submit" class="btn btn-success" onclick="return checkTextField();" id="btnSubmit" value="Get Details" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootbox.min.js"></script>

<script type='text/javascript'>
    function checkTextField() {
        var userInput = document.getElementById('trackInput').value;
        if (userInput == '') {
            alert("Please provide a valid Applicant/Agency number before clicking the Search Button");
            return false;
        }
    }
</script>
