﻿@model ecims.ViewModels.BlacklistedViewModel
@using PagedList.Mvc;
@using ecims.Models;
@{
    ViewBag.Title = "BlacklistHistoryList";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Blacklist History</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "BlacklistHistoryList?PageSize=10&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="50", Value = "BlacklistHistoryList?PageSize=50&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="100", Value = "BlacklistHistoryList?PageSize=100&searchTerm=" + Model.searchTerm },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("BlacklistHistoryList", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("BLACKLIST DATE", "BlacklistHistoryList",
                                new
                                {
                                    sortOrder = "BlackListDate",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.BlacklistHistory.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION TYPE", "BlacklistHistoryList")
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "BlacklistHistoryList",
                                new
                                {
                                    sortOrder = "ApplicantNumber",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.BlacklistHistory.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "BlacklistHistoryList",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.BlacklistHistory.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION PERFORMED", "BlacklistHistoryList",
                                new
                                {
                                    sortOrder = "ActionPerformed",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.BlacklistHistory.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("BLACKLISTED BY", "BlacklistHistoryList",
                                new
                                {
                                    sortOrder = "BlacklistedBy",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.BlacklistHistory.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "BlacklistHistoryList")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BlacklistHistory)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BlacklistDate)
                                </td>
                                @foreach (var userList in Model.UserList)
                                {
                                    if (userList.Id == item.ApplicantId)
                                    {
                                        if (@userList.UserType == ecims.Models.UserType.ClientUser)
                                        {
                                            <td><span class="label label-success">APPLICANT</span></td>
                                        }
                                        else if (@userList.UserType == ecims.Models.UserType.PortalUser)
                                        {
                                            <td><span class="label label-info">PORTAL USER</span></td>
                                        }
                                        <td>@userList.ApplicationNumber</td>
                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                    }
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.action)
                                </td>
                                @foreach (var userList in Model.UserList)
                                {
                                    if (userList.Id == item.BlacklistedBy)
                                    {
                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                    }
                                }
                                <td>
                                    @Html.ActionLink("View Blacklist Details", "BlacklistDetails", new { blacklistId = item.Id, userAppNo = item.Applicant.Id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.BlacklistHistory.TotalItemCount</strong>
                    <hr />
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.BlacklistHistory.PageCount < Model.BlacklistHistory.PageNumber ? 0 : Model.BlacklistHistory.PageNumber)
                    of @Model.BlacklistHistory.PageCount

                    @Html.PagedListPager(Model.BlacklistHistory, page => Url.Action("BlacklistHistoryList", new { page, pageSize = Model.PageSize }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "BlacklistHistoryList?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>
