﻿@model ecims.ViewModels.BlacklistViewModel

@{
    ViewBag.Title = "BlacklistApplicantDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Blacklist An Agency or Applicant</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <p style="color:#ff0000; font-weight:bold;">Provide Reasons for Blacklisting</p>
                    <div class="tableReponsive">
                        <div class="col-md-8 col-sm-8">
                            <h3 style="font-weight:bold;">APPLICANT DETAILS</h3>
                            <br />
                            <dl class="dl-horizontal">
                                @{
                                    if (Model.ApplicantID != null)
                                    {
                                        <dt style="width:30%;">Applicant Type:</dt>
                                        <dd>@Model.ApplicantDetail.UserType</dd>

                                        <dt style="width:30%;">Applicant/Agency Name:</dt>
                                        <dd>@Model.ApplicantDetail.FirstName @Model.ApplicantDetail.LastName @Model.ApplicantDetail.OtherName</dd>

                                        <dt style="width:30%;">Applicant Number:</dt>
                                        <dd>@Model.ApplicantDetail.ApplicationNumber</dd>

                                        <dt style="width:30%;">Account Creation Date:</dt>
                                        <dd>@Model.ApplicantDetail.RequestedDate</dd>

                                        <dt style="width:30%;">Applicant Email Address:</dt>
                                        <dd>@Model.ApplicantDetail.Email</dd>
                                    }
                                }
                            </dl>

                            <br />
                            @using (Html.BeginForm("SaveBlacklistReason", "Admin", FormMethod.Post, new
                            {
                                enctype = "multipart/form-data",
                                @class = "form-horizontal",
                                role = "form",
                                @id = "blacklistApplicant",
                            }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(m => m.ApplicantID, new { Value = Model.ApplicantID })

                                @Html.LabelFor(m => m.BlacklistReason, "Provide Reason For Blacklisting This Agency or Applicant:", new { @class = "" })
                                @Html.TextAreaFor(m => m.BlacklistReason, new { @placeholder = "Provide Reason For Blacklisting This Agency or Applicant", @class = "form-control required-field", @id = "purpose" })
                                @Html.ValidationMessageFor(m => m.BlacklistReason, "", new { @class = "text-danger" })
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success" name="submit" onclick="return checkTextField()" value="Blacklist" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    function checkTextField() {
        var userInput = document.getElementById('purpose').value;
        if (userInput == '') {
            alert("Please provide a reason you want to blacklist the Applicant");
            return false;
        }
    }
</script>