﻿@model ecims.ViewModels.BlacklistViewModel

@{
    ViewBag.Title = "Blacklist Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Blacklist Details</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="tableReponsive">
                        <div class="col-md-12 col-sm-12">
                            <br />
                            <dl class="dl-horizontal">
                                @{    
                                    <dt style="width:30%;">Date Blacklisted:</dt>
                                    <dd>@Model.BlacklistDetails.BlacklistDate</dd>
                                    <dt style="width:30%;">Action Performed:</dt>
                                    <dd>@Model.BlacklistDetails.action</dd>
                                    if (Model.UserList.Id == Model.BlacklistDetails.ApplicantId)
                                    {
                                        <dt style="width:30%;">User Type:</dt>
                                            <dd>@Model.UserList.UserType</dd>

                                                <dt style="width:30%;">Applicant Name:</dt>
                                                <dd>@Model.UserList.FirstName @Model.UserList.LastName @Model.UserList.OtherName</dd>

                                                <dt style="width:30%;">Applicant Number:</dt>
                                                <dd>@Model.UserList.ApplicationNumber</dd>
                                    }
                                    if (Model.UserList.Id == Model.BlacklistDetails.ApplicantId)
                                    {
                                        <dt style="width:30%;">Account Creation Date:</dt>
                                            <dd>@Model.UserList.RequestedDate</dd>

                                                <dt style="width:30%;">Applicant Email Address:</dt>
                                                <dd>@Model.UserList.Email</dd>
                                    }
                                    <dt style="width:30%;">Blacklisted By:</dt>
                                    foreach (var Users in Model.AllUsers)
                                    {
                                        if (Users.Id == Model.BlacklistDetails.BlacklistedBy)
                                        {
                                            <dd>@Users.FirstName @Users.LastName @Users.OtherName</dd>
                                        }
                                    }
                                    <dt style="width:30%;">Reason for Blacklist:</dt>
                                    <dd>@Model.BlacklistDetails.BlacklistReason</dd>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="btn btn-primary">@Html.ActionLink("Back", "AllBlacklistedApplicant", new { @class = "btn btn-primary" }, new { @id = "go_back" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
