﻿@model ecims.ViewModels.BlacklistedViewModel
@{
    ViewBag.Title = "Blacklist History";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">Blacklist History</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>DATE BLACKLISTED</th>
                                        <th>ACTION PERFORMED</th>
                                        <th>APPLICATION TYPE</th>
                                        <th>APPLICANT NAME</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>ACTION PERFORMED BY</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var historyList in Model.BlacklistHistory)
                                        {
                                            <tr>
                                                <td>@historyList.BlacklistDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@historyList.action</td>
                                                @foreach (var userList in Model.UserList)
                                                {
                                                    if (userList.Id == historyList.ApplicantId)
                                                    {
                                                        if (@userList.UserType == ecims.Models.UserType.ClientUser)
                                                        {
                                                            <td>APLICANT</td>
                                                        }
                                                        else if (@userList.UserType == ecims.Models.UserType.PortalUser)
                                                        {
                                                            <td>PORTAL USER</td>
                                                        }
                                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                                        <td>@userList.ApplicationNumber</td>
                                                    }
                                                }
                                                @foreach (var userList in Model.UserList)
                                                {
                                                    if (userList.Id == historyList.BlacklistedBy)
                                                    {
                                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                                    }
                                                }
                                                <td>
                                                    @Html.ActionLink("View Blacklist Details", "BlacklistDetails", new { blacklistId = historyList.Id, userAppNo = historyList.ApplicantId }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
