﻿@model ecims.ViewModels.CollectCertificateViewModel
@{
    ViewBag.Title = "Collect Certificate";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<style type="text/css">
    .green {
        color: Green;
    }

    .red {
        color: Red;
    }
</style>

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">COLLECT A CERTIFICATE</h3>
            @if (TempData["Wrong_Token"] != null)
            {
                <p class="alert alert-danger" id="successMessage">@TempData["Wrong_Token"]</p>
            }
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CertNumber)
                        <div class="col-md-12">
                            <dl id="supportDocuDiv" class="dl-horizontal">
                                <dt style="width:200px;">Application Number:</dt>
                                <dd>@Model.CertNumber</dd>
                            </dl>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                @Html.LabelFor(m => m.NewCertNumber, "Enter Certificate Number:")
                                @Html.TextBoxFor(m => m.NewCertNumber, new { @placeholder = "Enter Certificate Number", @class = "form-control col-md-6", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.NewCertNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                @Html.LabelFor(m => m.CollectionToken, "Certificate Collection Code:")
                                @Html.TextBoxFor(m => m.CollectionToken, new { @placeholder = "Enter Certificate Collection Token", @class = "form-control col-md-6", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.CollectionToken, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <p class="btn btn-danger">@Html.ActionLink("Cancel", "AllEndUserCertificates", new { @class = "btn btn-danger" }, new { @id = "go_back", @style = "color:#fff" })</p>
                            <input type="submit" class="btn btn-success" id="PrintReport" name="collectCert" value="Print Certificate" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#PrintReport").click(function () {
            window.open("@Url.Action("CollectCertificate", "Admin/CollectCertificate")", '_blank');
        });
    });
</script>
