﻿@model ecims.ViewModels.CurrencyMgtViewModel
@{
    ViewBag.Title = "currencyMgt";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@using (Html.BeginForm("currencyMgt", "Admin", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "createNewCurrency",
}))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">
                    <h3 style="font-weight:bold;">CURRENCY MANAGEMENT</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            <div class="col-md-10 col-lg-10 col-sm-10">
                                <div id="exTab1">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <ul class="nav nav-pills">
                                            <li class="active">
                                                <a href="#1a" data-toggle="tab">Create A New Curency</a>
                                            </li>
                                            <li>
                                                <a href="#2a" data-toggle="tab">Currency List</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content clearfix">
                                            <div class="tab-pane active" id="1a">
                                                @if (TempData["Success"] != null)
                                                {
                                                    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                                                }
                                                <h3>Create A New Currency</h3>
                                                <div id="createCurency">
                                                    <div class="row col-md-6">
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(m => m.currencyName, "Currency Name:")
                                                            @Html.TextBoxFor(m => m.currencyName, new { @placeholder = "Provide Name of Currency", @class = "form-control", @id = "curencyName" })
                                                            @Html.ValidationMessageFor(m => m.currencyName, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(m => m.currencySymbol, "Currency Symbol:")
                                                            @Html.TextBoxFor(m => m.currencySymbol, new { @placeholder = "Provide Currency Symbol", @class = "form-control", @id = "currencySymbol" })
                                                            @Html.ValidationMessageFor(m => m.currencySymbol, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-success" value="Create" />
                                                            <p class="btn btn-primary">@Html.ActionLink("Reset", "currencyMgt", new { @class = "btn btn-primary" }, new { @id = "go_back" })</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="2a">
                                                <h3>List of Currency</h3>
                                                <div class="tableReponsive">
                                                    <table id="myTable" class="display" cellspacing="0">
                                                        <thead>
                                                            <tr class="header">
                                                                <th>Currency Name</th>
                                                                <th>Currency Symbol</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{  foreach (var currencyList in Model.CurrencyList)
                                                                {
                                                                    <tr>
                                                                        <td>@currencyList.Name</td>
                                                                        <td>@currencyList.Symbol</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}