﻿@model ecims.Models.AgencyDesk

@{
    ViewBag.Title = "DeleteAgencyDesk";
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>DeleteAgencyDesk</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AgencyDesk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> | <p class="btn btn-danger">@Html.ActionLink("Cancel", "agencyManagement", new { @class = "btn btn-danger" }, new { @id = "go_back" })</p>
        </div>
    }
</div>
