﻿@model ecims.ViewModels.DisendorseApplicationViewModel
@{
    ViewBag.Title = "DisendorseApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Dis-Endorse EUC Application</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            <div class="panel panel-success">
                                <div class="panel-heading">Dis-Endorse Application</div>
                                <div class="panel-body">
                                    <div class="col-md-8 col-lg-8 col-sm-8" id="sendToOnsa">
                                        @using (Html.BeginForm("DisendorseApplication", "Admin", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            @class = "form-horizontal",
                                            role = "form",
                                            @id = "createComment",
                                        }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })

                                            <div class="col-md-12">
                                                <dl id="supportDocuDiv" class="dl-horizontal">
                                                    <dt style="width:200px;">Application Numer:</dt>
                                                    <dd>@Model.EUCID</dd>
                                                </dl>
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.DisendorseComment, "Add Comments:")
                                                @Html.TextAreaFor(m => m.DisendorseComment, new { @placeholder = "Please Provide comment for Dis-Endorsing Application", @class = "form-control", @rows = "4" })
                                                @Html.ValidationMessageFor(m => m.DisendorseComment, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <p class="btn btn-primary">@Html.ActionLink("Cancel", "endorsedEUCApplication", new { @class = "btn btn-primary" }, new { @id = "go_back" })</p>
                                                <input type="submit" class="btn btn-success" name="disendorseApplication" value="Dis-Endorse Application" />
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>