﻿@model ecims.ViewModels.disputeCertViewModel
@{
    ViewBag.Title = "Disputed End-User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">Disputed End-User Certificates</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            @if (TempData["Success"] != null)
                            {
                                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                            }
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>EXPIRY DATE</th>
                                        <th>ISSUANCE DATE</th>
                                        <th>CERTIFICATE NUMBER</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>CERTIFICATE STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var certificate in Model.EUCCertificates)
                                        {
                                            <tr>
                                                <td>@certificate.ExpiryDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@certificate.IssuanceDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@certificate.CertNo</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == certificate.ApplicantNo)
                                                    {
                                                        <td>@user.ApplicationNumber</td>
                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                    }
                                                }
                                                <td><span class="label label-info">Disputed</span></td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>@Html.ActionLink("View Certificate Details", "EUCCertificateDetails", new { certID = certificate.CertNo })</li>
                                                            <li>@Html.ActionLink("Recall Certificate", "RecallCertificate", new { certID = certificate.id }, new { @onclick = "showMessage()" })</li>
                                                            <li>@Html.ActionLink("Cancel Dispute on Certificate", "CancelDispute", new { certID = certificate.id }, new { @onclick = "showMessage()" })</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showMessage() {
        alert("Are you sure you want to carry out this action on the certificate?");
    }
</script>