﻿@model ecims.ViewModels.DisputeCertificateViewModel
@{
    ViewBag.Title = "DisputeCertificate";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">CERTIFICATE MANAGEMENT</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            @using (Html.BeginForm("DisputeCertificate", "Admin", FormMethod.Post, new
                            {
                                enctype = "multipart/form-data",
                                @class = "form-horizontal",
                                role = "form",
                                @id = "createDispute",
                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.CERTID, new { Value = Model.CERTID })

                                <div class="panel panel-success">
                                    <div class="panel-heading">Add Commentsl:</div>
                                    <div class="panel-body">
                                        <div class="col-md-10 col-lg-10 col-sm-10" id="sendToOnsa">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.DisputeComment, "Add Comments:")
                                                @Html.TextAreaFor(m => m.DisputeComment, new { @placeholder = "Please Provide Comments", @class = "form-control", id = "DisputeComment", @rows = "8" })
                                                @Html.ValidationMessageFor(m => m.DisputeComment, "", new { @class = "text-danger" })
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="btn btn-danger">@Html.ActionLink("Cancel", "allCert", new { @class = "btn btn-danger" }, new { @id = "go_back" })</p>
                                    <input type="submit" class="btn btn-success" name="disputeCert" value="Submit" />
                                </div>
                              }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>