﻿@model ecims.ViewModels.HSCodeViewModel

@{
    ViewBag.Title = "EditHSCode";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">EDIT HS CODE</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CodeId)

                        <div class="row col-md-6">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.itemCat, "Item Category Name:", new { @class = "" })
                                @Html.DropDownListFor(model => model.itemCat, new SelectList(Model.EUCItemCat, "id", "categoryName"), "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.itemCat, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.itemSubCatName, "Item Sub Category Name:")
                                @Html.TextBoxFor(model => model.itemSubCatName, new { @class = "form-control" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.itemSubCatHSCode, "Item Sub Category HS Code:")
                                @Html.TextBoxFor(model => model.itemSubCatHSCode, new { @class = "form-control" })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <p class="btn btn-primary" style="color: #fff;">@Html.ActionLink("Back", "hsCodeMgt", new { @class = "btn btn-primary" })</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>