﻿@model ecims.ViewModels.PortMgtViewModel

@{
    ViewBag.Title = "EditPort";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">EDIT PORT</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="row col-md-6">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.PortCode, "Port Code:")
                                @Html.TextBoxFor(m => m.PortCode, new { @placeholder = "Provide Port Code", @class = "form-control", @id = "portName" })
                                @Html.ValidationMessageFor(m => m.PortCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.StateId, "State this Port Belongs to:", new { @class = "" })
                                @Html.DropDownListFor(m => m.StateId, new SelectList(Model.State, "Id", "Name"), "", new { @class = "form-control", @id = "state" })
                                @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <p class="btn btn-primary" style="color: #fff;">@Html.ActionLink("Back", "portMgt", new { @class = "btn btn-primary" })</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>