﻿@model ecims.ViewModels.AgencyDataViewModel

@{
    ViewBag.Title = "EditAgency";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">EDIT AGENCY DETAIL</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Id)

                        <div class="col-md-6">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.agency_TypeId, "Agency Type:", new { @class = "" })
                                @Html.DropDownListFor(model => model.agency_TypeId, new SelectList(Model.agency_Type, "Id", "Name"), "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.agency_TypeId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.agency_Name, "Agency Name:", new { @class = "" })
                                @Html.TextBoxFor(model => model.agency_Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.agency_Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.contact_Name, "Contact Name:", new { @class = "" })
                                @Html.TextBoxFor(model => model.contact_Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.contact_Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.agency_Phone, "Agency Phone:", new { @class = "" })
                                @Html.TextBoxFor(model => model.agency_Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.agency_Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.agency_Email, "Agency Email:", new { @class = "" })
                                @Html.TextBoxFor(model => model.agency_Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.agency_Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Submit" class="btn btn-success" />
                                <p class="btn btn-danger" style="color: #fff;">@Html.ActionLink("Back", "agencyManagement", new { @class = "btn btn-danger" })</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>