﻿@model ecims.ViewModels.HSCodeViewModel

@{
    ViewBag.Title = "EditItemCat";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">EDIT ITEM CATEGORY</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="row col-md-6">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.itemCatName, "Name of Item Category:")
                                @Html.TextBoxFor(model => model.itemCatName, new { @class = "form-control" })
                            </div>
                            <div class="col-md-11">
                                @Html.LabelFor(model => model.SelApplicantType, "Select Applicant Type(s) That Can Access This Item Category:", new { @class = "" })
                                @Html.DropDownListFor(model => model.SelApplicantType, new SelectList(Model.HsCodeUserCategory, "id", "UserCatName"), "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SelApplicantType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <p class="btn btn-primary" style="color: #fff;">@Html.ActionLink("Back", "hsCodeMgt", new { @class = "btn btn-primary" })</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>