﻿@model ecims.ViewModels.CreatePortalUserViewModel

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "createPortalUserRegistrationForm",
    onsubmit = "showConfirmModal()"
}))
{
    @Html.AntiForgeryToken()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">
                    <h3 style="font-weight:bold;">Edit User Record</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        @* Basic User Information *@
                        <div class="row col-md-5">
                            <h3>Basic User Information</h3>
                            <hr />
                            @Html.HiddenFor(model => model.UserId)
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.LastName, "Surname", new { @class = "col-form-label required-field" })
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Surname", required = "required" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.FirstName, "First Name", new { @class = "col-form-label required-field" })
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.OtherName, "Middle Name", new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.OtherName, new { @class = "form-control", placeholder = "Other Name" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Email, "E-mail", new { @class = "col-form-label required-field" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "e.g. Nonso.Ayo@xyz.com", required = "required" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Password, new { @class = "col-form-label control-label required-field" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.DOB, "Date of Birth", new { @class = "col-form control-label required-field", placeholder = "eg 1 Jan 2015" })
                                @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "Date of Birth" } })
                                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.PhoneNumber, "Phone Number", new { @class = "col-form-label required-field" })
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "e.g. +2348121321668", required = "required" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Country, new { @class = "col-form-label" })
                                @Html.DropDownListFor(m => m.countryId, new SelectList(Model.Country, "id", "CountryName"), "", new { @class = "form-control", @id = "CountryOfOriginDropdownList" })
                                @Html.ValidationMessageFor(m => m.countryId, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.State, "State of Origin", new { @class = "required-field" })
                                @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "Id", "Name"), "", new { @class = "form-control", @id = "StateOfOriginDropDownList" })
                                @Html.ValidationMessageFor(m => m.State, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.TIN, "Tax Identification Number", new { @class = "col-form-label required-field" })
                                @Html.TextBoxFor(m => m.TIN, new { @class = "form-control", placeholder = "TIN" })
                                @Html.ValidationMessageFor(m => m.TIN, "", new { @class = "label label-warning lb-sm" })
                            </div>
                            @*Passport Photo Graph*@
                            <div class="col-md-12">
                                <label class="required-field">Passport Photograph</label>
                                <input type="file" id="passportUpload" name="passportUpload" class="form-control" />
                            </div>
                            <hr />
                            <div>
                                <label class="required-field">Can Verify End-User Certificates: </label>
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.CanVerifyEUC, "true", new {}) True
                                @Html.RadioButtonFor(model => model.CanVerifyEUC, "false", new {}) False
                            </div>
                            @*<div class="col-md-12">
                                    <label class="required-field">Can Verify EUC</label>
                                    @Html.DropDownListFor(m => m, new SelectList(
                                    new[]
                                    {
                                    new { Value = "true", Text = "Yes" },
                                    new { Value = "false", Text = "No" },
                                    },
                                    "Value",
                                    "Text",
                                    Model.CanVerifyEUC
                                    ))
                                </div>*@
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Update Record" />
                            <p class="btn btn-primary">@Html.ActionLink("Reset", "userManagement", new { @class = "btn btn-danger" }, new { @id = "go_back" })</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

<script type='text/javascript'>
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            YearRange: "-60:+0"
        })
    });
</script>