﻿@model ecims.ViewModels.endorsedEUCApplicationViewModel
@using ecims.Models
@{
    ViewBag.Title = "endorsedEUCApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div class="tableReponsive">
                    <h3 style="font-weight:bold;">ENDORSED EUC APPLICATIONS</h3>
                    <p>Click on an application to view the applications' details.</p>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>DATE CREATED</th>
                                        <th>APPLICATION NUMBER</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        @*<th>ITEM CATEGORY</th>*@
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.UserAgency.PortalUserCategoryId == 5)
                                        {
                                            foreach (var certificate in Model.EndUserCertificate)
                                            {
                                                <tr>
                                                    <td>@certificate.dateForwarded.ToString("dd-MMM-yyyy")</td>
                                                    <td>@certificate.applicationNo</td>
                                                    @foreach (var user in Model.UsersToQuery)
                                                    {
                                                        if (user.Id == certificate.UserID)
                                                        {
                                                            <td>@user.ApplicationNumber</td>
                                                            <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                        }
                                                    }
                                                    @{
                                                        ApplicationDbContext _context = new ApplicationDbContext();

                                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                                        {
                                                            if (agency.Id == certificate.AgencyForwardedFrom)
                                                            {
                                                                <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                            }
                                                        }
                                                    }
                                                    <td>
                                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNo, ID = certificate.id }, new { @class = "btn btn-success" })
                                                    </td>
                                                </tr>
                                                            }
                                                        }
                                                        //Get Data from Workflow table for other user type except ONSA Support
                                                        else
                                                        {
                                                            foreach (var certificate in Model.EUCWorkflow)
                                                            {
                                                                <tr>
                                                                    <td>@certificate.activityDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@certificate.applicationNumber</td>
                                                                    @foreach (var user in Model.UsersToQuery)
                                                                    {
                                                                        if (user.Id == certificate.actionReciepient)
                                                                        {
                                                                            <td>@user.ApplicationNumber</td>
                                                                            <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                                        }
                                                                    }
                                                                    @{
                                                                        ApplicationDbContext _context = new ApplicationDbContext();

                                                                        foreach (var agency in _context.PortalSubCategories.ToList())
                                                                        {
                                                                            if (agency.Id == certificate.SourceAgency)
                                                                            {
                                                                                <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                                            }
                                                                        }
                                                                    }
                                                                    <td>
                                                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNumber, ID = certificate.id }, new { @class = "btn btn-success" })
                                                                    </td>
                                                                </tr>
                                                                            }
                                                                        }

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
