﻿@model ecims.ViewModels.EndorseApplicationViewModel
@{
    ViewBag.Title = "EndorseApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Endorse EUC Application</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            @using (Html.BeginForm("EndorseApplication", "Admin", FormMethod.Post, new
                            {
                                enctype = "multipart/form-data",
                                @class = "form-horizontal",
                                role = "form",
                                @id = "createComment",
                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })
                                
                                <div class="panel panel-success">
                                    <div class="panel-heading">List of Agency Desk's</div>
                                    <div class="panel-body">
                                        <dl class="dl-horizontal">
                                            <dt style="width:100px;">Agency Name:</dt>
                                            <dd>@Model.agencyName</dd>
                                        </dl>
                                        <p>Please indicate that this application was actioned by the following desk within the agency</p>
                                        <div class="col-md-8 col-lg-8 col-sm-8" id="sendToOnsa">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Select</th>
                                                        <th>Agency Desk</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var agencyDesk in Model.agencyDesks)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" value="@agencyDesk.agencyName" name="@agencyDesk.deskName" id="@agencyDesk.Id" class="save"/>
                                                            </td>
                                                            <td>
                                                                @agencyDesk.deskName
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Endorse Application</div>
                                    <div class="panel-body">
                                        <div class="col-md-8 col-lg-8 col-sm-8" id="endorseComment">

                                            <div class="col-md-12">
                                                <dl id="supportDocuDiv" class="dl-horizontal">
                                                    <dt style="width:100px;">Application Numer:</dt>
                                                    <dd>@Model.EUCID</dd>
                                                </dl>
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.EndorseComment, "Add your Endorsement Comments:")
                                                @Html.TextAreaFor(m => m.EndorseComment, new { @placeholder = "Provide comment for Endorsing Application", @class = "form-control", @rows = "3"})
                                                @Html.ValidationMessageFor(m => m.EndorseComment, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="">
                                                <label style="font-weight:bold;"><input type="checkbox" id="chkFlag" name="chkFlag" onclick="ShowHideDiv(this)"> Flag this Application</label>
                                            </div>
                                            <div class="col-md-12" id="flagDiv" name="flagDiv" style="display:none">
                                                @Html.TextAreaFor(m => m.flagComment, new { @placeholder = "Provide comment for flaging this Application", @class = "form-control", @rows = "3" })
                                                @Html.ValidationMessageFor(m => m.flagComment, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <p class="btn btn-danger" style="color:#fff;">@Html.ActionLink("Cancel", "endorsedEUCApplication", new { @class = "btn btn-danger" }, new { @id = "go_back" })</p>
                                                <input type="submit" class="btn btn-success" name="endorseApplication" value="Endorse Application" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Obtain reference of every save checkbox on the form
    var save = document.getElementsByClassName('save');

    //Loop through every checkbox on the page with the class of 'save' using the reference set above
    for (var i = 0, len = save.length; i < len; i++) {
        save[i].onclick = saveDesk;//validators[i].onclick = '';
    }

    //Get parameter name using  javascript
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // access properties of checkbox clicked using 'this' keyword
    //and update the database using ajax
    function saveDesk() {
        if (this.checked) {
            //if checked

            var url = '@Url.Action("SaveEndorsersDesk")';

            var Id = this.value;//Agency Desk ID
            var appId = getParameterByName('AppID');//Application Name
            var endorsementDesk = this.id;//Id of the desk being endorsed

            $.get(url, { 'Id': Id, 'appId': appId, 'endorsementDesk': endorsementDesk }, function (response) {
                
            });
        }
        else {
            //if not checked
            if (this.checked == false) {
                var url = '@Url.Action("UnSaveEndorsersDesk")';

                var Id = this.value;//Agency Desk ID
                var appId = getParameterByName('AppID');//Application Name
                var endorsementDesk = this.id;//Id of the desk being endorsed

                $.get(url, { 'Id': Id, 'appId': appId, 'endorsementDesk': endorsementDesk }, function (response) {

                });
            }
        }
    }

    function ShowHideDiv(flagDiv) {
        var dvPassport = document.getElementById("flagDiv");
        dvPassport.style.display = chkFlag.checked ? "block" : "none";
    }
</script>