﻿@model ecims.ViewModels.EndUserCertificatesViewModel
@using ecims.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Endorsed EUC Applications";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Endorsed EUC Applications</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            @if (TempData["Unsuccessul"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Unsuccessul"]</p>
            }
            @if (Model.user.PortalUserCategoryId == 5 || Model.user.PortalUserCategoryId == 45)
            {
                <div @*class="tableFix"*@>
                    <div class="form-group col-md-6 col-lg-6 col-sm-6">
                        <label>
                            Show
                            @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "EndorsedEndUserCertificateApplication?PageSize=10&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort},
                               new SelectListItem{ Text="50", Value = "EndorsedEndUserCertificateApplication?PageSize=50&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort},
                               new SelectListItem{ Text="100", Value = "EndorsedEndUserCertificateApplication?PageSize=100&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort},
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                        </label>
                    </div>
                    @using (Html.BeginForm("EndorsedEndUserCertificateApplication", "Admin", FormMethod.Post))
                    {
                        <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                            <div style="float: right;">
                                <label>
                                    Search:
                                    @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                    <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                                </label>
                            </div>
                        </div>
                    }
                    <table id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.ActionLink("DATE CREATED", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                                </th>
                                <th>
                                    @Html.ActionLink("APPLICATION NUMBER", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicationNo",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                                </th>
                                <th>
                                    @Html.ActionLink("APPLICANT NUMBER", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantNo",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                                </th>
                                <th>
                                    @Html.ActionLink("APPLICANT NAME", "RejectedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                                </th>
                                <th>
                                    @Html.ActionLink("ITEM CATEGORY", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ItemCategories",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                                </th>
                                <th>
                                    @Html.ActionLink("STATUS", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "Status",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                                </th>
                                @if (User.IsInRole("NSA"))
                                {
                                    <th>
                                        DURATION (DAYS)
                                    </th>
                                }
                                <th>
                                    @Html.ActionLink("ACTION", "EndorsedEndUserCertificateApplication")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.user.PortalUserCategoryId == 5 || Model.user.PortalUserCategoryId == 45)
                            {
                                foreach (var item in Model.certificatesToShow)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.dateCreated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.applicationNo)
                                        </td>
                                        @if (item.User == null)
                                        {
                                            /**/
                                            <td>
                                                NULL
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                        </td>
                                        @foreach (var itemCategory in Model.itemCategories)
                                        {
                                            if (itemCategory.id == item.itemCat)
                                            {
                                                <td>@itemCategory.categoryName</td>
                                            }
                                        }
                                        @{
                                            ApplicationDbContext _context = new ApplicationDbContext();

                                            foreach (var agency in _context.PortalSubCategories.ToList())
                                            {
                                                if (agency.Id == item.AgencyForwardedFrom)
                                                {
                                                    <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                }
                                            }
                                        }
                                        @if (User.IsInRole("NSA"))
                                        {
                                            <td>
                                                @{
                                                    var duration = (DateTime.Now - item.dateForwarded).TotalDays;
                                                    if (duration < 1)
                                                    {
                                                        <span class="label label-info">1 </span>
                                                    }
                                                    else
                                                    {
                                                        if (duration < 30)
                                                        {
                                                            <span class="label label-info">@Math.Ceiling(duration)</span>
                                                        }
                                                        else if (duration > 30)
                                                        {
                                                            <span class="label label-danger">@Math.Ceiling(duration)</span>
                                                        }
                                                    }
                                                }
                                            </td>
                                                    }
                                        <td>
                                            @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                        </td>
                                    </tr>
                                                        }
                                                    }
                                                    //Get Data from Workflow table for other user type except ONSA Support
                                                    else
                                                    {
                                                        foreach (var certificate in Model.EUCWorkFlow)
                                                        {
                                                            <tr>
                                                                <td>@certificate.activityDate.ToString("dd-MMM-yyyy")</td>
                                                                <td>@certificate.applicationNumber</td>
                                                                @foreach (var user in Model.UsersToQuery)
                                                                {
                                                                    if (user.Id == certificate.actionReciepient)
                                                                    {
                                                                        <td>@user.ApplicationNumber</td>
                                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                                    }
                                                                }
                                                                @{
                                                                    ApplicationDbContext _context = new ApplicationDbContext();

                                                                    foreach (var agency in _context.PortalSubCategories.ToList())
                                                                    {
                                                                        if (agency.Id == certificate.SourceAgency)
                                                                        {
                                                                            <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                                        }
                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNumber, ID = certificate.id }, new { @class = "btn btn-success" })
                                                                </td>
                                                            </tr>
                                                                        }
                                                                    }
                        </tbody>
                    </table>
                    <div style="text-align:center">
                        Total number of records: <strong>@Model.certificatesToShow.TotalItemCount</strong>
                        <hr />
                    </div>
                    <div id='Paging' style="text-align:center">
                        Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                        of @Model.certificatesToShow.PageCount

                        @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("EndorsedEndUserCertificateApplication", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm, CurrentSort = ViewBag.CurrentSort, sortOrder = ViewBag.CurrentSort }))
                    </div>
                </div>
                                                                    }
                                                                    else if (Model.user.PortalUserCategoryId == 1 || Model.user.PortalUserCategoryId == 2 || Model.user.PortalUserCategoryId == 3
                                                                    || Model.user.PortalUserCategoryId == 4 || Model.user.PortalUserCategoryId == 6 || Model.user.PortalUserCategoryId == 7
                                                                    || Model.user.PortalUserCategoryId == 8 || Model.user.PortalUserCategoryId == 11 || Model.user.PortalUserCategoryId == 12
                                                                    || Model.user.PortalUserCategoryId == 10 || Model.user.PortalUserCategoryId == 13 || Model.user.PortalUserCategoryId == 14
                                                                    || Model.user.PortalUserCategoryId == 16
                                                                    || Model.user.PortalUserCategoryId == 17 || Model.user.PortalUserCategoryId == 18 || Model.user.PortalUserCategoryId == 19
                                                                    || Model.user.PortalUserCategoryId == 20 || Model.user.PortalUserCategoryId == 21 || Model.user.PortalUserCategoryId == 25
                                                                    || Model.user.PortalUserCategoryId == 26 || Model.user.PortalUserCategoryId == 27 || Model.user.PortalUserCategoryId == 30
                                                                    || Model.user.PortalUserCategoryId == 31 || Model.user.PortalUserCategoryId == 38 || Model.user.PortalUserCategoryId == 34
                                                                    || Model.user.PortalUserCategoryId == 36 || Model.user.PortalUserCategoryId == 37 || Model.user.PortalUserCategoryId == 39
                                                                    || Model.user.PortalUserCategoryId == 40 || Model.user.PortalUserCategoryId == 41 || Model.user.PortalUserCategoryId == 42
                                                                    || Model.user.PortalUserCategoryId == 43 || Model.user.PortalUserCategoryId == 44 || Model.user.PortalUserCategoryId == 46
                                                                    || Model.user.PortalUserCategoryId == 47)
                                                                    {
                                                                        <div @*class="tableFix"*@>
                                                                            <div class="form-group col-md-6 col-lg-6 col-sm-6">
                                                                                <label>
                                                                                    Show
                                                                                    @Html.DropDownListFor(m => m.PageSize,
                           /*(SelectList)ViewBag.PageSizes*/
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "EndorsedEndUserCertificateApplication?PageSize=10&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="50", Value = "EndorsedEndUserCertificateApplication?PageSize=50&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="100", Value = "EndorsedEndUserCertificateApplication?PageSize=100&searchTerm=" + Model.searchTerm },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                                                                                </label>
                                                                            </div>
                                                                            @using (Html.BeginForm("EndorsedEndUserCertificateApplication", "Admin", FormMethod.Post))
                                                                            {
                                                                                <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                                                                                    <div style="float: right;">
                                                                                        <label>
                                                                                            Search:
                                                                                            @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                                                                            <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                            <table id="myTable">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            @Html.ActionLink("DATE CREATED", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.applicationsFromWorflowToShow.PageNumber
                                })
                                                                                        </th>
                                                                                        <th>
                                                                                            @Html.ActionLink("APPLICATION NUMBER", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicationNo",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.applicationsFromWorflowToShow.PageNumber
                                })
                                                                                        </th>
                                                                                        <th>
                                                                                            @Html.ActionLink("APPLICANT NUMBER", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantNo",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.applicationsFromWorflowToShow.PageNumber
                                })
                                                                                        </th>
                                                                                        <th>
                                                                                            @Html.ActionLink("APPLICANT NAME", "EndorsedEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.applicationsFromWorflowToShow.PageNumber
                                })
                                                                                        </th>
                                                                                        <th>
                                                                                            @Html.ActionLink("STATUS", "EndorsedEndUserCertificateApplication", new { PageSize = Model.PageSize, searchTerm = Model.searchTerm })
                                                                                        </th>
                                                                                        <th>
                                                                                            @Html.ActionLink("ACTION", "EndorsedEndUserCertificateApplication", new { PageSize = Model.PageSize, searchTerm = Model.searchTerm })
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @if (Model.user.PortalUserCategoryId == 5)
                                                                                    {
                                                                                        foreach (var item in Model.certificatesToShow)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    @Html.DisplayFor(modelItem => item.dateForwarded)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                                                                                </td>
                                                                                                @if (item.User == null)
                                                                                                {
                                                                                                    /**/
                                                                                                    <td>
                                                                                                        NULL
                                                                                                    </td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td>
                                                                                                        @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                                                                                    </td>
                                                                                                }
                                                                                                <td>
                                                                                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                                                                                </td>

                                                                                                @{
                                                                                                    ApplicationDbContext _context = new ApplicationDbContext();

                                                                                                    foreach (var agency in _context.PortalSubCategories.ToList())
                                                                                                    {
                                                                                                        if (agency.Id == item.AgencyForwardedFrom)
                                                                                                        {
                                                                                                            <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                                                                        }
                                                                                                    }
                                                                                                }

                                                                                                <td>
                                                                                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                                                                                </td>
                                                                                            </tr>
                                                                                                        }
                                                                                                    }
                                                                                                    //Get Data from Workflow table for other user type except ONSA Support
                                                                                                    else
                                                                                                    {
                                                                                                        foreach (var certificate in Model.applicationsFromWorflowToShow)
                                                                                                        {
                                                                                                            <tr>
                                                                                                                <td>@certificate.activityDate.ToString("dd-MMM-yyyy")</td>
                                                                                                                <td>@certificate.applicationNumber</td>
                                                                                                                @foreach (var user in Model.UsersToQuery)
                                                                                                                {
                                                                                                                    if (user.Id == certificate.actionReciepient)
                                                                                                                    {
                                                                                                                        <td>@user.ApplicationNumber</td>
                                                                                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                                                                                    }
                                                                                                                }
                                                                                                                @{
                                                                                                                    ApplicationDbContext _context = new ApplicationDbContext();

                                                                                                                    foreach (var agency in _context.PortalSubCategories.ToList())
                                                                                                                    {
                                                                                                                        if (agency.Id == Model.user.PortalUserCategoryId)
                                                                                                                        {
                                                                                                                            <td><span class="label label-success">Endorsed by @agency.Name</span></td>
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                                <td>
                                                                                                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNumber, ID = certificate.id }, new { @class = "btn btn-success" })
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                                        }
                                                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                            <div style="text-align:center">
                                                                                Total number of records: <strong>@Model.applicationsFromWorflowToShow.TotalItemCount</strong>
                                                                                <hr />
                                                                            </div>
                                                                            <div id='Paging' style="text-align:center">
                                                                                Page @(Model.applicationsFromWorflowToShow.PageCount < Model.applicationsFromWorflowToShow.PageNumber ? 0 : Model.applicationsFromWorflowToShow.PageNumber)
                                                                                of @Model.applicationsFromWorflowToShow.PageCount

                                                                                @Html.PagedListPager(Model.applicationsFromWorflowToShow, page => Url.Action("EndorsedEndUserCertificateApplication", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm }))
                                                                            </div>
                                                                        </div>
                                                                                                                    }
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "EndorsedEndUserCertificateApplication?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>
