﻿@model ecims.ViewModels.EUCViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "End User Certificates Pending Issuance";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">End-User Certificates Pending Issuance</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "EndUserCertificatesPendingIssuance?PageSize=10&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="50", Value = "EndUserCertificatesPendingIssuance?PageSize=50&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="100", Value = "EndUserCertificatesPendingIssuance?PageSize=100&searchTerm=" + Model.searchTerm },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("EndUserCertificatesPendingIssuance", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("DATE CREATED", "EndUserCertificatesPendingIssuance",
                                    new
                                    {
                                        sortOrder = "DateCreated",
                                        PageSize = Model.PageSize,
                                        searchTerm = Model.searchTerm,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.eucapplication.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "EndUserCertificatesPendingIssuance",
                                    new
                                    {
                                        sortOrder = "ApplicationNo",
                                        PageSize = Model.PageSize,
                                        searchTerm = Model.searchTerm,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.eucapplication.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "EndUserCertificatesPendingIssuance",
                                    new
                                    {
                                        sortOrder = "ApplicantNo",
                                        PageSize = Model.PageSize,
                                        searchTerm = Model.searchTerm,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.eucapplication.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "EndUserCertificatesPendingIssuance",
                                    new
                                    {
                                        sortOrder = "ApplicantName",
                                        PageSize = Model.PageSize,
                                        searchTerm = Model.searchTerm,
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.eucapplication.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("ITEM CATEGORY", "EndUserCertificatesPendingIssuance",
                                new
                                {
                                    sortOrder = "ItemCategories",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.eucapplication.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "EndUserCertificatesPendingIssuance",
                                new
                                {
                                    sortOrder = "Status",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.eucapplication.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "EndUserCertificatesPendingIssuance")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.eucapplication)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                @if (item.User == null)
                                {
                                    /**/
                                    <td>
                                        NULL
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                @foreach (var itemCategory in Model.itemCategories)
                                {
                                    if (itemCategory.id == item.itemCat)
                                    {
                                        <td>@itemCategory.categoryName</td>
                                    }
                                }
                                @if (item.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved && item.certificateStatus == ecims.Models.CertificateStatus.Pending)
                                {
                                    <td><span class="label label-warning lb-md">Awaiting Certificate Issuance</span></td>
                                }
                                <td>
                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id='Paging' style="text-align:center">
                    Page @(Model.eucapplication.PageCount < Model.eucapplication.PageNumber ? 0 : Model.eucapplication.PageNumber)
                    of @Model.eucapplication.PageCount

                    @Html.PagedListPager(Model.eucapplication, page => Url.Action("EndUserCertificatesPendingIssuance", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "EndUserCertificatesPendingIssuance?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>


