﻿@model ecims.ViewModels.EUCApplicationDetailsViewModel
@using ecims.Models
@{
    ViewBag.Title = "EUC Application Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
    var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
}
<link rel="stylesheet" type="text/css" media="screen" <a href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
<style type="text/css">
    a.fancybox img {
        border: none;
        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
        -o-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    a.fancybox:hover img {
        position: relative;
        z-index: 999;
        -o-transform: scale(1.03,1.03);
        -ms-transform: scale(1.03,1.03);
        -moz-transform: scale(1.03,1.03);
        -webkit-transform: scale(1.03,1.03);
        transform: scale(1.03,1.03);
    }
</style>

<div class="loader" id="loader">
    <center>
        <img class="loading-image" src="~/img/spinner/Loading Slider.gif" alt="loading..">
    </center>
</div>
@*Smart wizard code*@
<!-- SmartWizard html -->
@foreach (var eucApp in Model.EUCAppDetails)
{
    <div class="row" style="margin-top:20px;" id="EuCDetails">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">
                    <h3 style="font-weight:bold;">Application Details</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">APPLICANT PHOTO</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div style="text-align: center; vertical-align: middle;">
                                            @foreach (var user in Model.Applicant)
                                            {
                                                if (user.Id == eucApp.UserID)
                                                {
                                                    var userImage = user.PassportUrl;
                                                    if (userImage != null)
                                                    {
                                                        <div style="padding-bottom:10px;"><img src="@userImage" class="img-rounded fancybox" width="200" height="200" /></div>
                                                    }
                                                    else if (userImage == null)
                                                    {
                                                        <div style="padding-bottom:10px;"><img src="~/img/face.jpg" class="img-rounded fancybox" width="200" height="200" /></div>
                                                    }
                                                }
                                            }
                                            <div>@Html.ActionLink("View Applicants Complete Details", "applicantDetails", new { id = eucApp.UserID }, new { @class = "btn btn-theme", @liClientUser, @style = "color:#fff;" })</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">APPLICANT DETAILS</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <dl class="dl-horizontal">
                                            <dt style="width:30%;">Applicant Number:</dt>
                                            @foreach (var user in Model.Applicant)
                                            {
                                                if (user.Id == eucApp.UserID)
                                                {
                                                    <dd>@user.ApplicationNumber</dd>
                                                }
                                            }
                                            @foreach (var company in Model.Company)
                                            {
                                                if (company.OwnerId == eucApp.UserID)
                                                {
                                                    <dt style="width:30%;">Company Name:</dt>
                                                    <dd>@company.Name</dd>
                                                    <dt style="width:30%;">Company Address:</dt>
                                                    <dd>@company.Address</dd>
                                                    <dt style="width:30%;">Company Phone Number:</dt>
                                                    <dd>@company.PhoneNo</dd>
                                                    <dt style="width:30%;">Company Email Address:</dt>
                                                    <dd>@company.Email</dd>
                                                    <dt style="width:30%;">Company Registration Number:</dt>
                                                    <dd>@company.CACNo</dd>
                                                    <dt style="width:30%;">Company Website:</dt>
                                                    <dd>@company.Website</dd>
                                                }
                                            }

                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">APPLICATION DETAILS</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <dl class="dl-horizontal">
                                            <dt style="width:30%;">Application Number:</dt>
                                            <dd>@eucApp.applicationNo</dd>
                                            <dt style="width:30%;">Application Status:</dt>
                                            @*@if (Model.user.UserType != ecims.Models.UserType.ClientUser)*@
                                            @if (!User.IsInRole("Client User")
                                                && !User.IsInRole("Exclusive User"))
                                            {
                                                if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Pending)
                                                {
                                                    <dd><span class="label label-warning">Pending</span></dd>
                                                }

                                                else if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved)
                                                {
                                                    if (eucApp.certificateStatus == CertificateStatus.Pending)
                                                    {
                                                        <dd><span class="label label-warning">Awaiting Certificate Issuance</span></dd>
                                                    }
                                                    else if (eucApp.certificateStatus == CertificateStatus.Issued)
                                                    {
                                                        <dd><span class="label label-success">Certificate Printed</span></dd>
                                                    }
                                                    else if (eucApp.certificateStatus == CertificateStatus.Certificate_Collected)
                                                    {
                                                        <dd><span class="label label-success">Certificate Collected</span></dd>
                                                    }

                                                }
                                                foreach (var Agency in Model.PortalSubCat)
                                                {
                                                    if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Disendorsed)
                                                    {
                                                        if (Agency.Id == eucApp.AgencyForwardedFrom)
                                                        {
                                                            <dd><span class="label label-danger">Disendorsed By [@Agency.Name]</span></dd>
                                                        }
                                                    }
                                                    else if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Endorsed)
                                                    {
                                                        if (Agency.Id == eucApp.AgencyForwardedFrom)
                                                        {
                                                            <dd><span class="label label-success">Endorsed By [@Agency.Name]</span></dd>
                                                        }
                                                    }
                                                    else if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Forwarded)
                                                    {
                                                        if (Model.user.PortalUserCategoryId == 5
                                                                && Agency.Id == eucApp.AgencyForwardedTo)
                                                        {
                                                            <dd>
                                                                <span class="label label-info">
                                                                    Forwarded to @Agency.Name @if (Agency.Id == 5)
                                                                    {
                                                                        <span>for Approval</span>
                                                                    }
                                                                </span>
                                                            </dd>
                                                        }
                                                        else if (Model.user.PortalUserCategoryId != 5 && Agency.Id == eucApp.AgencyForwardedTo)
                                                        {
                                                            <dd><span class="label label-info">Forwarded from ONSA</span></dd>
                                                        }
                                                        @*if (Agency.Id == eucApp.AgencyForwardedTo)
                                                            {
                                                                <dd><span class="label label-warning">Forwarded to @Agency.Name</span></dd>
                                                            }*@
                                                    }
                                                    else if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Rejected)
                                                    {
                                                        if (Agency.Id == eucApp.AgencyForwardedTo)
                                                        {
                                                            <dd><span class="label label-danger">Rejected By [@Agency.Name]</span></dd>
                                                        }

                                                    }

                                                }
                                                if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Requiring_Approval)
                                                {
                                                    <dd><span class="label label-warning">Awaiting Approval</span></dd>
                                                }
                                            }
                                            else
                                            {
                                                if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved)
                                                {
                                                    <dd><span class="label label-success">Approved</span></dd>
                                                }
                                                else if (eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Rejected)
                                                {
                                                    <dd><span class="label label-danger">Rejected</span></dd>
                                                }
                                                else if (eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Approved
                                                    && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Rejected)
                                                {
                                                    <dd><span class="label label-warning">Pending</span></dd>
                                                }
                                                else
                                                {
                                                    <dd><span class="label label-warning">Pending</span></dd>
                                                }
                                            }
                                            <dt style="width:30%;">Category Items fall under:</dt>
                                            @foreach (var descrip in Model.itemCategory)
                                            {
                                                if (descrip.id == eucApp.itemCat)
                                                {
                                                    <dd>@descrip.categoryName</dd>
                                                }
                                            }
                                            <dt style="width:30%;">Country of Origin/Manufacture:</dt>

                                            @foreach (var country in Model.Countries)
                                            {
                                                if (country.id == (int)eucApp.originCountry)
                                                {
                                                    <dd>
                                                        @country.CountryName
                                                    </dd>
                                                }
                                            }
                                            @*@eucApp.originCountry.*@
                                            <dt style="width:30%;">Purpose Of Usage:</dt>
                                            <dd>@eucApp.purposeOfUsage</dd>
                                            <dt style="width:30%;">Port of Landing:</dt>
                                            @foreach (var portLanding in Model.landingPort)
                                            {
                                                if (portLanding.Id == eucApp.portOfLanding)
                                                {
                                                    <dd>@portLanding.Name</dd>
                                                }
                                            }
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            @foreach (var EUCOrgList in Model.EUCOrgList)
                            {
                                if (EUCOrgList.ApplicationNumber == eucApp.applicationNo)
                                {
                                    <div class="panel panel-success">
                                        <div class="panel-heading">SECTION FOR THE ORGANIZATION YOU ARE IMPORTING FOR</div>
                                        <div class="panel-body">
                                            <div class="col-md-12 col-lg-12 col-sm-12">
                                                <dl class="dl-horizontal">
                                                    <dt style="width:30%;">Name:</dt>
                                                    <dd>@EUCOrgList.Name</dd>
                                                    <dt style="width:30%;">Address:</dt>
                                                    <dd>@EUCOrgList.Address</dd>
                                                    <dt style="width:30%;">Attached Contract Award Letter:</dt>
                                                    <dd><a href="@EUCOrgList.AwardContract">Download/View Document</a></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="panel panel-success">
                                <div class="panel-heading">ITEM IMPORTED:</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12 table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>S/No</th>
                                                    <th>HS Code</th>
                                                    <th>Item Description</th>
                                                    <th>Quantity Weight/Unit</th>
                                                    <th>Total Cost</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{int sno = 0;}
                                                @foreach (var itemDetail in Model.EUCAppItemDetails)
                                                {
                                                    <tr>

                                                        <td>
                                                            @{ sno++; }
                                                            @sno
                                                        </td>
                                                        @foreach (var code in Model.hsCode)
                                                        {
                                                            if (code.Id == itemDetail.HSCodeId)
                                                            {
                                                                <td width="35%">@code.Name - @code.itemSubCatName</td>
                                                            }
                                                        }
                                                        <td width="20%">@itemDetail.itemDescription</td>
                                                        <td>@itemDetail.qty @itemDetail.unit</td>
                                                        @foreach (var currencySign in Model.Currencies)
                                                        {
                                                            if (currencySign.Id == eucApp.currencyOfPurchase)
                                                            {
                                                                <td style="text-align:right;">@currencySign.Symbol @itemDetail.cost.ToString("N")</td>
                                                            }
                                                        }
                                                    </tr>
                                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr style="font-weight:bold; font-size:14px;">
                                                    <td>Grand Total:</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    @foreach (var currencySign in Model.Currencies)
                                                    {
                                                        if (currencySign.Id == eucApp.currencyOfPurchase)
                                                        {
                                                            <td style="text-align:right;">@currencySign.Symbol @ViewBag.Total.ToString("N")</td>
                                                        }
                                                    }
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">SUPPORTING DOCUMENTS</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <h4 style="font-weight:bold; font-size:15px;">Attachment Type:</h4>
                                        <div class="col-md-8 col-lg-8 col-sm-8" style="border:solid;border-width:1px 1px 1px 1px;padding:20px;border-color:#D6E9C6;">
                                            @foreach (var supportDocu in Model.supportingDocument)
                                            {
                                                <div>
                                                    @if (supportDocu.acquirerIntroLetter != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">LETTER OF INTRODUCTION FROM ACQUIRER:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;">
                                                            <a href="@supportDocu.acquirerIntroLetter">Download/View Document  </a><input type="checkbox" id="@supportDocu.acquirerIntroLetter" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment">
                                                        </div>
                                                    }
                                                    @if (supportDocu.ac_gad001 != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">COMPLETION OF APPLICATION FORM (AC-GAD001):</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;">
                                                            <a href="@supportDocu.ac_gad001">Download/View Document  </a><input type="checkbox" id="@supportDocu.ac_gad001" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment">
                                                        </div>
                                                    }
                                                    @if (supportDocu.analysisCert != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">CERTIFICATE OF ANALYSIS:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;">
                                                            <a href="@supportDocu.analysisCert">Download/View Document  </a><input type="checkbox" id="@supportDocu.analysisCert" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment">
                                                        </div>
                                                    }
                                                    @if (supportDocu.ARPIdentification != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">APPROVED RESPONSIBLE OFFICER (ARP) IDENTIFICATION & LICENSES:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.ARPIdentification">Download/View Document  </a><input type="checkbox" id="@supportDocu.ARPIdentification" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.bilOfLaden != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">BILL OF LADEN OR AIRWAY BILL:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.bilOfLaden">Download/View Document  </a><input type="checkbox" id="@supportDocu.bilOfLaden" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.cbnApplication != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">APPLICATION LETTER TO CBN:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.cbnApplication" target="_blank">Download/View Document  </a><input type="checkbox" id="@supportDocu.cbnApplication" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.cbnFormM != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">FORM M FROM CBN:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.cbnFormM">Download/View Document  </a><input type="checkbox" id="@supportDocu.cbnFormM" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.citLicense != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">FINANCIAL SECTOR OPERATOR LICENSE (CIT LICENSE):</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.citLicense">Download/View Document  </a><input type="checkbox" id="@supportDocu.citLicense" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.FFDReg != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">REGISTRATION WITH FFD:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.FFDReg">Download/View Document  </a><input type="checkbox" id="@supportDocu.FFDReg" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.firsCertificate != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">FIRS CERTIFICATE:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.firsCertificate">Download/View Document  </a><input type="checkbox" id="@supportDocu.firsCertificate" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.formCO7 != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">FORM CO7:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.formCO7">Download/View Document  </a><input type="checkbox" id="@supportDocu.formCO7" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.identityCard != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">IDENTIFICATION CARDS:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.identityCard">Download/View Document  </a><input type="checkbox" id="@supportDocu.identityCard" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.importPermitforExplosive != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">PERMIT TO IMPORT/SELL EXPLOSIVES:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.importPermitforExplosive">Download/View Document  </a><input type="checkbox" id="@supportDocu.importPermitforExplosive" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.incorporationCert != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">CERTIFICATE OF INCORPORATION (CORPORATION):</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.incorporationCert">Download/View Document  </a><input type="checkbox" id="@supportDocu.incorporationCert" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.last1YearEUCS != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">LAST 1 YEAR EUCS:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.last1YearEUCS">Download/View Document  </a><input type="checkbox" id="@supportDocu.last1YearEUCS" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.magazineLicenses != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">MAGAZINE LICENSES:</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.magazineLicenses">Download/View Document  </a><input type="checkbox" id="@supportDocu.acquirerIntroLetter" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.manufacturersSafety != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">MANUFACTURERS SAFETY</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.manufacturersSafety">Download/View Document  </a><input type="checkbox" id="@supportDocu.manufacturersSafety" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.memoOfAssociation != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">ARTICLES/MEMORANDUM OF ASSOCIATION</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.memoOfAssociation">Download/View Document  </a><input type="checkbox" id="@supportDocu.memoOfAssociation" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.minOfAgricApplication != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">APPLICATION TO MINISTRY OF AGRICULTURE</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.minOfAgricApplication">Download/View Document  </a><input type="checkbox" id="@supportDocu.minOfAgricApplication" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.NAFDACAttachment != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">NAFDAC ATTACHMENT</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.NAFDACAttachment">Download/View Document  </a><input type="checkbox" id="@supportDocu.NAFDACAttachment" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.NCCALetter != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">APPROVAL LETTER FROM NCAA</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.NCCALetter">Download/View Document  </a><input type="checkbox" id="@supportDocu.NCCALetter" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.NPFFIreworksPermit != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">NPF PERMIT</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.NPFFIreworksPermit">Download/View Document  </a><input type="checkbox" id="@supportDocu.NPFFIreworksPermit" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.operationYears != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">YEARS OF OPERATION ATTACHMENT</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.operationYears">Download/View Document  </a><input type="checkbox" id="@supportDocu.operationYears" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.packingList != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">PACKING LIST</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.packingList">Download/View Document  </a><input type="checkbox" id="@supportDocu.packingList" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.previousNetworkDistribution != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">DISTRIBUTION NETWORK OF PREVIOUS IMPORTATION - BENEFICIARIES & STOCK BALANCES</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.StockBalance">Download/View Document  </a><input type="checkbox" id="@supportDocu.StockBalance" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.prevStorageAttachment != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">PREVIOUS STORAGE ATTACHMENT</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.prevStorageAttachment">Download/View Document  </a><input type="checkbox" id="@supportDocu.prevStorageAttachment" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.privateSecurityReg != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">EVIDENCE OF REGISTRATION WITH NSCDC AS PRIVATE SECURITY OPERATOR</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.privateSecurityReg">Download/View Document  </a><input type="checkbox" id="@supportDocu.privateSecurityReg" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.proformaInvoice != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">PROFORMA INVOICE</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.proformaInvoice">Download/View Document  </a><input type="checkbox" id="@supportDocu.proformaInvoice" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.qualifiedTechOfficerDetails != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">QUALIFIED TECHNICAL OFFICER DETAILS</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.qualifiedTechOfficerDetails">Download/View Document  </a><input type="checkbox" id="@supportDocu.qualifiedTechOfficerDetails" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.specificationOfGoods != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">SPECIFICATION OF GOODS</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.specificationOfGoods">Download/View Document  </a><input type="checkbox" id="@supportDocu.specificationOfGoods" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.storageFacilityAttachment != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">STORAGE FACILITY ATTACHMENT</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.storageFacilityAttachment">Download/View Document  </a><input type="checkbox" id="@supportDocu.storageFacilityAttachment" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.taxClerance != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">CURRENT TAX CLEARANCE</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.taxClerance">Download/View Document  </a><input type="checkbox" id="@supportDocu.taxClerance" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.transitDetails != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">TRANSIT DETAILS</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.transitDetails">Download/View Document  </a><input type="checkbox" id="@supportDocu.transitDetails" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.transporterParticulars != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">TRANSPORTER & VEHICLE PARTICULARS</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.transporterParticulars">Download/View Document  </a><input type="checkbox" id="@supportDocu.transporterParticulars" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.vatCert != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">VAT CERTIFICATE</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.vatCert">Download/View Document  </a><input type="checkbox" id="@supportDocu.vatCert" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.vendorIDDetails != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">VENDOR IDENTIFICATION DETAILS</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.vendorIDDetails">Download/View Document  </a><input type="checkbox" id="@supportDocu.vendorIDDetails" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.companyDirectorsProfile != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">COMPANY DIRECTOR'S PROFILE</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.companyDirectorsProfile">Download/View Document  </a><input type="checkbox" id="@supportDocu.companyDirectorsProfile" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.StockBalance != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">COMPANY STOCK BALANCE</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.StockBalance">Download/View Document  </a><input type="checkbox" id="@supportDocu.StockBalance" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                    @if (supportDocu.LicenseFromNBCOrNCC != null)
                                                    {
                                                        <div class="col-md-12 col-lg-12 col-sm-12">LICENSE FROM NBC OR NCC</div>
                                                        <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:20px;font-weight:bold;"> <a href="@supportDocu.LicenseFromNBCOrNCC">Download/View Document  </a><input type="checkbox" id="@supportDocu.LicenseFromNBCOrNCC" class="validate @liONSASupport @liNSA @liClientUser @liONSAAdmin" value="Validate Attachment" title="Validate Attachment"></div>
                                                    }
                                                </div>
                                            }
                                            @*<button type="button" class="btn btn-success">Validate Selected Attachments</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success @liClientUser @liExclusiveUser">
                                <div class="panel-heading">COMMENTS & FLAGS</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        @{
                                            if (@Model.FlagCount != 0)
                                            {
                                                <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:10px;">
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><h4>Flags Raised: (@Model.FlagCount)</h4></div>
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction()">Click to View/Hide</button></div>
                                                </div>
                                                <div id="flagList" class="col-md-12 col-lg-12 col-sm-12 table-responsive" style="display:none">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>S/No</th>
                                                                <th>Date</th>
                                                                <th>From</th>
                                                                <th>Comment</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{int sn = 0;}
                                                            @foreach (var flagList in Model.FlagList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @{ sn++; }
                                                                        @sn
                                                                    </td>
                                                                    <td>@flagList.FlagDate.ToString("dd-MMM-yyyy")</td>
                                                                    @foreach (var user in Model.Applicant)
                                                                    {
                                                                        foreach (var userCat in Model.PortalSubCat)
                                                                        {
                                                                            if (user.Id == flagList.userFrom)
                                                                            {
                                                                                if (userCat.Id == user.PortalUserCategoryId)
                                                                                {
                                                                                    <td>@userCat.Name</td>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                    <td>@flagList.userComment</td>
                                                                </tr>
                                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                                            }
                                        }

                                        @{
                                            if (@Model.CommentCount != 0)
                                            {
                                                <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:10px;">
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><h4>Comments Made on Applications: (@Model.CommentCount)</h4></div>
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction2()">Click to View/Hide</button></div>
                                                </div>
                                                <div id="commentList" class="col-md-12 col-lg-12 col-sm-12 table-responsive" style="display:none">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>S/No</th>
                                                                <th>Date</th>
                                                                <th>From</th>
                                                                <th>Comment</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{int snu = 0;}
                                                            @foreach (var comentList in Model.CommentList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @{ snu++; }
                                                                        @snu
                                                                    </td>
                                                                    <td>@comentList.FlagDate.ToString("dd-MMM-yyyy")</td>
                                                                    @foreach (var UserAgency in Model.PortalSubCat)
                                                                    {
                                                                        if (UserAgency.Id == Convert.ToInt16(comentList.userFrom))
                                                                        {
                                                                            <td>@UserAgency.Name</td>
                                                                        }
                                                                    }
                                                                    <td>@comentList.userComment</td>
                                                                </tr>
                                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                                            }
                                        }

                                        @{
                                            if (@Model.EndorseCount != 0)
                                            {
                                                <div class="col-md-12 col-lg-12 col-sm-12
                                         style="margin-bottom:10px;">
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><h4>Endorsements Made on Application: (@Model.EndorseCount)</h4></div>
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction3()">Click to View/Hide</button></div>
                                                </div>
                                                <div id="endorseList" class="col-md-12 col-lg-12 col-sm-12 table-responsive" style="display:none">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>S/No</th>
                                                                <th>Endorsement Date</th>
                                                                <th>Comment</th>
                                                                <th>Agency Name</th>
                                                                <th>Endorsement Desk</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{int snum = 0;}
                                                            @foreach (var endorseList in Model.EndorseList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @{ snum++; }
                                                                        @snum
                                                                    </td>
                                                                    <td>@endorseList.EndorsementDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@endorseList.EndorseComment</td>
                                                                    @foreach (var UserAgency in Model.PortalSubCat)
                                                                    {
                                                                        if (UserAgency.Id == endorseList.AgencyName)
                                                                        {
                                                                            <td>@UserAgency.Name</td>
                                                                        }
                                                                    }
                                                                    @foreach (var AgencyDesk in Model.AgencyDesk)
                                                                    {
                                                                        if (AgencyDesk.Id == endorseList.EndorsementDesk)
                                                                        {
                                                                            <td>@AgencyDesk.deskName</td>
                                                                        }
                                                                    }
                                                                </tr>
                                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                                            }
                                        }
                                        @{
                                            if (@Model.disendorse != 0)
                                            {
                                                <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:10px;">
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><h4>Disendorse Comment Made on Application: (@Model.disendorse)</h4></div>
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction4()">Click to View/Hide</button></div>
                                                </div>
                                                <div id="disendorseList" class="col-md-12 col-lg-12 col-sm-12 table-responsive" style="display:none">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>S/No</th>
                                                                <th>Date</th>
                                                                <th>From</th>
                                                                <th>Comment</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{int snu = 0;}
                                                            @foreach (var comentList in Model.disendorseList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @{ snu++; }
                                                                        @snu
                                                                    </td>
                                                                    <td>@comentList.DisendorsedDate.ToString("dd-MMM-yyyy")</td>
                                                                    @foreach (var UserAgency in Model.PortalSubCat)
                                                                    {
                                                                        if (UserAgency.Id == Convert.ToInt16(comentList.DisendorsedBy))
                                                                        {
                                                                            <td>@UserAgency.Name</td>
                                                                        }
                                                                    }
                                                                    <td>@comentList.DisendorsedComment</td>
                                                                </tr>
                                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                                            }
                                        }

                                        @{
                                            if (@Model.rejectCount != 0)
                                            {
                                                <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:10px;">
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><h4>Reject Comment Made on Application: (@Model.rejectCount)</h4></div>
                                                    <div class="col-md-4 col-lg-4 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction5()">Click to View/Hide</button></div>
                                                </div>
                                                <div id="rejectList" class="col-md-12 col-lg-12 col-sm-12 table-responsive" style="display:none">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>S/No</th>
                                                                <th>Date</th>
                                                                <th>From</th>
                                                                <th>Comment</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{int snu = 0;}
                                                            @foreach (var comentList in Model.rejectList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @{ snu++; }
                                                                        @snu
                                                                    </td>
                                                                    <td>@comentList.RejectDate.ToString("dd-MMM-yyyy")</td>
                                                                    @foreach (var UserAgency in Model.PortalSubCat)
                                                                    {
                                                                        if (UserAgency.Id == Convert.ToInt32(comentList.RejectedBy))
                                                                        {
                                                                            <td>@UserAgency.Name</td>
                                                                        }
                                                                    }
                                                                    <td>@comentList.RejectComment</td>
                                                                </tr>
                                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="btn btn-primary">@Html.ActionLink("Back", "AllEUCApplications", new { @class = "btn btn-primary" }, new { @id = "go_back", @style = "color:#fff;" })</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right dropup @liClientUser @liONSAAdmin @liPGSO">
                                        <button type="button" class="btn btn-success">Click Here for Actions</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="@liClientUser @liExclusiveUser">@Html.ActionLink("View Applicants Details", "applicantDetails", new { id = eucApp.UserID }, new { @class = @liClientUser })</li>

                                            @* Blacklist applicant link-Only viewable by ONSA Support and NSA *@
                                            <li class="@liONSASupport @liClientUser @liExclusiveUser @liAgency @liClientUser @liPGSO">@Html.ActionLink("Blacklist Applicant", "BlacklistApplicantDetails", new { ApplicantNo = eucApp.UserID }, new { @class = @liClientUser, @liONSASupport })</li>
                                            @* Add comment to application link-Only viewable by NSA *@
                                            <li class="@liClientUser @liExclusiveUser @liAgency @liONSASupport @liClientUser @liPGSO">@Html.ActionLink("Add Comment", "ApproveComment", new { AppID = eucApp.applicationNo }, new { @class = @liClientUser })</li>

                                            @if (eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Forwarded && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Requiring_Approval && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Rejected && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Approved)
                                            {
                                                <li class="@liNSA @liAgency @liClientUser @liExclusiveUser @liPGSO
                                                @if (eucApp.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued
                            || eucApp.EUCApprovalStatus == EUCApprovedStatus.Approved
                            || eucApp.EUCApprovalStatus == EUCApprovedStatus.Rejected
                            || eucApp.EUCApprovalStatus == EUCApprovedStatus.Requiring_Approval)
                                                {
                                                    @liONSASupport
                                                }
                                                ">
                                                    @Html.ActionLink("Forward Application", "ForwardApplication", new { AppID = eucApp.applicationNo }, new { @class = @liNSA, @liAgency, @liClientUser, @liExclusiveUser })
                                                </li>
                                            }
                                            @if (eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Approved && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Rejected)
                                            {
                                                <li class="@liONSASupport @liONSAAdmin @liAgency @liClientUser @liPGSO @liExclusiveUser">@Html.ActionLink("Approve Application", "ApproveApplication", new { AppID = eucApp.applicationNo, UserId = eucApp.UserID }, new { @class = @liONSASupport, @liONSAAdmin, @liAgency, @liClientUser, @liExclusiveUser })</li>
                                            }
                                            @if (eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Rejected && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Approved)
                                            {
                                                <li class="@liONSAAdmin @liAgency @liClientUser @liPGSO @liExclusiveUser
                                                    @if (eucApp.EUCApprovalStatus == EUCApprovedStatus.Certificate_Issued
                                                        || eucApp.EUCApprovalStatus == EUCApprovedStatus.Approved
                                                        || eucApp.EUCApprovalStatus == EUCApprovedStatus.Rejected
                                                        || eucApp.EUCApprovalStatus == EUCApprovedStatus.Requiring_Approval)
	                                                    {
		                                                     @liONSASupport
	                                                    }">
                                                    @Html.ActionLink("Reject Application", "RejectApplication", new { AppID = eucApp.applicationNo }, new { @class = @liONSAAdmin, @liAgency, @liClientUser, @liExclusiveUser })
                                                </li>
                                            }
                                            @if (eucApp.EUCApprovalStatus == EUCApprovedStatus.Forwarded)
                                            {
                                                <li class="@liONSASupport @liNSA @liClientUser @liPGSO @liExclusiveUser">@Html.ActionLink("Endorse Application", "EndorseApplication", new { AppID = eucApp.applicationNo }, new { @class = @liONSASupport, @liNSA, @liClientUser })</li>
                                            }
                                            @if (eucApp.EUCApprovalStatus == EUCApprovedStatus.Forwarded)
                                            {
                                                <li class="@liONSASupport @liNSA @liClientUser @liPGSO @liExclusiveUser">@Html.ActionLink("Dis-Endorse Application", "DisendorseApplication", new { AppID = eucApp.applicationNo }, new { @class = @liONSASupport, @liNSA, @liClientUser })</li>
                                            }
                                            @if (eucApp.certificateStatus != ecims.Models.CertificateStatus.Issued && eucApp.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Approved && eucApp.EUCApprovalStatus != ecims.Models.EUCApprovedStatus.Rejected)
                                            {
                                                <li class="@*@liONSASupport*@ @liAgency @liClientUser @liPGSO @liExclusiveUser">@Html.ActionLink("Issue Certificate", "CollectCertificate", new { CertNo = eucApp.applicationNo }, new { @class = @*@liONSASupport,*@ @liAgency, @liClientUser })</li>
                                            }
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                                            }
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#smartwizard').smartWizard();
});
</script>
<script type="text/javascript">
        $(document).ready(function(){

            // Step show event
            $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
               //alert("You are on step "+stepNumber+" now");
               if(stepPosition === 'first'){
                   $("#prev-btn").addClass('disabled');
               }else if(stepPosition === 'final'){
                   $("#next-btn").addClass('disabled');
               }else{
                   $("#prev-btn").removeClass('disabled');
                   $("#next-btn").removeClass('disabled');
               }
            });

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                                             .addClass('btn btn-info')
                                             .on('click', function(){ alert('Finish Clicked'); });
            var btnCancel = $('<button></button>').text('Cancel')
                                             .addClass('btn btn-danger')
                                             .on('click', function(){ $('#smartwizard').smartWizard("reset"); });


            // Smart Wizard
            $('#smartwizard').smartWizard({
                    selected: 0,
                    theme: 'default',
                    transitionEffect:'fade',
                    showStepURLhash: true,
                    toolbarSettings: {toolbarPosition: 'both',
                                      toolbarButtonPosition: 'end',
                                      toolbarExtraButtons: [btnFinish, btnCancel]
                                    }
            });


            // External Button Events
            $("#reset-btn").on("click", function() {
                // Reset wizard
                $('#smartwizard').smartWizard("reset");
                return true;
            });

            $("#prev-btn").on("click", function() {
                // Navigate previous
                $('#smartwizard').smartWizard("prev");
                return true;
            });

            $("#next-btn").on("click", function() {
                // Navigate next
                $('#smartwizard').smartWizard("next");
                return true;
            });

            $("#theme_selector").on("change", function() {
                // Change theme
                $('#smartwizard').smartWizard("theme", $(this).val());
                return true;
            });

            // Set selected theme on page refresh
            $("#theme_selector").change();
        });
</script>
<script type="text/javascript">
    $(function () {
        $('#go_back').click(function (e) {
            e.preventDefault();
            history.go(-1);
        });

        //Obtain reference of every validation checkbox on the form
        var validators = document.getElementsByClassName('validate');
        var loader = document.getElementById('loader');

        //Loop through every checkbox on the page with the class of 'validate' using the reference set above
        for (var i = 0, len = validators.length; i < len; i++) {
            validators[i].onclick = validateSupportingDocument;//validators[i].onclick = '';
        }

        // access properties of checkbox clicked using 'this' keyword
        //and update the database using ajax
        function validateSupportingDocument() {
            if (this.checked) {
                //if checked
                //Make loader visibile
                loader.style.display = "block";
                //alert(this.id);
                var url = '@Url.Action("ValidateSupportingDocument")';
                var document = this.id;

                $.get(url, { 'document': document }, function (response) {

                });

                //Make loader invisible
                loader.style.display = "none";
            }
            else {
                //if not checked
                if (this.checked == false) {
                    //Make loader visibile
                    loader.style.display = "block";
                    //alert(this.id);
                    var url = '@Url.Action("UnValidateSupportingDocument")';
                    var document = this.id;

                    $.get(url, { 'document': document }, function (response) {

                    });

                    //Make loader invisible
                    loader.style.display = "none";
                }
            }
        }
    });
</script>

<script>
    function myFunction() {
        var x = document.getElementById("flagList");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function myFunction2() {
        var x = document.getElementById("commentList");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunction3() {
        var x = document.getElementById("endorseList");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunction4() {
        var x = document.getElementById("disendorseList");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunction5() {
        var x = document.getElementById("rejectList");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script src="~/Scripts/smartwizard/js/jquery.smartWizard.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
<script type="text/javascript">
    $(function ($) {
        var addToAll = false;
        var gallery = true;
        var titlePosition = 'inside';
        $(addToAll ? 'img' : 'img.fancybox').each(function () {
            var $this = $(this);
            var title = $this.attr('title');
            var src = $this.attr('data-big') || $this.attr('src');
            var a = $('<a <a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
            $this.wrap(a);
        });
        if (gallery)
            $('a.fancybox').attr('rel', 'fancyboxgallery');
        $('a.fancybox').fancybox({
            titlePosition: titlePosition
        });
    });
    $.noConflict();
</script>
<script type="text/javascript">

</script>