﻿@model ecims.ViewModels.EUCCertDetailsViewModel

@{
    ViewBag.Title = "EUCCertificateDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
}
<div class="loader" id="loader">
    <center>
        <img class="loading-image" src="~/img/spinner/Loading Slider.gif" alt="loading..">
    </center>
</div>
@foreach (var eucCert in Model.EUCCertificates)
{
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">
                    <h3 style="font-weight:bold;">CERTIFICATE DETAILS</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            <div class="panel panel-success">
                                <div class="panel-heading">CERTIFICATE DETAILS</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div style="text-align: left; vertical-align: middle;">
                                            <dl class="dl-horizontal">
                                                <dt>Certificate Number:</dt>
                                                <dd>@eucCert.CertNo</dd>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (eucCert.UserId == user.Id)
                                                    {
                                                        <dt>Applicant Number:</dt>
                                                        <dd>@user.ApplicationNumber</dd>
                                                        <dt>Applicant Name:</dt>
                                                        <dd>@user.FirstName @user.LastName @user.OtherName</dd>
                                                    }
                                                }
                                                <dt>Certificate Status:</dt>
                                                @if (eucCert.CertStatus == ecims.Models.CertificateStatus.Certificate_Collected)
                                                {
                                                    <dd><span class="label label-success">Certificate Issued</span></dd>
                                                }
                                                else if (eucCert.CertStatus == ecims.Models.CertificateStatus.Disputed)
                                                {
                                                    <dd><span class="label label-danger">Certificate Disputed</span></dd>
                                                }
                                                else if (eucCert.CertStatus == ecims.Models.CertificateStatus.Issued)
                                                {
                                                    <dd><span class="label label-primary">Certificate Printed</span></dd>
                                                }
                                                else if (eucCert.CertStatus == ecims.Models.CertificateStatus.Pending)
                                                {
                                                    <dd><span class="label label-info">Pending</span></dd>
                                                }
                                                else if (eucCert.CertStatus == ecims.Models.CertificateStatus.Recalled)
                                                {
                                                    <dd><span class="label label-warning">Certificate Recalled</span></dd>
                                                }
                                                else if (eucCert.CertStatus == ecims.Models.CertificateStatus.Utilized)
                                                {
                                                    <dd><span class="label label-success">Certificate Utilized</span></dd>
                                                }
                                                else
                                                {
                                                    <dd><span class="label label-info">Pending</span></dd>
                                                }
                                                <dt>Issue Date:</dt>
                                                <dd>@eucCert.IssuanceDate</dd>
                                                <dt>Expiry Date:</dt>
                                                <dd>@eucCert.ExpiryDate</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">DISPUTE DETAILS</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <table id="myTable" class="display" cellspacing="0">
                                            <thead>
                                                <tr class="header">
                                                    <th>Dispute Date</th>
                                                    <th>Dispute Details</th>
                                                    <th>Dispute By</th>
                                                    <th>Dispute Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var disputeDetail in Model.disputeList)
                                                {
                                                    if (disputeDetail.CertNo == eucCert.CertNo)
                                                    {
                                                        <tr>
                                                            <td>@disputeDetail.DisputeDate.ToShortDateString()</td>
                                                            <td>@disputeDetail.DisputeDetails</td>
                                                            @foreach (var user in Model.UsersToQuery)
                                                            {
                                                                if (user.ApplicationNumber == eucCert.UserId)
                                                                {
                                                                    <td>@user.FirstName @user.LastName @user.OtherName</td>
                                                                }
                                                            }
                                                            <td>@disputeDetail.DisputeStatus</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <p class="btn btn-primary" style="color: #fff;">@Html.ActionLink("Back", "AllEndUserCertificates", new { @class = "btn btn-primary" })</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}

