﻿@model ecims.ViewModels.EUCViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Expired End User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Expired End-User Certificates</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "ExpiredEndUserCertificates?PageSize=10&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="50", Value = "ExpiredEndUserCertificates?PageSize=50&searchTerm=" + Model.searchTerm },
                               new SelectListItem{ Text="100", Value = "ExpiredEndUserCertificates?PageSize=100&searchTerm=" + Model.searchTerm },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("ExpiredEndUserCertificates", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("EXPIRY DATE", "ExpiredEndUserCertificates",
                                new
                                {
                                    sortOrder = "ExpiryDate",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ISSUANCE DATE", "ExpiredEndUserCertificates",
                                new
                                {
                                    sortOrder = "IssuanceDate",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("CERTIFICATE NUMBER", "ExpiredEndUserCertificates",
                                new
                                {
                                    sortOrder = "CertificateNumber",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "ExpiredEndUserCertificates",
                                new
                                {
                                    sortOrder = "ApplicationNumber",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "ExpiredEndUserCertificates",
                                new
                                {
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("CERTIFICATE STATUS", "ExpiredEndUserCertificates",
                                new
                                {
                                    sortOrder = "CertificateStatus",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "ExpiredEndUserCertificates",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    searchTerm = Model.searchTerm,
                                    PageSize = Model.PageSize,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.certificatesToShow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssuanceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                @*@foreach (var user in Model.userList)
                                    {
                                        if (user.Id == item.ApplicantNo)
                                        {
                                            <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                        }
                                    }*@
                                <td><span class="label label-danger">Certificate Expired</span></td>
                                <td>
                                    @Html.ActionLink("View Certificate Details", "EUCCertificateDetails", new { certID = item.CertNo }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.certificatesToShow.TotalItemCount</strong>
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                    of @Model.certificatesToShow.PageCount

                    @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("ExpiredEndUserCertificates", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "ExpiredEndUserCertificates?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>


