﻿@model ecims.ViewModels.expiredCertViewModel
@{
    ViewBag.Title = "Expired End-User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Expired End-User Certificates</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <table id="dataTable" class="display" cellspacing="0">
                            <thead>
                                <tr class="header">
                                    <th>EXPIRY DATE</th>
                                    <th>ISSUANCE DATE</th>
                                    <th>CERTIFICATE NUMBER</th>
                                    <th>APPLICANT NUMBER</th>
                                    <th>APPLICANT NAME</th>
                                    <th>CERTIFICATE STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{  foreach (var certificate in Model.EUCCertificates)
                                    {
                                        <tr>
                                            <td>@certificate.ExpiryDate.ToString("dd-MMM-yyyy")</td>
                                            <td>@certificate.IssuanceDate.ToString("dd-MMM-yyyy")</td>
                                            <td>@certificate.CertNo</td>
                                            @foreach (var user in Model.UsersToQuery)
                                            {
                                                if (user.Id == certificate.ApplicantNo)
                                                {
                                                    <td>@user.ApplicationNumber</td>
                                                    <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                }
                                            }
                                            <td><span class="label label-danger">Certificate Expired</span></td>
                                            <td>
                                                @Html.ActionLink("View Certificate Details", "EUCCertificateDetails", new { certID = certificate.CertNo }, new { @class = "btn btn-success" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
