﻿@model ecims.ViewModels.ForwardApplicationViewModel
@{
    ViewBag.Title = "ForwardApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Forward EUC Application</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            <div class="panel panel-success">
                                <div class="panel-heading">Forward Application to an Agency</div>
                                <div class="panel-body">
                                    <div class="col-md-8 col-lg-8 col-sm-8" style="margin-bottom:20px;">

                                        <div class="col-md-12">
                                            <label for="forwardOption">Select who to forward the Application to:</label>
                                            <select class="form-control dropselectsec" id="forwardOption" onchange="NavigatePage()">
                                                <option selected>Select an Option..</option>
                                                <option value="1">Forward Application to Agency(s)</option>
                                                <option value="2">Forward Application to ONSA for Approval</option>
                                            </select>
                                        </div>
                                        <hr />
                                    </div>

                                    <div class="col-md-8 col-lg-8 col-sm-8" id="sendToAgency" style="display:none;">

                                        <div class="loader" id="loader" style="display:none">
                                            <center>
                                                <img class="loading-image" src="~/img/spinner/Loading Slider.gif" alt="loading..">
                                            </center>
                                        </div>

                                        @using (Html.BeginForm("ForwardApplication", "Admin", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            @class = "form-horizontal",
                                            role = "form",
                                            @id = "createComment",
                                            @onsubmit = "return validateCommentBox()"
                                        }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })

                                            <div class="col-md-12">
                                                <label>Forward This Application to Agency(s):</label>
                                                <p>To select more than one agency, hold Shit or Ctrl keys while clicking on agencies</p>
                                                @Html.ListBoxFor(m => m.SelectedAgency, new MultiSelectList(Model.Agency, "Value", "Text"), new { size = 8, @style = "width: 300px;height:150px;margin-bottom:20px;" })
                                                @Html.ValidationMessageFor(m => m.Agency, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.ForwardComment, "Add Comments:")
                                                @Html.TextAreaFor(m => m.ForwardComment, new { @placeholder = "Provide Comments if necessary", @class = "form-control", @rows = "4", @id = "ForwardCommentToAgency" })
                                                @Html.ValidationMessageFor(m => m.ForwardComment, "", new { @class = "text-danger", @id = "ForwardCommentToAgencyValidation" })
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success" name="forwardToAgency" value="Submit" />
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                            </div>
                                        }
                                    </div>

                                    <div class="col-md-8 col-lg-8 col-sm-8" id="sendToOnsa" style="display:none;">
                                        @using (Html.BeginForm("ForwardApplication", "Admin", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            @class = "form-horizontal",
                                            role = "form",
                                            @id = "createComment",
                                            @onsubmit = "return validateCommentBoxOnsa()"
                                        }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })

                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.ONSAAgID, "Forward this Application to ONSA:", new { @class = "" })
                                                @Html.DropDownListFor(m => m.ONSAAgID, new SelectList(Model.GetONSAAgencies, "id", "Name"), "", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ONSAAgID, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.ForwardComment, "Add Comments:")
                                                @Html.TextAreaFor(m => m.ForwardComment, new { @id = "ForwardCommentToOnsa", @placeholder = "Provide Comments if necessary", @class = "form-control", @rows = "4" })
                                                @Html.ValidationMessageFor(m => m.ForwardComment, "", new { @id = "ForwardCommentToOnsaValidation", @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success" name="forwardToOnsa" value="Submit" />
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    //Show spinner when sending notifications
    function showSpinner() {
        var loader = document.getElementById('loader');
        loader.style.display = "block";
    }
    //Validate the comment box to Agency
    function validateCommentBox() {
        var forwardCommentToAgency = document.getElementById('ForwardCommentToAgency').value;
        if (forwardCommentToAgency == "") {
            document.getElementById('ForwardCommentToAgencyValidation').innerHTML = "Kindly provide a comment in order to forward this EUC application";
            return false;
        }
    }
    //Validate the comment box to ONSA
    function validateCommentBoxOnsa() {
        var forwardCommentToOnsa = document.getElementById('ForwardCommentToOnsa').value;
        if (forwardCommentToOnsa == "") {
            document.getElementById('ForwardCommentToOnsaValidation').innerHTML = "Kindly provide a comment in order to forward this EUC application";
            return false;
        }
    }

    function NavigatePage() {
        var selectedValue = document.getElementById('forwardOption').value;
        if (selectedValue == "1") {
            document.getElementById("sendToAgency").style.display = "block";
            document.getElementById("sendToOnsa").style.display = "none";
        }
        else if (selectedValue == "2") {
            document.getElementById("sendToOnsa").style.display = "block";
            document.getElementById("sendToAgency").style.display = "none";
        }
    }
</script>