﻿@model ecims.ViewModels.forwardedEUCApplicationViewModel
@{
    ViewBag.Title = "forwardedEUCApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">PENDING EUC APPLICATIONS</h3>
                <p>Click on an application to view the applications' details.</p>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    @if (TempData["Success"] != null)
                    {
                        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                    }
                    @if (TempData["Unsuccessul"] != null)
                    {
                        <p class="alert alert-success" id="successMessage">@TempData["Unsuccessul"]</p>
                    }
                    <div class="col-md-12 col-lg-12 col-sm-12">

                        <div class="tableReponsive">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>DATE CREATED</th>
                                        <th>APPLICATION NUMBER</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>ITEM CATEGORY</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var certificate in Model.EndUserCertificate)
                                        {
                                            var descriptionId = certificate.itemCat;
                                            <tr>
                                                <td>@certificate.dateCreated.ToString("dd-MMM-yyyy")</td>
                                                <td>@certificate.applicationNo</td>
                                                @foreach (var user in Model.UsersToQuery)
                                                {
                                                    if (user.Id == certificate.UserID)
                                                    {
                                                        <td>@user.ApplicationNumber</td>
                                                        <td>@user.FirstName.ToUpper() @user.LastName.ToUpper()</td>
                                                    }
                                                }
                                                @foreach (var item in Model.EndUserCategories)
                                                {
                                                    if (certificate.itemCat == item.id)
                                                    {
                                                        <td>@item.categoryName</td>
                                                    }
                                                }
                                                @if (certificate.EUCApprovalStatus == ecims.Models.EUCApprovedStatus.Forwarded)
                                                {
                                                    if (certificate.AgencyForwardedTo == 0)
                                                    {
                                                        <td><span class="label label-info">Forwarded</span></td>
                                                    }
                                                    else
                                                    {
                                                        foreach (var agency in Model.Agencies)
                                                        {
                                                            if (Model.user.PortalUserCategoryId == 5
                                                                && agency.Id == certificate.AgencyForwardedTo
                                                                /*&& certificate.AgencyForwardedTo != Model.user.PortalUserCategoryId*/)
                                                            {
                                                                <td>
                                                                    <span class="label label-info">
                                                                        Forwarded to @agency.Name @if (agency.Id == 5)
                                                                        {
                                                                            <span>for Approval</span>
                                                                        }
                                                                    </span>
                                                                </td>
                                                            }
                                                            else if (Model.user.PortalUserCategoryId != 5 && agency.Id == certificate.AgencyForwardedTo /*&& agency.Id == @certificate.AgencyForwardedTo agency.Id == @certificate.AgencyForwardedTo && agency.Id != 5*/)
                                                            {
                                                                <td><span class="label label-info">Forwarded from ONSA</span></td>
                                                            }
                                                        }
                                                    }
                                                }
                                                <td>
                                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", new { appID = certificate.applicationNo, ID = certificate.id }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
