﻿
@{
    ViewBag.Title = "General Settings";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">General Settings</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">

                    <a href='@Url.Action("createPortal", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="green-panel pn">
                                <h5>USER MANAGEMENT</h5>
                                <div class="darkblue-header">
                                    <h1 class="mt"><i class="fa fa-users fa-3x"></i></h1>
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>
                    <a href='@Url.Action("agencyManagement", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="green-panel pn">
                                <h5>AGENCY MANAGEMENT</h5>
                                <div class="darkblue-header">
                                    <h1 class="mt"><i class="fa fa-group fa-3x"></i></h1>
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>
                    <a href='@Url.Action("hsCodeMgt", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="green-panel pn">
                                <h5>HS CODES MANAGEMENT</h5>
                                <div class="darkblue-header">
                                    <h1 class="mt"><i class="fa fa-cogs fa-3x"></i></h1>
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>
                    <a href='@Url.Action("currencyMgt", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="green-panel pn">
                                <h5>CURRENCY MANAGEMENT</h5>
                                <div class="darkblue-header">
                                    <h1 class="mt"><i class="fa fa-money fa-3x"></i></h1>
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>
                    <a href='@Url.Action("portMgt", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="green-panel pn">
                                <h5>PORTS MANAGEMENT</h5>
                                <div class="darkblue-header">
                                    <h1 class="mt"><i class="fa fa-anchor fa-3x"></i></h1>
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


