﻿
@{
    ViewBag.Title = "Guideline";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="jumbotron" style="margin-bottom:0px;">
    <h2 style="font-weight: bold">Guidelines</h2>
    <p>To apply for an End-User certificate, ensure you read the guidelines. The guidelines cover specific guidelines for importation of different items detailing what documents and information are expected to be provided and available on hand when applying for a certificate. Click on the links below to read the guidelines for different item types.</p>
    <hr style="border: solid #ddd; width:10%; border-width: 4px 0 0; clear: both; height: 0; border-color: #265F2C">
</div>
@*<div></div>*@
<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/mili-eq.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">General Guideline</h4>
                            <a href="~/Documents/GENERAL_GUIDELINES.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/Embassy_of_Malta_in_Copenhagen.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Embassies, MDAs and Military</h4>
                            <a href="#" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div style="background-image: url('../../img/161023-F-HG908-0009.JPG');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Guideline for Procuring of Arms and Amunitions</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_ARMS_AND_AMMUNITION.pdf" class="btn btn-success">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/naira.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for cash Equipment</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_CASH_EQUIPMENT.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/blogphoto_safe_chemicals_act_blue_chemicals.png');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Procuring Chemicals</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_CHEMICALS.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div style="background-image: url('../../img/mili-eq.jpg');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Guideline for Uniforms & Accountrement</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_UNIFORMS_&_ACCOUNTREMENT.pdf" class="btn btn-success">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/bomb.png');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Procuring Explosive and Explosive Devices</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_EXPLOSIVES_EXPLOSIVE_DEVICES.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/1280px-SPRAYING_FERTILIZER._(FROM_THE_SITES_EXHIBITION._FOR_OTHER_IMAGES_IN_THIS_ASSIGNMENT,_SEE_FICHE_NUMBERS_87,_88,_106..._-_NARA_-_553881.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Procuring Fertilizer Chemicals</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_FERTILIZER_CHEMICALS.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div style="background-image: url('../../img/0cef32f0d312ff1379c3f8d63ff8f09f.jpg');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Guideline for Procuring of Fireworks</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_FIREWORKS.pdf" class="btn btn-success">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/Saudi_Sikorsky_S-70_Desert_Storm.jpg');">
                    <div class="card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Procuring Military Equipment</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_MILITARY_HARDWARE.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/14365358930_5c57b16a25_b.jpg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Procuring Private Security Gadget</h4>
                            <a href="~/Documents/GUIDELINES_FOR_PROCURING_PRIVATE_SECURITY_GADGETS.pdf" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    <div style="background-image: url('../../img/JGSDF_Type82_Command_Communication_Vehicle_20120610-02.JPG');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Guideline for Procuring of Treated Vehicle</h4>
                                <a href="~/Documents/GUIDELINES_FOR_PROCURING_TREATED_VEHICLES.pdf" class="btn btn-success">View Guideline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="g-guide">
            <div class="col-sm-4">
                @*<div style="background-image: url('../../img/Saudi_Sikorsky_S-70_Desert_Storm.jpg');">
                        <div class="card text-center">
                            <div class="card-body" style="width:100%">
                                <h4 class="card-title">Guideline for Procuring Military Equipment</h4>
                                <a href="#" class="btn btn-success">View Guideline</a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <div id="g-guide">
            <div class="col-sm-4">
                <div style="background-image: url('../../img/drone-green-grass-83492.jpeg');">
                    <div class=" card text-center">
                        <div class="card-body" style="width:100%">
                            <h4 class="card-title">Guideline for Procuring Domestic and Military Drones</h4>
                            <a href="#" class="btn btn-success">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="g-guide">
                <div class="col-sm-4">
                    @*<div style="background-image: url('../../img/JGSDF_Type82_Command_Communication_Vehicle_20120610-02.JPG');">
                            <div class="card text-center">
                                <div class="card-body" style="width:100%">
                                    <h4 class="card-title">Guideline for Procuring of Treated Vehicle</h4>
                                    <a href="#" class="btn btn-success">View Guideline</a>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>