﻿@model ecims.ViewModels.HSCodeViewModel
@{
    ViewBag.Title = "hsCodeMgt";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">HS CODES MANAGEMENT</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div id="exTab1">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#1a" data-toggle="tab">Create A Item Category</a>
                            </li>
                            <li>
                                <a href="#2a" data-toggle="tab">Create A New HS Code</a>
                            </li>
                            <li>
                                <a href="#3a" data-toggle="tab">All Item Category</a>
                            </li>
                            <li>
                                <a href="#4a" data-toggle="tab">All HS Code</a>
                            </li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1a">
                                @using (Html.BeginForm("hsCodeMgt", "Admin", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    @class = "form-horizontal",
                                    role = "form",
                                    @id = "createNewItemCat",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3>Create A Item Category</h3>
                                    <div id="createItemCat">
                                        <div class="row col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.itemCatName, "Name of Item Category:")
                                                @Html.TextBoxFor(m => m.itemCatName, new { @placeholder = "ARMS & AMMUNITION", @class = "form-control", @id = "itemCatName" })
                                                @Html.ValidationMessageFor(m => m.itemCatName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-11">
                                                @Html.LabelFor(m => m.SelApplicantType, "Select Applicant Type(s) That Can Access This Item Category:", new { @class = "" })
                                                @Html.DropDownListFor(m => m.SelApplicantType, new SelectList(Model.HsCodeUserCategory, "id", "UserCatName"), "", new { @class = "form-control", @id = "itemCat" })
                                                @Html.ValidationMessageFor(m => m.SelApplicantType, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success" name="submitCreateItemCat" value="Create" />
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="2a">
                                @using (Html.BeginForm("hsCodeMgt", "Admin", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    @class = "form-horizontal",
                                    role = "form",
                                    @id = "createNewItemSubCat",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3>Add Item Sub Category Details</h3>
                                    <div id="createAgency">
                                        <div class="row col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.itemCat, "Item Category Name:", new { @class = "" })
                                                @Html.DropDownListFor(m => m.itemCat, new SelectList(Model.EUCItemCat, "id", "categoryName"), "", new { @class = "form-control", @id = "itemCat" })
                                                @Html.ValidationMessageFor(m => m.itemCat, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.itemSubCatName, "Item Sub Category Name:")
                                                @Html.TextBoxFor(m => m.itemSubCatName, new { @placeholder = "Provide Name of Item Sub Category e.g Fertilizer", @class = "form-control", @id = "itemSubCatName" })
                                                @Html.ValidationMessageFor(m => m.itemSubCatName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.itemSubCatHSCode, "Item Sub Category HS Code:")
                                                @Html.TextBoxFor(m => m.itemSubCatHSCode, new { @placeholder = "Provide HS Code of Item Sub Category HS Code e.g 2914130000", @class = "form-control", @id = "itemSubCatName" })
                                                @Html.ValidationMessageFor(m => m.itemSubCatHSCode, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success" name="submitCreateItemHSCode" value="Create" />
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="3a">
                                <h3>Item Category Listing</h3>
                                <div class="tableReponsive">
                                    <table id="dataTable" class="display" cellspacing="0">
                                        <thead>
                                            <tr class="header">
                                                <th>Item Category Name</th>
                                                <th>Item For</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{  foreach (var itemCatList in Model.itemCatList)
                                                {
                                                    <tr>
                                                        <td>@itemCatList.categoryName</td>
                                                        @foreach (var HSCodeUserCat in Model.HsCodeUserCategory)
                                                        {
                                                            if (HSCodeUserCat.id == itemCatList.userTypeAllowed)
                                                            {
                                                                <td>@HSCodeUserCat.UserCatName</td>
                                                            }
                                                        }
                                                        <td>
                                                            @Html.ActionLink("Edit Detail", "EditItemCat", new { id = itemCatList.id }, new { @class = "btn btn-success" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="4a">
                                <h3>HS Code Listing</h3>
                                <div class="tableReponsive">
                                    <table id="dataTable2" class="display" cellspacing="0">
                                        <thead>
                                            <tr class="header">
                                                <th>HS Code Name</th>
                                                <th>HS Code</th>
                                                <th>Item Category</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{  foreach (var hsCodeList in Model.HSCodeList)
                                                {
                                                    <tr>
                                                        <td>@hsCodeList.Name</td>
                                                        <td>@hsCodeList.itemSubCatName</td>
                                                        @foreach (var itemCatList in Model.itemCatList)
                                                        {
                                                            if (itemCatList.id == hsCodeList.itemCatName)
                                                            {
                                                                <td>@itemCatList.categoryName</td>
                                                            }
                                                        }

                                                        <td>
                                                            @Html.ActionLink("Edit Detail", "EditHSCode", new { id = hsCodeList.Id }, new { @class = "btn btn-success" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>