﻿﻿@model ecims.ViewModels.BaseDashboardViewModel
@using ecims.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<link href="~/assets/css/morris.css" rel="stylesheet" />

@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
    var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
    var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
}
<h3>@ViewBag.Message</h3>
<div class="col-md-12 col-sm-12 col-lg-12">
</div>
<div class="onsaSupport @liClientUser @liAgency @liONSAAdmin @liNSA @liCustoms @liExclusiveUser">
    <div class="col-md-12 col-sm-12 col-lg-12">

        <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">

            <div class="content-panel">
                <div class="panel-body">
                    <div class="row mtbox">
                        <a href="@Url.Action("PendingEndUserCertificateApplication", "Admin")">
                            <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                <div class="box1">
                                    <img src="~/img/icon/pending.PNG" width="60" />
                                    <h3>@Model.pendingEUCRequest</h3>
                                </div>
                                <p>New EUC Applications</p>
                            </div>
                        </a>
                        <a href="@Url.Action("AllPendingSignUpRequests", "Admin")">
                            <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                <div class="box1">
                                    <img src="~/img/icon/usergroup.PNG" width="60" />
                                    <h3>@Model.pendingSignupRequest</h3>
                                </div>
                                <p>Pending Signup Requests</p>
                            </div>
                        </a>
                        <a href="@Url.Action("EndUserCertificatesPendingIssuance", "Admin")">
                            <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                <div class="box1">
                                    <img src="~/img/icon/certificate-pending-issuance.png" width="60" />
                                    <h3>@Model.PendingCert</h3>
                                </div>
                                <p>Certificates Pending Issuance</p>
                            </div>
                        </a>
                        <a href="@Url.Action("EndorsedEndUserCertificateApplication", "Admin")">
                            <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                <div class="box1">
                                    <img src="~/img/icon/endorse.png" width="60" />
                                    <h3>@Model.endorsedEUCRequest</h3>
                                </div>
                                <p>Recent Endorsements</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    <div class="content-panel">
                        <div class="panel-body text-center">
                            <h4 style="text-align:center;font-weight:bold;">Sign Up Requests</h4>
                            <div id="pie" style="height: 200px; width: 100%; font-size:14px; "></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    <div class="content-panel">
                        <div class="panel-body">
                            <h4 style="text-align:center;font-weight:bold;">EUC Application Chart</h4>
                            <div id="barChart2" style="height: 250px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    <div class="content-panel">
                        <div class="panel-body">
                            <h4 style="text-align:center;font-weight:bold;">EUC Certificate Status Chart</h4>
                            <div id="barChart3" style="height: 250px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="content-panel">
                    <div class="panel-body">
                        <a href='@Url.Action("AllUserSignUpRequests", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>SIGN UP REQUESTS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/add-user.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href='@Url.Action("ForwardedEndUserCertificateApplication", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>FORWARDED EUC APPLICATIONS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/Document-write-icon.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a class="@liONSASupport" href='@Url.Action("AllEndUserCertificates", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>END-USER CERTIFICATES</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/certificate-128.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a class="@liONSASupport" href='@Url.Action("trackApplication", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>TRACK APPLICATION</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/tracker.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a class="@liONSASupport" href='@Url.Action("AllBlacklistedApplicant", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>BLACKLIST MANAGEMENT</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/Blacklisted Applicant.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a class="@liONSASupport" href='@Url.Action("analytic", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>ANALYTICS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/pie-chart-icon.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href="@Url.Action("EditUser", "Account", new { id = Model.user.Id })">
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>MY ACCOUNT</h5>
                                    </div>
                                    <div class="mt">
                                        @{
                                        string userImage = Model.user.PassportUrl;
                                        if (userImage != null)
                                        {
                                        <img src="@userImage" class="img-circle" width="130" height="130" />
                                        }
                                        else if (userImage == null)
                                        {
                                        <img src="~/img/face.jpg" class="img-circle" width="130" height="130" />
                                        }
                                        }
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="NSA @liClientUser @liAgency @liONSAAdmin @liONSASupport @liCustoms @liExclusiveUser @liPGSO">
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    @*<div class="alert alert-danger" role="alert">
                        <b>Warning</b>: Authentication service trial period has elapsed. If the service is not paid for and upgraded, your subsription will be terminated on <b>Friday, 10th January 2020</b>.
                    </div>*@
                    <div class="content-panel">
                        <div class="panel-body">
                            <div class="row mtbox">
                                <a href="@Url.Action("EndUserCertificatesRequiringApproval", "Admin")">
                                    <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/pending.PNG" width="60" />
                                            <h3>@Model.requireApproval</h3>
                                        </div>
                                        <p>Pending Approval Applications</p>
                                    </div>
                                </a>

                                <a href="@Url.Action("ApprovedEndUserCertificateApplication", "Admin")">
                                    <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/approve.png" width="60" />
                                            <h3>@Model.approvedEUCRequest</h3>
                                        </div>
                                        <p>Approved Applications</p>
                                    </div>
                                </a>
                                <a href="@Url.Action("ForwardedEndUserCertificateApplication", "Admin")">
                                    <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/endorse.png" width="60" />
                                            <h3>@Model.forwardedEUC</h3>
                                        </div>
                                        <p>Forwarded Applications to Regulatory/Vetting Agencies</p>
                                    </div>
                                </a>
                                <a href="@Url.Action("RejectedEndUserCertificateApplication", "Admin")">
                                    <div class="col-md-3 col-sm-3 col-lg-3 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/folder reject.png" width="60" />
                                            <h3>@Model.disapprovedEUCRequest</h3>
                                        </div>
                                        <p>Rejected Applications</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                @*<div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    <div class="content-panel">
                        <div class="panel-body">
                            <div class="row mtbox">
                                <a href="@Url.Action("EndUserCertificatesRequiringApproval", "Admin")">
                                    <div class="col-md-4 col-sm-4 col-lg-4 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/pending.PNG" width="60" />
                                            <h3>@Model.requireApproval</h3>
                                        </div>
                                        <p>Pending Approval Applications</p>
                                    </div>
                                </a>

                                <a href="@Url.Action("ApprovedEndUserCertificateApplication", "Admin")">
                                    <div class="col-md-4 col-sm-4 col-lg-4 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/approve.png" width="60" />
                                            <h3>@Model.approvedEUCRequest</h3>
                                        </div>
                                        <p>Approved Applications</p>
                                    </div>
                                </a>
                                <a href="@Url.Action("RejectedEndUserCertificateApplication", "Admin")">
                                    <div class="col-md-4 col-sm-4 col-lg-4 box0">
                                        <div class="box1">
                                            <img src="~/img/icon/folder reject.png" width="60" />
                                            <h3>@Model.disapprovedEUCRequest</h3>
                                        </div>
                                        <p>Disapproved Applications</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    <div class="content-panel">
                        <div class="panel-body">
                            <h4 style="text-align:center;font-weight:bold;">EUC Application Chart</h4>
                            <div id="nsabarChart2" style="height: 180px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" style="margin-bottom:20px;">
                    <div class="content-panel">
                        <div class="panel-body">
                            <h4 style="text-align:center;font-weight:bold;">EUC Certificate Status Chart</h4>
                            <div id="nsabarChart3" style="height: 180px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="content-panel">
                    <div class="panel-body">
                        <a href='@Url.Action("AllEndUserCertificateApplication", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>ALL EUC APPLICATIONS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/Document-write-icon.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href='@Url.Action("AllEndUserCertificates", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>END-USER CERTIFICATES</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/certificate-128.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href='@Url.Action("trackApplication", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>TRACK APPLICATION</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/tracker.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href='@Url.Action("AllBlacklistedApplicant", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>BLACKLISTED APPLICANTS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/Blacklisted Applicant.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href='@Url.Action("analytic", "Admin")'>
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>ANALYTICS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/pie-chart-icon.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                        <a href="@Url.Action("EditUser", "Account", new { Id = Model.User_Id })">
                            <div class="col-md-6 col-sm-6 col-lg-6 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>MY PROFILE</h5>
                                    </div>
                                    <div class="mt">
                                        @{
                                        string userImage1 = Model.user.PassportUrl;
                                        if (userImage != null)
                                        {
                                        <img src="@userImage1" class="img-circle" width="130" height="130" />
                                        }
                                        else if (userImage1 == null)
                                        {
                                        <img src="~/img/face.jpg" class="img-circle" width="130" height="130" />
                                        }
                                        }
                                    </div>
                                </div><! -- /darkblue panel -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="onsaAdmin @liClientUser @liAgency @liONSASupport @liNSA @liCustoms @liExclusiveUser @liPGSO">
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="content-panel">
                <div class="panel-body">
                    @if (TempData["Success"] != null)
                    {
                    <p class="alert alert-success" id="successMessage">@TempData["Success"].ToString()</p>
                    }
                    @if (TempData["Failure"] != null)
                    {
                    <p class="alert alert-danger" id="successMessage">@TempData["Failure"].ToString()</p>
                    }
                    <a href='@Url.Action("createPortal", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>CREATE PORTAL USER</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/businessman_tie-512.png" width="128" height="128" />
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href='@Url.Action("agencyManagement", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>AGENCY MANAGEMENT</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/business-office-building-128.png" />
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href='@Url.Action("hsCodeMgt", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>HS CODES MANAGEMENT</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/compose-128.png" />
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href='@Url.Action("currencyMgt", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>CURRENCY MANAGEMENT</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/money-128.png" />
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>
                    <a href='@Url.Action("portMgt", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>PORTS MANAGEMENT</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/shipping-boat-logistics-port-128.png" />
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-3 -->
                    </a>
                    <a href='@Url.Action("analytic", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>ANALYTICS</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/pie-chart-icon.png" class="img-circle" width="130" height="130" />
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("ManageAllUsers", "Admin")">
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>USER MANAGEMENT</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/card_employer_badge_identification-128.png" />
                                </div>
                            </div>
                        </div>
                    </a>
                    @*@<a href='@Url.Action("AuditTrailsView", "Admin")'>
                        <div class="col-md-3 col-sm-3 col-lg-3 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>AUDIT TRAIL</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/SEO_Flat_Icons_usability_audit_search_-128.png" />
                                </div>
                            </div>
                        </div>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clientUser @liONSAAdmin @liAgency @liONSASupport @liNSA @liCustoms @liPGSO">
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-sm-12 col-lg-12" style="margin-bottom:20px;">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="content-panel">
                    <div class="panel-body" style="text-align:center; padding-left:50px;padding-right:50px;">
                        @if (TempData["Success"] != null)
                        {
                        <p class="alert alert-success" id="successMessage">@TempData["Success"].ToString()</p>
                        }
                        @*Session timeout alert code*@
                        @*<span>Your session will expire: @DateTime.Now.AddMinutes(System.Web.HttpContext.Current.Session.Timeout)</span>
                        <span id="countDown" style="display:none"></span>*@
                        <a><img src="~/img/icon/info-.png" width="100" height="100" /></a>
                        <h3 style="font-weight:bold;color:#ff0000;">End User Certificate and Security Clearance Certificate issuance & process is FREE-of-charge!</h3>
                        <br />
                        <p>
                            At no point are you expected to pay for anything including de-blacklisting or otherwise. For further enquiries or <br />to report any requests for payments on End-User Certificate processing, please contact the care and <br />support phone line at +234-809-038-5718 or via email at euc@nsa.gov.ng
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="content-panel">
                    <div class="panel-body">
                        <a href='@Url.Action("NewEUCApplication", "Admin")' >
                            <div class="col-md-4 col-sm-4 col-lg-4 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5 id="newEUCHeader">CLICK HERE TO APPLY</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/Document-write-icon.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Action("AllEndUserCertificates", "Admin")">
                            <div class="col-md-4 col-sm-4 col-lg-4 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>MY END-USER CERTIFICATES</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/certificate-128.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Action("EditUser", "Account")">
                            <div class="col-md-4 col-sm-4 col-lg-4 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>MY PROFILE</h5>
                                    </div>
                                    <div class="mt">
                                        @{
                                        string userImage3 = Model.user.PassportUrl;
                                        if (userImage3 != null)
                                        {
                                        <img src="@userImage3" class="img-circle" width="130" height="130" />
                                        }
                                        else if (userImage3 == null)
                                        {
                                        <img src="~/img/face.jpg" class="img-circle" width="130" height="130" />
                                        }
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="agencyUser @liONSAAdmin @liClientUser @liONSASupport @liNSA @liCustoms @liExclusiveUser @liPGSO">
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-sm-12 col-lg-12" style="margin-bottom:20px;">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="content-panel">
                    <div class="panel-body" style="text-align:center; padding-left:50px;padding-right:50px;">
                        @{
                        ApplicationDbContext _context = new ApplicationDbContext();
                        Model.Agency = _context.PortalSubCategories.ToList();

                        foreach (var agency in Model.Agency)
                        {
                        if (agency.Id == Model.user.PortalUserCategoryId)
                        {
                        <h2 class="centered" style="font-weight:bold;">Welcome to @agency.Name Dashboard </h2>
                        }
                        }
                        }
                        <h4 style="text-align:center;font-weight:bold;">EUC Application Status Chart for Agency</h4>
                        <div id="agencyPie" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="content-panel">
                    <div class="panel-body">
                        <a href="@Url.Action("ForwardedEndUserCertificateApplication", "Admin")">
                            <div class="col-md-3 col-sm-3 col-lg-3 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>PENDING APPLICATIONS</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/pending.PNG" class="img-circle" width="130" height="130" />
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href='@Url.Action("NewEUCApplication", "Admin")'>
                            <div class="col-md-3 col-sm-3 col-lg-3 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5 id="newEUCHeader">CLICK HERE TO APPLY</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/Document-write-icon.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Action("AllEndUserCertificateApplication", "Admin")">
                            <div class="col-md-3 col-sm-3 col-lg-3 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>MY END-USER CERTIFICATES</h5>
                                    </div>
                                    <div class="mt">
                                        <img src="~/img/icon/certificate-128.png" class="img-circle" width="130" height="130" />
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href='@Url.Action("EditUser", "Account")'>
                            <div class="col-md-3 col-sm-3 col-lg-3 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>MY PROFILE</h5>
                                    </div>
                                    <div class="mt">
                                        @{
                                        string userImage2 = Model.user.PassportUrl;
                                        if (userImage2 != null)
                                        {
                                        <img src="@userImage2" class="img-circle" width="130" height="130" />
                                        }
                                        else if (userImage2 == null)
                                        {
                                        <img src="~/img/face.jpg" class="img-circle" width="130" height="130" />
                                        }
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="customAgency" class="CUSTOMS @liONSAAdmin @liClientUser @liONSASupport @liNSA @liAgency @liExclusiveUser @liPGSO">
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="content-panel">
                <div class="panel-body">
                    <a href="@Url.Action("AllUploadedCertificate", "Admin")">
                        <div class="col-md-4 col-sm-4 col-lg-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>END-USER CERTIFICATES</h5>
                                </div>
                                <div class="mt">
                                    <img src="~/img/icon/certificate-128.png" class="img-circle" width="130" height="130" />
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("EditUser", "Account", new { id = Model.user.Id })">
                        <div class="col-md-4 col-sm-4 col-lg-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>MY PROFILE</h5>
                                </div>
                                <div class="mt">
                                    @{
                                    string userImage4 = Model.user.PassportUrl;
                                    if (userImage3 != null)
                                    {
                                    <img src="@userImage4" class="img-circle" width="130" height="130" />
                                    }
                                    else if (userImage4 == null)
                                    {
                                    <img src="~/img/face.jpg" class="img-circle" width="130" height="130" />
                                    }
                                    }
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/assets/js/chart-master/raphael-min.js"></script>
                    @*<script src="~/assets/js/chart-master/morris.js"></script>
                        <script src="~/assets/js/chart-master/Gruntfile.js"></script>*@
<script src="~/assets/js/chart-master/morris.min.js"></script>

<script type="text/javascript">
    //document.onload=startCountDown();
    window.onload = function (){

        Morris.Donut({
            element: 'pie',
            data: [

              {label: "Pending Request", value: @Model.pendingPie},
              {label: "Approved Request", value: @Model.approvedPie},
              {label: "Rejected Request", value: @Model.rejectPie}
            ]
        });

        Morris.Bar({
            element: 'barChart2',
            data: [
                { label: "Pending", value: @Model.pendingEUCRequest },
                { label: "Approved", value: @Model.approvedEUCRequest },
                { label: "Rejected", value: @Model.disapprovedEUCRequest },
                { label: "Forwarded", value: @Model.forwardedEUC },
                { label: "Endorsed", value: @Model.endorsedEUCRequest },
                { label: "Disendorsed", value: @Model.disendorsedEUC }
            ],
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
        });

        Morris.Bar({
            element: 'barChart3',
            data: [

            { label: "Pending", value: @Model.PendingCert },
                { label: "Issued", value: @Model.IssuedCert },
                { label: "Utilized", value: @Model.UtilizedCert },
                { label: "Recalled", value: @Model.RecalledCert },
                { label: "Dispute", value: @Model.DisputedCert },
                { label: "Expired", value: @Model.ExpiredCert }
            ],
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
        });

        Morris.Bar({
            element: 'nsabarChart2',
            data: [
                { label: "Pending", value: @Model.pendingEUCRequest },
                { label: "Approved", value: @Model.approvedEUCRequest },
                { label: "Rejected", value: @Model.disapprovedEUCRequest },
                { label: "Forwarded", value: @Model.forwardedEUC },
                { label: "Endorsed", value: @Model.endorsedEUCRequest },
                { label: "Disendorsed", value: @Model.disendorsedEUC }
            ],
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
        });

        Morris.Bar({
            element: 'nsabarChart3',
            data: [

            { label: "Pending", value: @Model.PendingCert },
                { label: "Issued", value: @Model.IssuedCert },
                { label: "Utilized", value: @Model.UtilizedCert },
                { label: "Recalled", value: @Model.RecalledCert },
                { label: "Dispute", value: @Model.DisputedCert },
                { label: "Expired", value: @Model.ExpiredCert }
            ],
            xkey: 'label',
            ykeys: ['value'],
            labels: ['Count']
        });

        Morris.Donut({
            element: 'agencyPie',
            data: [

              {label: "Pending", value: @Model.pendingAgencyData},
              {label: "Endorsed/Disendorsed", value: @Model.approvedAgencyData},
            ]
        });
    }
</script>