﻿@model ecims.ViewModels.AllUserSignUpRequestsViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage All Users";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">All User Sign Up Requests</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                            new List<SelectListItem>
                             {
                                new SelectListItem{ Text="10", Value = "ManageAllUsers?PageSize=10" },
                                new SelectListItem{ Text="50", Value = "ManageAllUsers?PageSize=50" },
                                new SelectListItem{ Text="100", Value = "ManageAllUsers?PageSize=100" },
                             },
                            Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>

                @using (Html.BeginForm("ManageAllUsers", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("TYPE", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "ApplicantType",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("DATE", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "DateCreated",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("LAST NAME", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "LastName",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("FIRST NAME", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "FirstName",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("E-MAIL", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "Email",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("MOBILE", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "PhoneNumber",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("AGENCY", "ManageAllUsers")
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "ManageAllUsers",
                                    new
                                    {
                                        sortOrder = "DateCreated",
                                        CurrentSort = ViewBag.CurrentSort,
                                        Page = Model.usersToShow.PageNumber
                                    })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "ManageAllUsers")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.usersToShow)
                        {
                            <tr>
                                @if (item.CategoryList == ecims.Models.CategoryList.Individual)
                                {
                                    <td><span class="label label-success lb-md">Individual</span></td>
                                }
                                else if (item.CategoryList == ecims.Models.CategoryList.Corporate)
                                {
                                    <td><span class="label label-info lb-md">Corporate</span></td>
                                }
                                else if (item.CategoryList == ecims.Models.CategoryList.Exclusive)
                                {
                                    <td><span class="label label-warning lb-md">Exclusive User</span></td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                @foreach (var Agency in Model.UserAgency)
                                {
                                    if (Agency.Id == item.PortalUserCategoryId)
                                    {
                                        <td>@Agency.Name</td>
                                    }
                                }
                                @if (item.ApprovalStatus == ecims.Models.ApprovedStatus.Approved)
                                {
                                    <td><span class="label label-success lb-md">ACTIVE</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger lb-md">INACTIVE</span></td>
                                }
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Click for Action</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("View User Details", "applicantDetails", new { id = item.Id })</li>
                                            <li>@Html.ActionLink("Edit User Details", "EditUser", new { id = item.Id })</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id='Paging' style="text-align:center">
                    Page @(Model.usersToShow.PageCount < Model.usersToShow.PageNumber ? 0 : Model.usersToShow.PageNumber)
                    of @Model.usersToShow.PageCount

                    @Html.PagedListPager(Model.usersToShow, page => Url.Action("ManageAllUsers", new { page, pageSize = Model.PageSize }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "ManageAllUsers?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        window.location.href = url + searchTerm;
    }
</script>
