﻿@model ecims.ViewModels.EndUserCertificatesViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Pending EUC Applications";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Pending EUC Applications</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "PendingEndUserCertificateApplication?PageSize=10&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                               new SelectListItem{ Text="50", Value = "PendingEndUserCertificateApplication?PageSize=50&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                               new SelectListItem{ Text="100", Value = "PendingEndUserCertificateApplication?PageSize=100&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>

                @using (Html.BeginForm("PendingEndUserCertificateApplication", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("DATE CREATED", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicationNo",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantNo",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ITEM CATEGORY", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "ItemCategories",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "Status",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("ACTION", "PendingEndUserCertificateApplication",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.certificatesToShow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                @if (item.User == null)
                                {
                                    /**/
                                    <td>
                                        NULL
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                @foreach (var itemCategory in Model.itemCategories)
                                {
                                    if (itemCategory.id == item.itemCat)
                                    {
                                        <td>@itemCategory.categoryName</td>
                                    }
                                }
                                <td><span class="label label-warning lb-md">Pending</span></td>

                                <td>
                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.certificatesToShow.TotalItemCount</strong>
                    <hr />
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                    of @Model.certificatesToShow.PageCount

                    @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("PendingEndUserCertificateApplication", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm, CurrentSort = ViewBag.CurrentSort, sortOrder = ViewBag.CurrentSort }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "PendingEndUserCertificateApplication?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>
