﻿@model ecims.ViewModels.PortMgtViewModel
@{
    ViewBag.Title = "portMgt";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@using (Html.BeginForm("portMgt", "Admin", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "createNewPort",
}))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">
                    <h3 style="font-weight:bold;">PORTS MANAGEMENT</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#1a" data-toggle="tab">Create A New Port</a>
                                </li>
                                <li>
                                    <a href="#2a" data-toggle="tab">Manage Port</a>
                                </li>
                            </ul>
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="1a">
                                    @if (TempData["Success"] != null)
                                    {
                                        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                                    }
                                    <h3>Create A New Port</h3>
                                    <div id="createPort">
                                        <div class="row col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.PortCode, "Port Code:")
                                                @Html.TextBoxFor(m => m.PortCode, new { @placeholder = "Provide Port Code", @class = "form-control", @id = "portName" })
                                                @Html.ValidationMessageFor(m => m.PortCode, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.StateId, "State this Port Belongs to:", new { @class = "" })
                                                @Html.DropDownListFor(m => m.StateId, new SelectList(Model.State, "Id", "Name"), "", new { @class = "form-control", @id = "state" })
                                                @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-success" name="submitAgencyDesk" value="Create" />
                                            <input type="reset" class="btn btn-primary" value="Reset" />
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="2a">
                                    <h3>Port Listing</h3>
                                    <div class="tableReponsive">
                                        <table id="dataTable" class="display" cellspacing="0">
                                            <thead>
                                                <tr class="header">
                                                    <th>Port Code</th>
                                                    <th>State Port Code Belongs to</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{  foreach (var portList in Model.PortOfLanding)
                                                    {
                                                        <tr>
                                                            <td>@portList.Name</td>
                                                            @foreach (var stateList in Model.State)
                                                            {
                                                                if (stateList.Id == portList.portState)
                                                                {
                                                                    <td>@stateList.Name</td>
                                                                }
                                                            }
                                                            <td>
                                                                @Html.ActionLink("Edit Detail", "EditPort", new { id = portList.Id }, new { @class = "btn btn-success" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}