﻿@model ecims.ViewModels.RecallApplicationViewModel
@{
    ViewBag.Title = "RecallApplication";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Recall End-User Certificate</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            <div class="panel panel-success">
                                <div class="panel-heading">Recall End-User Certificate Details</div>
                                <div class="panel-body">
                                    <div class="col-md-8 col-lg-8 col-sm-8" id="sendToOnsa">
                                        @using (Html.BeginForm("RecallCertificate", "Admin", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            @class = "form-horizontal",
                                            role = "form",
                                            @id = "createComment",
                                        }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.EUCID, new { Value = Model.EUCID })

                                            <div class="col-md-12">
                                                <dl id="supportDocuDiv" class="dl-horizontal">
                                                    <dt style="width:200px;">Certificate Number:</dt>
                                                    <dd>@Model.CertificateNumber</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-12">
                                                <dl id="supportDocuDiv" class="dl-horizontal">
                                                    <dt style="width:200px;">Application Number:</dt>
                                                    <dd>@Model.EUCID</dd>
                                                </dl>
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.RecallComment, "Recall Comments:")
                                                @Html.TextAreaFor(m => m.RecallComment, new { @placeholder = "Input the reason for recalling this certificate", @class = "form-control", @rows = "4" })
                                                @Html.ValidationMessageFor(m => m.RecallComment, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <input type="reset" class="btn btn-primary" value="Reset" />
                                                <input type="submit" class="btn btn-success" name="recallApplication" value="Recall Certificate" />
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>