﻿@model ecims.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Rejected Request";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">REJECTED USER SIGNUP REQUESTS</h3>

                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="tableReponsive">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>APPLICANT TYPE</th>
                                        <th>DATE REQUESTED</th>
                                        <th>LAST NAME</th>
                                        <th>FIRST NAME</th>
                                        <th>E-MAIL</th>
                                        <th>MOBILE NUMBER</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.userList)
                                    {
                                        <tr>
                                            @if (user.CategoryId == 1)
                                            {
                                                <td><span class="label label-info">Individual</span></td> }
                                            else
                                            {
                                                <td><span class="label label-info">Corporate</span></td>
                                            }
                                            <td>@user.RequestedDate.ToString("dd-MMM-yyyy")</td>
                                            <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                                            <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                                            <td>@Html.DisplayFor(modelItem => user.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => user.PhoneNumber)</td>
                                            <td><label class="label label-danger">Rejected</label></td>
                                            <td>@Html.ActionLink("View Applicant Details", "applicantDetails", new { id = user.Id }, new { @class = "btn btn-success" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
