﻿@model ecims.ViewModels.EndUserCertificatesViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Approved EUC Applications";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">Approved EUC Applications</h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "SAsEucsApproved?PageSize=10" },
                               new SelectListItem{ Text="50", Value = "SAsEucsApproved?PageSize=50" },
                               new SelectListItem{ Text="100", Value = "SAsEucsApproved?PageSize=100" },
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("SAsEucsApproved", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("DATE CREATED", "SAsEucsApproved",
                                new
                                {
                                    sortOrder = "DateCreated",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICATION NUMBER", "SAsEucsApproved",
                                new
                                {
                                    sortOrder = "ApplicationNo",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NUMBER", "SAsEucsApproved",
                                new
                                {
                                    sortOrder = "ApplicantNo",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("APPLICANT NAME", "SAsEucsApproved",
                                new
                                {
                                    sortOrder = "ApplicantName",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            <th>
                                @Html.ActionLink("ITEM CATEGORIES", "SAsEucsApproved",
                                new
                                {
                                    sortOrder = "ItemCategories",
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.certificatesToShow.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("STATUS", "SAsEucsApproved")
                            </th>
                            @if (User.IsInRole("NSA"))
                            {
                                <th>
                                    DURATION (DAYS)
                                </th>
                            }
                            <th>
                                @Html.ActionLink("ACTION", "SAsEucsApproved")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.certificatesToShow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.applicationNo)
                                </td>
                                @if (item.User == null)
                                {
                                    /**/
                                    <td>
                                        NULL
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.ApplicationNumber)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                @foreach (var itemCategory in Model.itemCategories)
                                {
                                    if (itemCategory.id == item.itemCat)
                                    {
                                        <td>@itemCategory.categoryName</td>
                                    }
                                }
                                <td><span class="label label-success lb-md">Approved</span></td>
                                <td>
                                    @{
                                        var duration = (DateTime.Now - item.dateForwarded).TotalDays;
                                        if (duration > 43300)
                                        {
                                            duration = (DateTime.Now - item.dateCreated).TotalDays;
                                            if (duration < 30)
                                            {
                                                <span class="label label-info">@Math.Ceiling(duration)</span>
                                            }
                                            else if (duration > 30)
                                            {
                                                <span class="label label-danger badge-danger">@Math.Ceiling(duration)</span>
                                            }
                                        }
                                        else
                                        {
                                            if (duration < 30)
                                            {
                                                <span class="label label-info">@Math.Ceiling(duration)</span>
                                            }
                                            else if (duration > 30)
                                            {
                                                <span class="label label-danger">@Math.Ceiling(duration)</span>
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = item.applicationNo, ID = item.id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
                <div id='Paging' style="text-align:center">
                    Page @(Model.certificatesToShow.PageCount < Model.certificatesToShow.PageNumber ? 0 : Model.certificatesToShow.PageNumber)
                    of @Model.certificatesToShow.PageCount

                    @Html.PagedListPager(Model.certificatesToShow, page => Url.Action("SAsEucsApproved", new { page, pageSize = Model.PageSize }))
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "SAsEucsApproved?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        window.location.href = url + searchTerm;
    }
</script>
