﻿@model ecims.ViewModels.Item

@{
    ViewBag.Title = "NewEUCApplication";
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@using (Html.BeginForm("NewEUCApplication", "CreateEUCApplication", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "createEUCApplicationUserRegistrationForm",
    onsubmit = "showConfirmModal()"
}))
{
    @Html.AntiForgeryToken()
    <div>
        <h1 style="text-align:center;font-weight:bold;">Create A new EUC Application Request</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                @*<li role="presentation" class="active">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-folder-open"></i>
                                        </span>
                                    </a>
                                </li>*@
                                <li role="presentation" class="disabled">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                        </span>
                                    </a>
                                </li>
                                @*<li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-paperclip"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </a>
                                </li>*@
                            </ul>
                        </div>
                        <form role="form">
                            <div class="tab-content content-panel" style="padding-left:50px; padding-right:50px;">
                                <div style="padding-top:10px;">
                                    <div>
                                        <div class="col-lg-8 col-md-8 col-sm-6">
                                            <h3><strong>List Your Items</strong></h3>
                                            <hr />
                                            <div class="row step33" style="padding-bottom:20px;">
                                                <h4 style="font-weight:bold">Items Description:</h4>
                                                <br />
                                                <div class="row col-md-12">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(m => m.HSCode, "HS_Code")
                                                        @Html.DropDownListFor(m => m.HSCode, new SelectList(Model.HSCodes, "Id", "Name"), "", new { @class = "form-control required-field", @id = "hsCode" })
                                                        @*@Html.LabelFor(m => m.HSCode, "HS_Code")
                                                        @Html.TextAreaFor(m => m.HSCode, new { @class = "form-control required-field", @id = "hsCode" })*@
                                                    </div>
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(m => m.ItemDescrip, "Item_Description")
                                                        @Html.TextAreaFor(m => m.ItemDescrip, new { @class = "form-control required-field", @id = "descrip" })
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.Qty, "Quantity")
                                                            @Html.TextBoxFor(m => m.Qty, new { @placeholder = "Quantity", @class = "form-control", @id = "qty" })
                                                        </div>
                                                        <div class="col-md-5">
                                                            @Html.LabelFor(m => m.Weight, "Weight")
                                                            @Html.TextBoxFor(m => m.Weight, new { @placeholder = "Weight", @class = "form-control", @id = "qtyUnit" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(m => m.Cost, "Cost")
                                                            @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @id = "cost" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input type="button" id="add" class="btn btn-primary" value="Add Item" onclick="Javascript: addRow(); Javascript: ClearFields();">
                                                        &nbsp;<br />
                                                    </div>
                                                    <br />
                                                    <div id="mydata" class="col-md-12">
                                                        <table id="myTableData" class="table" cellpadding="2">
                                                            <tr>
                                                                <th>HS_Code</th>
                                                                <th>Item_Description</th>
                                                                <th>Quantity</th>
                                                                <th>Weight</th>
                                                                <th>Cost</th>
                                                                <th>&nbsp;</th>
                                                            </tr>
                                                        </table>
                                                        <table id="totalRow" class="table" cellpadding="2">
                                                            <tr class="sum">
                                                                <td style="font-weight:bold;">TOTAL: </td>
                                                                <td class="sum">#</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <li><input type="submit" id="submit" class="btn btn-success" value="Submit" /></li>
                                                </div>
                                            </div>
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-danger prev-step">Previous</button></li>
                                                <li><button type="button" class="btn btn-success next-step">Save and continue</button></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-2">
                                            <h3 style="color:red;font-weight:bold;">Tips</h3>
                                            <hr />
                                            <h4 style="font-weight:bold;">Importation Items:</h4>
                                            <br />
                                            <p style="padding-left:10px;">You must add at least one item before you can proceed to the next step:</p>
                                            <ol>
                                                <li>To delete items added previously, click the Delete All Added Items button</li>
                                                <li>To Go Back, click the back button.</li>
                                                <li>Currency of transaction can not be changed except you have not added any importation items to this application request</li>
                                            </ol>
                                            <h4 style="font-weight:bold;">Further Tips:</h4>
                                            <br />
                                            <ol>
                                                <li>Item Description: Provide a brief description of the item you are adding</li>
                                                <li>To Go Back, click the back button.</li>
                                                <li>Currency of transaction can not be changed except you have not added any importation items to this application request</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="tab-pane" role="tabpanel" id="complete">
                    <div class="step44">
                        <h5>Completed</h5>
                    </div>
                    <div class="form-group">
                        <ul class="list-inline pull-right">
                            <li><input type="submit" id="submit" class="btn btn-success" value="Submit" /></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix">

                </div>*@
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/formScript.js"></script>
<script src="~/assets/js/tableScript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    function showConfirmModal() {
        alert("Your application has been sent successfully. You will be notified via e-mail and SMS if your application is approved or rejected.");
    }
</script>

<script>
    $(document).ready(function () {
        $('#chkFor').change(function () {
            if (this.checked)
                //  ^
                $('#divImportingfor').fadeIn('slow');
            else
                $('#divImportingfor').fadeOut('slow');
        });
    });
</script>

<script type="text/javascript">

    function addRow() {

        var hsCode = document.getElementById("hsCode");
        var descrip = document.getElementById("descrip");
        var qty = document.getElementById("qty");
        var qtyUnit = document.getElementById("qtyUnit");
        var cost = document.getElementById("cost");
        var table = document.getElementById("myTableData");

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        row.insertCell(0).innerHTML = hsCode.value;
        row.insertCell(1).innerHTML = descrip.value;
        row.insertCell(2).innerHTML = qty.value;
        row.insertCell(3).innerHTML = qtyUnit.value;
        row.insertCell(4).innerHTML = cost.value;
        row.insertCell(5).innerHTML = '<input type="button" class="btn btn-danger" style="padding:2px;" value = "Delete" onClick="Javacsript:deleteRow(this)">';

    }

    function deleteRow(obj) {
        var index = obj.parentNode.parentNode.rowIndex;
        var table = document.getElementById("myTableData");
        table.deleteRow(index);

    }

    function load() {
        console.log("Page load finished");
    }

    function ClearFields() {
        document.getElementById("cost").value = "0";
        document.getElementById("qtyUnit").value = "";
        document.getElementById("qty").value = "";
        document.getElementById("descrip").value = "";
        document.getElementById("hsCode").value = "";
    }


        $(function () {
            $("#submit").click(function () {
                var itemlist = [];

                //get cell values, instead of the header text.
                $("table tr:not(:first)").each(function () {
                    var tdlist = $(this).find("td");
                    var Item = { HSCode: $(tdlist[0]).html(), ItemDescrip: $(tdlist[1]).html(), Qty: $(tdlist[2]).html(), Weight: $(tdlist[3]).html(), Cost: $(tdlist[4]).html() };
                    itemlist.push(Item);
                })

                $.ajax({
                    url: '@Url.Action("InsertValue", "Admin")', //
                    dataType: "json",
                    data: JSON.stringify({ itemlist: itemlist }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //alert("success");
                    },
                    error: function (xhr) {
                        //alert("error");
                    }
                });
            });
        });
</script>