﻿@model ecims.ViewModels.TrackEUCAppViewModel
@{
    ViewBag.Title = "Track an EUC Application";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Track an EUC Applications</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    @using (Html.BeginForm("trackApplication", "Admin", FormMethod.Post))
                    {
                        <div class="col-md-12">

                            <div class="col-md-6">
                                <input type="text" class="form-control" id="trackInput" name="eucappNo" placeholder="Type an Application Number to Track It">
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <input type="submit" class="btn btn-success" onclick="return checkTextField();" id="btnSubmit" value="Track Application" />
                            </div>

                        </div>
                        <hr />
                        <h3 id="appListingLabel" style="font-weight:bold; ">EUC Application Workflow Listing</h3>
                        <div id="trackedList" class="col-md-12 col-lg-12 col-sm-12">
                            <div class="tableReponsive">
                                <table id="dataTable" style="font-size:12px;">
                                    <thead>
                                        <tr class="header">
                                            <th>Activity Date</th>
                                            <th>Application Number</th>
                                            <th>Action Source</th>
                                            <th>Action Recepient</th>
                                            <th>Handled</th>
                                            <th>Current Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.EUCAppList != null)
                                        {
                                            foreach (var eucAppList in Model.EUCAppList)
                                            {
                                                <tr>
                                                    <td>@eucAppList.activityDate.ToString("dd-MMM-yyyy")</td>
                                                    <td>@eucAppList.applicationNumber</td>
                                                    @foreach (var Agency in Model.AgencyList)
                                                    {
                                                        if (Agency.Id == eucAppList.SourceAgency)
                                                        {
                                                            <td>@Agency.Name</td>
                                                        }
                                                    }
                                                    @foreach (var Agency in Model.AgencyList)
                                                    {
                                                        if (Agency.Id == eucAppList.AgencyWorkedOn)
                                                        {
                                                            <td>@Agency.Name</td>
                                                        }
                                                    }
                                                    @if (eucAppList.isWorkedOn == 1)
                                                    {
                                                        <td>Yes</td>
                                                    }
                                                    else if (eucAppList.isWorkedOn == 0)
                                                    {
                                                        <td>No</td>
                                                    }
                                                    @foreach (var Agency in Model.AgencyList)
                                                    {
                                                        if (Agency.Id == eucAppList.SourceAgency)
                                                        {
                                                            if (eucAppList.handledStatus == "FORWARDED")
                                                            {
                                                                foreach (var AgencyTo in Model.AgencyList)
                                                                {
                                                                    if (AgencyTo.Id == eucAppList.AgencyWorkedOn)
                                                                    {
                                                                        <td>Request @eucAppList.handledStatus by @Agency.Name.ToUpper() to @AgencyTo.Name.ToUpper()</td>
                                                                    }
                                                                }
                                                            }
                                                            else if (eucAppList.handledStatus == "APPROVED")
                                                            {
                                                                <td>@eucAppList.handledStatus by @Agency.Name.ToUpper()</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Request @eucAppList.handledStatus by @Agency.Name.ToUpper()</td>
                                                            }
                                                        }
                                                    }
                                                    <td>@Html.ActionLink("View Details", "EUCApplicationDetails", "Admin", new { appID = eucAppList.applicationNumber}, new { @class = "btn btn-success" })</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootbox.min.js"></script>

<script type='text/javascript'>
    function checkTextField() {
        var userInput = document.getElementById('trackInput').value;
        if (userInput == '') {
            alert("Please provide a valid application number before clicking the Track button");
            //return false;
        }
        else {
            document.getElementById("appListingLabel").style.display = 'block';
            document.getElementById("trackedList").style.display = 'block';
        }
    }
</script>
