﻿@model ecims.ViewModels.UploadCertificateViewModel
@{
    ViewBag.Title = "UploadCertificate";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Upload Certificate</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @using (Html.BeginForm("UploadCertificate", "Admin", FormMethod.Post, new
                {
                    enctype = "multipart/form-data",
                    @class = "",
                    role = "form",
                    @id = "uploadCertificateForm",
                    onsubmit = ""
                }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CertNumber)
                        @Html.HiddenFor(model => model.EUCUserID)
                        <div class="col-md-12">
                            <dl id="supportDocuDiv" class="dl-horizontal">
                                <dt style="width:200px;">Certificate Number:</dt>
                                <dd>@Model.CertNumber</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(m => m.UploadedCert, "Upload the scanned copy of the certificate if it was successfully printed; otherwise, reprint, scan, and upload.")
                            @Html.TextBoxFor(m => m.UploadedCert, new { type = "file", @class = "form-control", @id = "uploadCert", @name = "uploadCert" })
                            @Html.ValidationMessageFor(m => m.UploadedCert, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <p class="btn btn-primary" style="color:#fff;">@Html.ActionLink("No, Reprint Certificate", "AllEndUserCertificates", new { @class = "btn btn-primary" }, new { @id = "go_back" })</p>
                            <input type="submit" class="btn btn-success" name="collectCert" value="Yes Upload Scanned Certificate" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>