﻿@model ecims.ViewModels.CreatePortalUserViewModel
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@using (Html.BeginForm("createPortal", "Admin", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "createPortalUserRegistrationForm",
    onsubmit = "showConfirmModal()"
}))
{
    @Html.AntiForgeryToken()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <div class="row" style="margin:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <div class="content-panel" style="padding:20px;">
                    <div @*class="tableFix"*@>
                        <h3 style="font-weight:bold;">USER MANAGEMENT</h3>
                        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                            <h3>All Portal User Listing</h3>
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>Date Created</th>
                                        <th>Full Name</th>
                                        <th>User Type</th>
                                        <th>Email Address</th>
                                        <th>Mobile Number</th>
                                        <th>Agency</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var user_list in Model.UserList)
                                        {
                                            <tr>
                                                <td>@user_list.RequestedDate</td>
                                                <td>@user_list.FirstName @user_list.LastName</td>
                                                @if (user_list.UserType == ecims.Models.UserType.ClientUser)
                                                {
                                                    <td><span class="label label-info">Client User</span></td>
                                                }
                                                else if (user_list.UserType == ecims.Models.UserType.PortalUser)
                                                {
                                                    <td><span class="label label-info">Portal User</span></td>
                                                }
                                                <td>@user_list.Email</td>
                                                <td>@user_list.PhoneNumber</td>
                                                @foreach (var Agency in Model.SubCategories)
                                                {
                                                    if (Agency.Id == user_list.PortalUserCategoryId)
                                                    {
                                                        <td>@Agency.Name</td>
                                                    }
                                                }
                                                @{
                                                    if (@user_list.ApprovalStatus == ecims.Models.ApprovedStatus.Approved)
                                                    {
                                                        <td>ACTIVE</td>
                                                    }
                                                    else
                                                    {
                                                        <td>INACTIVE</td>
                                                    }
                                                }
                                                <td>

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>@Html.ActionLink("View User Details", "applicantDetails", new { id = user_list.Id })</li>
                                                            <li>@Html.ActionLink("Edit User Details", "EditUser", new { id = user_list.Id })</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                         }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
