﻿@model ecims.ViewModels.UploadCertificateViewModel
@{
    ViewBag.Title = "ValidCert";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


@{
    var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
    var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
    var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
    var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
    var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
    var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
}


<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">LIST OF CERTIFICATES</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="tableReponsive">
                            <table id="dataTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>EXPIRY DATE</th>
                                        <th>ISSUANCE DATE</th>
                                        <th>CERTIFICATE NUMBER</th>
                                        <th>APPLICANT NUMBER</th>
                                        <th>APPLICANT NAME</th>
                                        <th>CERTIFICATE STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var upload in Model.UploadedCertList)
                                        {
                                            <tr>
                                                <td>@upload.CertNo</td>
                                                @foreach (var certificate in Model.EUCCertificates)
                                                {
                                                    if (certificate.CertNo == upload.CertNo)
                                                    {
                                                        <td>@certificate.ExpiryDate.ToString("dd-MMM-yyyy")</td>
                                                        <td>@certificate.IssuanceDate.ToString("dd-MMM-yyyy")</td>

                                                        foreach (var user in Model.UsersToQuery)
                                                        {
                                                            if (user.Id == certificate.ApplicantNo)
                                                            {
                                                                <td>@user.ApplicationNumber</td>
                                                                <td>@user.FirstName @user.LastName @user.OtherName</td>
                                                            }
                                                        }
                                                    }
                                                }
                                                <td>
                                                    @if (upload.UploadUrl != null)
                                                    {
                                                        <span class="label label-success">Certificate Valid</span>
                                                    }
                                                </td>

                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success">Click for Action</button>
                                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@Url.Content(upload.UploadUrl)">Download Uploaded Certificate</a></li>
                                                            <li class="@liNSA @liAgency @liClientUser @liONSASupport" @liONSAAdmin>@Html.ActionLink("Dispute Certificate", "DisputeCertificate", new { CertID = upload.CertNo }, new { @class = @liNSA, @liAgency, liONSASupport, liONSAAdmin, @liClientUser })</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
