﻿@model ecims.ViewModels.BlacklistViewModel

@{
    ViewBag.Title = "ViewApplicantBlacklistHistory";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <div @*class="tableFix"*@>
                    <h3 style="font-weight:bold;">Blacklist History</h3>
                    <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table id="myTable" class="display" cellspacing="0">
                                <thead>
                                    <tr class="header">
                                        <th>Date Blacklisted</th>
                                        <th>Action Performed</th>
                                        <th>Application Type</th>
                                        <th>Applicant Name</th>
                                        <th>Applicant Number</th>
                                        <th>Action Performed By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{  foreach (var historyList in Model.BlacklistHistory)
                                        {
                                            <tr>
                                                <td>@historyList.BlacklistDate</td>
                                                <td>@historyList.action</td>
                                                @if (Model.UserList.Id == historyList.ApplicantId)
                                                {
                                                    if (@Model.UserList.UserType == ecims.Models.UserType.ClientUser)
                                                    {
                                                        <td>APLICANT</td>
                                                    }
                                                else if (@Model.UserList.UserType == ecims.Models.UserType.PortalUser)
                                                {
                                                    <td>PORTAL USER</td>
                                                }
                                                <td>@Model.UserList.FirstName @Model.UserList.LastName @Model.UserList.OtherName</td>
                                                <td>@Model.UserList.ApplicationNumber</td>
                                                }
                                                @foreach (var userList in Model.AllUsers)
                                                {
                                                    if (userList.Id == historyList.BlacklistedBy)
                                                    {
                                                        <td>@userList.FirstName @userList.LastName @userList.OtherName</td>
                                                    }
                                                }
                                                <td>
                                                    @Html.ActionLink("View Blacklist Details", "BlacklistDetails", new { blacklistId = historyList.Id, userAppNo = historyList.ApplicantId }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="btn btn-primary">@Html.ActionLink("Back", "AllBlacklistedApplicant", new { @class = "btn btn-primary" }, new { @id = "go_back" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
