﻿@model ecims.ViewModels.AllVerifiedEndUserCertififcatesViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Verified End-User Certificates";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="content-panel" style="padding:20px;">
        <h3 style="font-weight:bold;">
            Verified End-User Certificates
        </h3>
        <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
            <div @*class="tableFix"*@>
                <div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <label>
                        Show
                        @Html.DropDownListFor(m => m.PageSize,
                           new List<SelectListItem>
                            {
                               new SelectListItem{ Text="10", Value = "AllVerifiedEndUserCertificates?PageSize=10&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort},
                               new SelectListItem{ Text="50", Value = "AllVerifiedEndUserCertificates?PageSize=50&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort},
                               new SelectListItem{ Text="100", Value = "AllVerifiedEndUserCertificates?PageSize=100&searchTerm=" + Model.searchTerm + "&CurrentSort=" + ViewBag.CurrentSort + "&SortOrder=" + ViewBag.CurrentSort},
                            },
                           Model.PageSize.ToString(),
                            new
                            {
                                @name = "myTable_length",
                                @class = "",
                                @id = "PageSizeList",
                                onchange = "filterByDropdown(this)"
                            }) entries
                    </label>
                </div>
                @using (Html.BeginForm("AllVerifiedEndUserCertificates", "Admin", FormMethod.Post))
                {
                    <div class="col-md-6 col-lg-6 col-sm-6 pull-right">
                        <div style="float: right;">
                            <label>
                                Search:
                                @Html.TextBoxFor(m => m.searchTerm,
                                     Model.searchTerm.ToString(),
                                     new
                                     {
                                         @class = "",
                                         @id = "SearchTermTextBox"
                                     })
                                <input type="button" class="btn btn-success" value="Search" id="submit" onclick="search()" style="padding:5px 5px 5px 5px;" />
                            </label>
                        </div>
                    </div>
                }
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("DATE VERIFIED", "AllVerifiedEndUserCertificates",
                                new
                                {
                                    sortOrder = "DateVerified",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.VerifiedEndUserCertificate.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("CERTIFICATE NUMBER", "AllVerifiedEndUserCertificates",
                                new
                                {
                                    sortOrder = "CertificateNumber",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.VerifiedEndUserCertificate.PageNumber
                                })
                            </th>
                            <th>
                                @Html.ActionLink("VERIFIED BY", "AllVerifiedEndUserCertificates",
                                new
                                {
                                    sortOrder = "VerifiedBy",
                                    PageSize = Model.PageSize,
                                    searchTerm = Model.searchTerm,
                                    CurrentSort = ViewBag.CurrentSort,
                                    Page = Model.VerifiedEndUserCertificate.PageNumber
                                })
                            </th>
                            <th>
                                ACTIONS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VerifiedEndUserCertificate)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateVerified)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Certificate.CertNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.LastName)
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Click for Action</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("View Application Details", "EUCApplicationDetails", new {controller = "admin", appID = item.Certificate.applicationNo })</li>
                                            <li>@Html.ActionLink("View Certificate Details", "EUCCertificateDetails", new {controller = "admin", certID = item.Certificate.CertNo })</li>
                                            <li>@Html.ActionLink("Recall Certificate", "RecallCertificate", new {controller = "admin", AppID = item.Certificate.applicationNo })</li>
                                            <li>@Html.ActionLink("Download PDF of Certificate", "DownloadCert", new {controller = "admin", AppID = item.Certificate.applicationNo })</li>
                                            @foreach (var uploadedCert in Model.UploadedCertificates)
                                            {
                                                if (uploadedCert.CertNo == item.Certificate.CertNo)
                                                {
                                                    <li><a href="@Url.Content(uploadedCert.UploadUrl)">Download Uploaded Certificate</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align:center">
                    Total number of records: <strong>@Model.VerifiedEndUserCertificate.TotalItemCount</strong>
                    <hr />
                </div>
                <div id='Paging' style="text-align:center">
                    Page @(Model.VerifiedEndUserCertificate.PageCount < Model.VerifiedEndUserCertificate.PageNumber ? 0 : Model.VerifiedEndUserCertificate.PageNumber)
                    of @Model.VerifiedEndUserCertificate.PageCount

                    @Html.PagedListPager(Model.VerifiedEndUserCertificate, page => Url.Action("AllVerifiedEndUserCertificates", new { page, pageSize = Model.PageSize, SearchTerm = Model.searchTerm, CurrentSort = ViewBag.CurrentSort, sortOrder = ViewBag.CurrentSort }))
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function filterByDropdown(sel) {
        var url = sel.value;
        if (url != null && url != '') {
            window.location.href = url;
        }
    }
    function search() {
        var url = "AllVerifiedEndUserCertificates?searchTerm=";
        var searchTerm = $('#SearchTermTextBox').val();
        var pageSizeValue = $('#PageSizeList option:selected').text();
        var pageSize = '\&PageSize=';
        window.location.href = url + searchTerm + pageSize + pageSizeValue;
    }
</script>
