﻿@using Microsoft.AspNet.Identity
@using ecims.Models
@model ecims.ViewModels.SearchCertificateViewModel


@{
    ViewBag.Title = "Application Timeline";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h4 style="font-weight:bold;">Application Timeline</h4>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Error"].ToString()
                    </div>
                }
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="table-responsive">
                        @using (Html.BeginForm("ApplicationTimeline", "Timeline", FormMethod.Post))
                        {
                            <div class="col-md-12">

                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.ApplicationNumber, new { @class = "form-control", placeholder = "Enter the application number here...", required = "required" })
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <input type="submit" class="btn btn-success" onclick="return checkTextField();" id="btnSubmit" value="Search" />
                                </div>
                            </div>
                            <hr />
                            if (Model.Workflow != null)
                            {
                                //Show this section if no action has been taken on the application
                                if (Model.Workflow.Count == 0)
                                {
                                    <div class="container">
                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = Model.Application.applicationNo, ID = Model.Application.id }, new { @class = "btn btn-success" })
                                        <div class="page-header">
                                            <h3 id="">Application Number: @Model.ApplicationNumber</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="timeline">
                                        <a class="btn btn-primary" href=@Url.Action("EUCApplicationDetails", "Admin", new { appID = Model.Application.applicationNo, ID = Model.Application.id}) role="button">View Application Details</a>
                                        <div class="row timeline-movement timeline-movement-top">
                                            <div class="timeline-badge timeline-future-movement">
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </div>
                                            <div class="timeline-badge timeline-filter-movement">
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row timeline-movement">
                                            <div class="timeline-badge">
                                                <span class="timeline-balloon-date-day">@Model.Application.dateCreated.Day</span>
                                                <span class="timeline-balloon-date-month">@Model.Application.dateCreated.ToString("MMM").ToUpper()</span>
                                            </div>
                                            <div class="col-sm-6  timeline-item">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <div class="timeline-panel credits">
                                                            <ul class="timeline-panel-ul">
                                                                <li><span class="importo">Action Source: @Model.Application.User.LastName @Model.Application.User.FirstName</span></li>
                                                                <li><span class="casuale">Action Recipient: ONSA</span></li>
                                                                <li><span class="causale">Status: Pending</span></li>
                                                                <li><span class="causale">Action Taken: SUBMITTED by End-User to ONSA</span></li>
                                                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @Model.Application.dateCreated</small></p> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="container">
                                        <div class="page-header">
                                            <h3 id="">Application Number: @Model.ApplicationNumber</h3>
                                        </div>
                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = Model.ApplicationNumber, ID = Model.Application.id }, new { @class = "btn btn-success" })
                                        <div class="col-md-12" id="timeline">
                                            <div class="row timeline-movement timeline-movement-top">
                                                <div class="timeline-badge timeline-future-movement">
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </a>
                                                </div>
                                                <div class="timeline-badge timeline-filter-movement">
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            @{
                                            //First entry should always be the user's submission
                                                <div class="row timeline-movement">
                                                    <div class="timeline-badge">
                                                        <span class="timeline-balloon-date-day">@Model.Application.dateCreated.Day</span>
                                                        <span class="timeline-balloon-date-month">@Model.Application.dateCreated.ToString("MMM").ToUpper()</span>
                                                    </div>
                                                    <div class="col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <div class="timeline-panel credits">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li><span class="importo">Action Source: @Model.Application.User.LastName @Model.Application.User.FirstName</span></li>
                                                                        <li><span class="casuale">Action Recipient: ONSA</span></li>
                                                                        <li><span class="causale">Status: Pending</span></li>
                                                                        <li><span class="causale">Action Taken: SUBMITTED by End-User to ONSA</span></li>
                                                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @Model.Application.dateCreated</small></p> </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                int i = 2;
                                                foreach (var item in Model.Workflow)
                                                {
                                                    int j = i % 2;
                                                    string offset;
                                                    string offset2;
                                                    string alignment;
                                                    if (j == 0)
                                                    {
                                                        offset = "col-sm-offset-6";
                                                        offset2 = "col-sm-offset-1";
                                                        alignment = "debits";
                                                    }
                                                    else
                                                    {
                                                        offset = "";
                                                        offset2 = "";
                                                        alignment = "credits";
                                                    }
                                                    //Generate user roles at runtime

                                                    <div class="row timeline-movement">
                                                        <div class="timeline-badge">
                                                            <span class="timeline-balloon-date-day">@item.activityDate.Day</span>
                                                            <span class="timeline-balloon-date-month">@item.activityDate.ToString("MMM").ToUpper()</span>
                                                        </div>
                                                        <div class="@offset col-sm-6 timeline-item">
                                                            <div class="row">
                                                                <div class="@offset2 col-sm-11">
                                                                    <div class="timeline-panel @alignment">
                                                                        <ul class="timeline-panel-ul">
                                                                            <li><span class="importo">Application Number: @item.applicationNumber</span></li>
                                                                            @*<li><span class="causale">Application Number: @item.applicationNumber </span> </li>*@
                                                                            <li>
                                                                                <span class="causale">
                                                                                    Action Source:
                                                                                    @foreach (var Agency in Model.AgencyList)
                                                                                    {
                                                                                        if (Agency.Id == item.SourceAgency)
                                                                                        {
                                                                                            if (item.SourceAgency == 5 && item.AgencyWorkedOn == 5)
                                                                                            {
                                                                                                <text>ONSA Support</text>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                @Agency.Name
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="causale">
                                                                                    Action Recipient:
                                                                                    @foreach (var Agency in Model.AgencyList)
                                                                                    {
                                                                                        if (Agency.Id == item.AgencyWorkedOn)
                                                                                        {
                                                                                            if (item.SourceAgency == 5 && item.AgencyWorkedOn == 5)
                                                                                            {
                                                                                                <text>NSA</text>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                @Agency.Name
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="causale">
                                                                                    Status:
                                                                                    @if (item.isWorkedOn == 1)
                                                                                    {
                                                                                        <text>Treated</text>
                                                                                    }
                                                                                    else if (item.isWorkedOn == 0)
                                                                                    {
                                                                                        <text>Pending</text>
                                                                                    }
                                                                                </span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="causale">
                                                                                    Action Taken:
                                                                                    @foreach (var Agency in Model.AgencyList)
                                                                                    {
                                                                                        if (Agency.Id == item.SourceAgency)
                                                                                        {
                                                                                            if (item.handledStatus == "FORWARDED")
                                                                                            {
                                                                                                foreach (var AgencyTo in Model.AgencyList)
                                                                                                {
                                                                                                    if (AgencyTo.Id == item.AgencyWorkedOn)
                                                                                                    {
                                                                                                        if (AgencyTo.Id == 5 && item.AgencyWorkedOn == 5)
                                                                                                        {
                                                                                                            <text>Application @item.handledStatus by @Agency.Name.ToUpper() Support to NSA</text>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <text>Application @item.handledStatus by @Agency.Name.ToUpper() to @AgencyTo.Name.ToUpper()</text>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                            else if (item.handledStatus == "APPROVED")
                                                                                            {
                                                                                                <text>@item.handledStatus by @Agency.Name.ToUpper()</text>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <text>Application @item.handledStatus by @Agency.Name.ToUpper()</text>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </span>
                                                                            </li>
                                                                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @item.activityDate</small></p> </li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    i++;
                                                }
                                            }
                                        </div>
                                        <!--due -->
                                    </div>
                                                        }
                                                    }
                                                }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>