﻿@model ecims.ViewModels.SearchCertificateViewModel
@{
    ViewBag.Title = "Certificate Timeline";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h4 style="font-weight:bold;">Certificate Timeline</h4>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Error"].ToString()
                    </div>
                }
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="table-responsive">
                        @using (Html.BeginForm("CertificateTimeline", "Timeline", FormMethod.Post))
                        {
                            <div class="col-md-12">

                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.CertificateNumber, new { @class = "form-control", placeholder = "Enter the certificate number here...", required = "required" })
                                </div>
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <input type="submit" class="btn btn-success" onclick="return checkTextField();" id="btnSubmit" value="Search" />
                                </div>
                            </div>
                            <hr />
                            if (Model.CertificateWorkflow != null)
                            {
                                <div class="container">
                                    <div class="page-header">
                                        <h3 id="">Certificate Number: @Model.EndUserCertificate.CertNo</h3>
                                        @Html.ActionLink("View Application Details", "EUCApplicationDetails", "Admin", new { appID = Model.Application.applicationNo, ID = Model.Application.id }, new { @class = "btn btn-success" })
                                    </div>
                                    @if (Model.CertificateWorkflow.Count == 0)
                                    {
                                    <div class="container">
                                        <div class="page-header">
                                            <h4 id="">No actions have been carried out on this certificate...</h4>
                                            <h4 id="">Certificate Number: @Model.EndUserCertificate.CertNo</h4>
                                        </div>
                                    </div>
                                    }
                                    <div class="col-md-12" id="timeline">
                                        <div class="row timeline-movement timeline-movement-top">
                                            <div class="timeline-badge timeline-future-movement">
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </div>
                                            <div class="timeline-badge timeline-filter-movement">
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </a>
                                            </div>
                                        </div>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model.CertificateWorkflow)
                                            {
                                                int j = i % 2;
                                                string offset;
                                                string offset2;
                                                string alignment;
                                                if (j == 0)
                                                {
                                                    offset = "col-sm-offset-6";
                                                    offset2 = "col-sm-offset-1";
                                                    alignment = "debits";
                                                }
                                                else
                                                {
                                                    offset = "";
                                                    offset2 = "";
                                                    alignment = "credits";
                                                }
                                                <div class="row timeline-movement">
                                                    <div class="timeline-badge">
                                                        <span class="timeline-balloon-date-day">@item.DateOfAction.Day</span>
                                                        <span class="timeline-balloon-date-month">@item.DateOfAction.ToString("MMM").ToUpper()</span>
                                                    </div>
                                                    <div class="@offset col-sm-6 timeline-item">
                                                        <div class="row">
                                                            <div class="@offset2 col-sm-11">
                                                                <div class="timeline-panel @alignment">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li><span class="importo">Certificate Number: @item.Certificate.CertNo</span></li>
                                                                        <li><span class="causale">Date of Action: @item.DateOfAction</span></li>
                                                                        <li><span class="causale">Action Taken: @item.ActionTaken</span></li>
                                                                        <li><span class="causale">Action By: @item.User.FirstName @item.User.LastName</span></li>
                                                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @item.DateOfAction.ToLongDateString()</small></p> </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                    <!--due -->
                                </div>
                                                }
                                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
