﻿@model ecims.Models.EUCItem

<script type="text/javascript">
    //Function to delete the row of the selected EUC item in the view
    function remove(id) {
        var elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
    }

    //Delete the individual EUC items using ajax
    $("#delete-@Model.ItemNumber").on('click', function () {
        //Get ID of EUC Item to Delete
        var Id = $("#ItemId").val();

        alert("Delete Start");

        //Remove the row from the view
        remove("@Model.ItemNumber");

        alert("Delete End");

        //Make ajax call to the controller
        $.ajax({
            url: '/CreateEUCApplication/Delete',
            async: false,
            data: {
                'id': Id
            },
            success: function () {

            }
        });
    });
</script>

<div class="eucItem", id="eucItem">
    <div id="@Model.ItemNumber">
        @using (Html.BeginCollectionItem("eucItems"))
        {
            <div style="display:inline-block; padding-left:20px">
                @Html.HiddenFor(m => m.ItemId, new { @class = "ItemId", @id = "ItemId" })

                @Html.LabelFor(m => m.HsCodeName, "HS Code")
                <p class="bg-info">@Html.DisplayFor(m => m.HsCodeName)</p>
            </div>

            <div style="display:inline-block; padding-left:20px">
                @Html.LabelFor(m => m.ItemDescription, "Item Description")
                <p class="bg-info">@Html.DisplayFor(m => m.ItemDescription, "Item Description")</p>
            </div>

            <div style="display:inline-block; padding-left:20px">
                @Html.LabelFor(m => m.Weight, "Quantity/Weight")
                <p class="bg-info">@Html.DisplayFor(m => m.Quantity) @Html.DisplayFor(m => m.WeightUnit)</p>
            </div>

            <div style="display:inline-block; padding-left:20px">
                @Html.HiddenFor(m => m.Cost, new { @class = "ItemCost", @id = "ItemCost" })
                @Html.LabelFor(m => m.Cost, "Cost")
                <p class="bg-info" name="costLabel">@Html.DisplayFor(m => m.Cost, " ") @Html.DisplayFor(m => m.Currency)</p>
            </div>

            <div style="display:inline-block; padding-left:20px">
                <button type="button" class="delete" id="delete-@Model.ItemNumber">Delete</button>
            </div>
        }
    </div>
</div>