﻿
@{
    ViewBag.Title = "BarCodeCreator";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Scan Barcode Below to Enable Automatic Token Generation</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                @if (Session["GoogleAuthenticationUnsuccessfulMessage"] != null)
            {
                    <p class="alert alert-danger" id="successMessage">@Session["GoogleAuthenticationUnsuccessfulMessage"]</p>
                }
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div>@ViewBag.Message</div>
                    <div>
                        <img src="@ViewBag.BarcodeImageUrl" />
                    </div>
                    <div>
                        <strong>If QR Code does not display, kindly use this manual code for Authentication : @ViewBag.SetupCode</strong>
                    </div>
                    <div>
                        @using (Html.BeginForm("TwoFactorAuthenticate", "GoogleAuthenticator", FormMethod.Post))
                        {
                            <input type="text" name="CodeDigit" />
                            <input type="submit" class="btn btn-success" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
