﻿@model ecims.ViewModels.BaseDashboardViewModel
@using ecims.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>@ViewBag.Title - End-User Certificate Issuance Management System (ECIMS)</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lineicons/style.css">
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/css/table-responsive.css" rel="stylesheet" />
    <link href="~/assets/css/banner.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">
    @*<script src="~/assets/js/canvasjs.min.js"></script>*@

    <link href="~/assets/css/morris.css" rel="stylesheet" />

    <link href="~/Scripts/smartwizard/smart_wizard.css" rel="stylesheet" />
</head>

<body>
    <div id="banner">
        <div id="banner-content">
            Dear End-Users, Endeavour to always check your registered email inbox, spam, or junk folder for your EUC notifications.
            Also, try disabling DND on your phone number to allow you to receive SMS notifications from the EUC system.<br>
            <p style="background-color:#228850">
                For approved EUCs, the pickup time is strictly from 12:00 pm to 02:00 pm, Monday to Friday, excluding public holidays.
                Your adherence to this schedule is greatly appreciated.
            </p>
        </div>
    </div>
    @{
        var liAgency = Model.role.Single().Value.ToString() == "Agency" ? "hide" : "";
        var liClientUser = Model.role.Single().Value.ToString() == "Client User" ? "hide" : "";
        var liONSAAdmin = Model.role.Single().Value.ToString() == "ONSA Admin" ? "hide" : "";
        var liONSASupport = Model.role.Single().Value.ToString() == "ONSA Support" ? "hide" : "";
        var liNSA = Model.role.Single().Value.ToString() == "NSA" ? "hide" : "";
        var liCustoms = Model.role.Single().Value.ToString() == "Customs User" ? "hide" : "";
        var liExclusiveUser = Model.role.Single().Value.ToString() == "Exclusive User" ? "hide" : "";
        var liPGSO = Model.role.Single().Value.ToString() == "ONSA PGSO" ? "hide" : "";
    }
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--navbar start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <div class="logo">
                <a class="navbar-brand Center-Header-Vertically" style="color:#fff;" href="@Url.Action("MainDashboard", "Admin")">End User Certificate Portal</a>
            </div>
            <!--logo end-->
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="top-menu">
                        <ul class="nav pull-right top-menu">
                            <li><a class="logout @liONSASupport @liONSAAdmin @liNSA @liPGSO" href="@Url.Action("Feedback", "Feedback")">Feed Back</a></li>
                            @*Google Authenticator Link*@
                            @if (Model.user.isGoogleAuthenticatorActive == false)
                            {
                                <li><a class="logout @liONSAAdmin @liONSASupport @liPGSO @liClientUser @liCustoms @liAgency @liExclusiveUser" href="@Url.Action("BarCodeCreator", "GoogleAuthenticator")">Please Activate one-time Authenticator</a></li>
                            }
                            @*Destroy all application sessions*@
                            <li><a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
                        </ul>
                    </div>
                }
            }
        </header>

        <!--navbar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                @{
                    string userImage = Model.user.PassportUrl;
                }
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered">
                        <a href="@Url.Action("EditUser", "Account", new { id = Model.user.Id })">
                            @{
                                if (userImage != null)
                                {
                                    <img src="@userImage" class="img-circle" width="60" height="60" />
                                }
                                else if (userImage == null)
                                {
                                    <img src="~/img/face.jpg" class="img-circle" width="60" height="60" />
                                }
                            }
                        </a>
                    </p>

                    <h5 class="centered" style="font-weight: bold; color:#ffffff;">@Model.user.FirstName @Model.user.LastName</h5>
                    @if (Model.role.Single().Value.ToString() == "Agency")
                    {
                        ApplicationDbContext _context = new ApplicationDbContext();
                        Model.Agency = _context.PortalSubCategories.ToList();

                        foreach (var agency in Model.Agency)
                        {
                            if (agency.Id == Model.user.PortalUserCategoryId)
                            {
                                <p class="centered" style="color:#fff; padding-top:0px; font-size:13px;">Agency: @agency.Name</p>
                            }
                        }
                    }
                    else
                    {
                        <p class="centered" style="color:#fff; padding-top:0px; font-size:13px;">@Model.role.Single().Value.ToString()</p>
                    }
                    <hr style="border-width:3px; border-color:azure;" />
                    <li class="mt">
                        <a href='@Url.Action("MainDashboard", "Admin")'>
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu @liClientUser @liONSASupport @liAgency @liONSAAdmin @liCustoms @liExclusiveUser">
                        <a href='@Url.Action("ApplicationTimeline", "Timeline")'><i class="fa fa-database"></i>Track Application</a>
                    </li>
                    <li class="mt @liClientUser @liAgency @liONSAAdmin @liCustoms @liExclusiveUser @liONSASupport @liPGSO">
                        <a href='@Url.Action("ManageAllUsers", "Admin")'>
                            <i class="fa fa-dashboard"></i>
                            <span>View All Users</span>
                        </a>
                    </li>

                    <li class="sub-menu @liClientUser @liAgency @liONSAAdmin @liNSA @liCustoms @liExclusiveUser">
                        <a href="javascript:;">
                            <i class="fa fa-users"></i>
                            <span>Signup Request</span>
                            <span class="fa fa-sort-desc" style="margin-left:10px;"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("All Requests", "AllUserSignUpRequests", "Admin") </li>
                            <li>@Html.ActionLink("Pending Requests ", "AllPendingSignUpRequests", "Admin")</li>
                            <li>@Html.ActionLink("Approved Requests ", "AllApprovedSignUpRequests", "Admin")</li>
                            <li>@Html.ActionLink("Rejected Requests ", "AllRejectedSignUpRequests", "Admin")</li>
                        </ul>
                    </li>

                    <li class="sub-menu @liONSAAdmin @liCustoms">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>EUC Applications</span>
                            <span class="fa fa-sort-desc" style="margin-left:10px;"></span>
                        </a>
                        <ul class="sub">
                            <li class="@liONSAAdmin @liONSASupport @liPGSO @liClientUser @liAgency @liExclusiveUser">@Html.ActionLink("Pending Approval Applicatons ", "EndUserCertificatesRequiringApproval", "Admin")</li>
                            <li class="@liONSASupport @liPGSO @liNSA">@Html.ActionLink("Click Here to Apply", "NewEUCApplication", "Admin")</li>
                            <li class="@*@liONSASupport*@ @liONSAAdmin @liClientUser @liExclusiveUser @liAgency">@Html.ActionLink("All EUC Applicatons ", "AllEndUserCertificateApplication", "Admin")</li>
                            <li class="@liONSAAdmin @liPGSO @liClientUser @liExclusiveUser @liONSASupport @liNSA">@Html.ActionLink("My Agency Applicatons", "AllEndUserCertificateApplication", "Admin")</li>
                            <li class="@liONSAAdmin @liPGSO @liONSASupport @liNSA @liAgency">@Html.ActionLink("My EUC Applications", "AllEndUserCertificateApplication", "Admin")</li>
                            <li class="@liONSAAdmin @liAgency @liNSA">@Html.ActionLink("Pending EUC Applications", "PendingEndUserCertificateApplication", "Admin")</li>
                            <li class="@liAgency @liClientUser @liExclusiveUser">@Html.ActionLink("Forwarded EUC Applicatons", "ForwardedEndUserCertificateApplication", "Admin")</li>
                            @*Forwarded EUC Applications for Agency*@
                            <li class="@liONSAAdmin @liPGSO @liONSASupport @liClientUser @liExclusiveUser @liNSA">@Html.ActionLink("Pending Applicatons ", "ForwardedEndUserCertificateApplication", "Admin")</li>
                            <li class="@liONSASupport @liAgency">@Html.ActionLink("Approved EUC Applications", "ApprovedEndUserCertificateApplication", "Admin")</li>
                            <li class="@liAgency">@Html.ActionLink("Rejected EUC Applications", "RejectedEndUserCertificateApplication", "Admin")</li>
                            <li class="@liClientUser @liExclusiveUser">@Html.ActionLink("Endorsed EUC Applications", "EndorsedEndUserCertificateApplication", "Admin")</li>
                            <li class="@liClientUser @liExclusiveUser">@Html.ActionLink("Disendorsed EUC Applications", "DisendorsedEndUserCertificateApplication", "Admin")</li>
                        </ul>
                    </li>
                    <li class="sub-menu @liONSAAdmin @*@liONSASupport*@">
                        <a href="javascript:;">
                            <i class="fa fa-certificate"></i>
                            <span>End-User Certificates</span>
                            <span class="fa fa-sort-desc" style="margin-left:10px;"></span>
                        </a>
                        <ul class="sub">
                            @* For custom certificate list *@
                            <li class="@liONSASupport @liPGSO @liONSAAdmin @liClientUser @liNSA @liAgency @liExclusiveUser">@Html.ActionLink("View Certificate", "SearchCertificate", "Certificate")</li>
                            <li class="@liONSASupport @liPGSO @liONSAAdmin @liClientUser @liCustoms @liNSA @liExclusiveUser">@Html.ActionLink("My Agency Certificates", "AllEndUserCertificates", "Admin")</li>
                            @* all other User role *@
                            <li class="@*@liONSASupport*@ @liClientUser @liCustoms @liAgency @liExclusiveUser">@Html.ActionLink("All Certificates", "AllEndUserCertificates", "Admin")</li>
                            <li class="@liNSA @liONSASupport @liPGSO @liCustoms @liAgency">@Html.ActionLink("My EUC Certificates", "AllEndUserCertificates", "Admin")</li>
                            <li class="@liONSASupport @liAgency @liCustoms">@Html.ActionLink("Disputed Certificates", "DisputedEndUserCertificates", "Admin")</li>
                            <li class="@liONSASupport @liAgency @liCustoms @liClientUser @liExclusiveUser">@Html.ActionLink("Utilized Certificates", "UtilizedEndUserCertificates", "Admin")</li>
                            <li class="@liONSASupport @liAgency @liCustoms @liClientUser @liExclusiveUser">@Html.ActionLink("Expired Certificates", "ExpiredEndUserCertificates", "Admin")</li>
                            <li class="@liONSASupport @liAgency @liCustoms @liClientUser @liExclusiveUser">@Html.ActionLink("Recalled Certificates", "RecalledEndUserCertificates", "Admin")</li>
                        </ul>
                    </li>
                    <li class="sub-menu @liONSASupport @liClientUser @liAgency @liONSAAdmin @liCustoms @liExclusiveUser">
                        <a href='@Url.Action("CertificateTimeline", "Timeline")'><i class="fa fa-database"></i>Certificate Timeline</a>
                    </li>
                    <li class="sub-menu @liClientUser @liAgency @liONSASupport @liCustoms @liExclusiveUser">
                        <a href='@Url.Action("analytic", "Admin")'><i class="fa fa-bar-chart-o"></i>Analytics</a>
                    </li>

                    <li class="sub-menu @liClientUser @liONSASupport @liAgency @liONSAAdmin @liCustoms @liExclusiveUser">
                        <a href="javascript:;">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            <span>Blacklist Management</span>
                            <span class="fa fa-sort-desc" style="margin-left:10px;"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Blacklisted Applicants", "AllBlacklistedApplicant", "Admin")</li>
                            <li class="@liPGSO">@Html.ActionLink("Blacklist An Applicant", "blacklistApplicant", "Admin")</li>
                            <li>@Html.ActionLink("Blacklist History", "BlackListHistoryList", "Admin")</li>
                        </ul>
                    </li>

                    <li class="sub-menu @liONSASupport @liPGSO @liClientUser @liAgency @liONSAAdmin @liCustoms @liExclusiveUser">
                        <a href="javascript:;">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            <span>Utilized Certificates</span>
                            <span class="fa fa-sort-desc" style="margin-left:10px;"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Utilized End User Certificates", "UtilizedEndUserCertificates", "Admin")</li>
                        </ul>
                    </li>

                    @*<li class="sub-menu @liClientUser @liAgency @liNSA @liONSASupport @liExclusiveUser">
                            <a href='@Url.Action("userManagement", "Admin")'><i class="fa fa-cog"></i>User Management</a>
                        </li>*@

                    <li class="sub-menu @liClientUser @liAgency @liONSAAdmin @liNSA @liPGSO @liONSASupport @liCustoms @liExclusiveUser">
                        <a href='@Url.Action("generalSettings", "Admin")'><i class="fa fa-cog"></i>General Settings</a>
                    </li>

                    @*@<li class="sub-menu @liClientUser @liAgency @liONSASupport @liPGSO @liNSA @liCustoms @liExclusiveUser">
                            <a href='@Url.Action("AuditTrailsView", "Admin")'><i class="fa fa-cog"></i>Audit Trail</a>
                        </li>*@

                    <li class="sub-menu @liClientUser @liAgency @liONSAAdmin @liPGSO @liNSA @liCustoms @liExclusiveUser">
                        <a href="javascript:;">
                            <i class="fa fa-info"></i>
                            <span>Feed Back</span>
                            <span class="fa fa-sort-desc" style="margin-left:10px;"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("All Feed Backs", "AllFeedback", "Feedback")</li>
                            <li>@Html.ActionLink("Pending Feed Backs", "PendingFeedback", "Feedback")</li>
                            <li>@Html.ActionLink("Resolved Feed Backs", "ResolvedFeedback", "Feedback")</li>
                        </ul>
                    </li>

                    @*<div style="position:absolute; bottom:0; color:#fff; margin-left:15px; margin-bottom:10px;">
                            &copy; @DateTime.Now.Year - Powered by ONSA
                        </div>*@
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>

        <!--main content end-->

    </section>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.sparkline.js"></script>
    <script src="~/assets/js/formScript.js"></script>
    <script src="~/assets/js/tableScript.js"></script>


    <!--common script for all pages-->
    <script src="~/assets/js/common-scripts.js"></script>


    <script type="text/javascript" src="~/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/assets/js/gritter-conf.js"></script>
    <script src="~/assets/js/tableCheckBox.js"></script>
    <link href="~/Content/timeout-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/timeout-dialog.js"></script>
    <!--script for this page-->
    @*<script src="~/assets/js/sparkline-chart.js"></script>
        <script src="~/assets/js/zabuto_calendar.js"></script>
        <script src="~/assets/js/chart-master/Chart.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@

</body>
</html>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}

<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
        d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
            z.set.
            _.push(o)
        }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?5WSP3ihu3lh8He4TJG1N3zhC08L3ndeX"; z.t = +new Date; $.
        type = "text/javascript"; e.parentNode.insertBefore($, e)
    })(document, "script");

    $(function () {
        var fnTimeOut = function () {
            jQuery.timeoutDialog.setupDialogTimer({
                timeout: 1200,
                countdown: 300,
                logout_redirect_url: '@Url.Action("Logout", "Account")',
                keep_alive_url: '@Url.Action("Keepalive", "Home")'
            });
        };
        fnTimeOut();
    });
</script>
<!--End of Zendesk Chat Script-->