﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - End-User Certificate and Security Clearance Certificate Portal</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/timeout-dialog.css" rel="stylesheet" />
    <link href="~/assets/css/banner.css" rel="stylesheet">
    <script src="~/Scripts/timeout-dialog.js"></script>

</head>
<body>
    <div id="banner">
        <div id="banner-content">
            Dear End-Users, Endeavour to always check your registered email inbox, spam, or junk folder for your EUC notifications.
            Also, try disabling DND on your phone number to allow you to receive SMS notifications from the EUC system.<br>
            <p style="background-color:#2ca759">
                For approved EUCs, the pickup time is strictly from 12:00 pm to 02:00 pm, Monday to Friday, excluding public holidays.
                Your adherence to this schedule is greatly appreciated.
            </p>
        </div>
    </div>
    <div class="topHeader">
        <div class="container" style="padding-top:2px; color:#fff; font-size:12px;">
            Email: euc@nsa.gov.ng; @*Phone: +2347080975981;*@
            Support: Monday – Friday 10:00AM – 4:00PM;
        </div>
    </div>
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home", new { @class="logo"})">
                            <img src="~/img/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        @Html.Partial("_LoginPartial")
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                            <li>@Html.ActionLink("GUIDELINES", "Guideline", "Home")</li>
                            <li>@Html.ActionLink("CONTACT", "Support", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body-content" style="background-image: url('../../img/002.jpg');">
            @*Code for timeout dialog*@
            @RenderBody()
        </div>
    </div>

    <div class="pageFooter">
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - EUC | Powered by Office of the NSA</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
    @*Session timeout css and js files*@
    <link href="~/Content/timeout-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/timeout-dialog.js"></script>
    @RenderSection("scripts", required: false)
    @*Session timeout*@
    <script>
        
    </script>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?5WSP3ihu3lh8He4TJG1N3zhC08L3ndeX"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
        //End of Zendesk Chat Script
    </script>
    
</body>

</html>
