﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new { title = "Manage" }, new { id = "navbarDropdownMenuLink", @class = "nav-link dropdown-toggle" })
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <ul>
                        <li>@Html.ActionLink("MY DASHBOARD", "MainDashboard", "Admin")</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("SIGN UP", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>*@
}
