﻿@model ecims.ViewModels.UserDataViaExcel.UserDataViaExcelViewmodel
@using PagedList.Mvc
@{
    ViewBag.Title = "UserDataViaExcel";
}

<h2>UserDataViaExcel</h2>

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Use this view to automate the process of creating users in the DB</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">               
                <div>
                    @using (Html.BeginForm("UserDataViaExcel", "UserDataViaExcel", FormMethod.Get, new
                    {
                        enctype = "multipart/form-data",
                        @class = "form-horizontal",
                        role = "form",
                        @id = "registrationForm",
                        onsubmit = ""
                    }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                        <div style="border-bottom:1px solid #bbb"><h1>Search Product</h1></div>
                        <table style="border:0px; width:500px;">
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.FirstName)
                                    </div>

                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.FirstName)
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.LastName)
                                    </div>

                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.LastName)
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </td>
                                <td style="vertical-align:bottom;">
                                    <input name="SearchButton" type="submit" value="Search" />
                                </td>
                            </tr>
                        </table>
                        if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                        {
                            <table class="table" style=" width:500px;">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                @foreach (var user in Model.SearchResults)
                                {
                                    <tr>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                    </tr>
                                }
                            </table>
                            @Html.PagedListPager(Model.SearchResults,
                              page => Url.Action("UserDataViaExcel", new RouteValueDictionary()
                              {
                                   { "Page", page },
                                   { "FirstName", Model.FirstName },
                                   { "LastName", Model.LastName }
                              }),
                            PagedListRenderOptions.PageNumbersOnly)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
