﻿@import "bourbon";
html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
}

.body-content {
    
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dl-horizontal dt {
	white-space: normal;
    text-align:left;
}

input,
select,
textarea {
	max-width: 280px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #3b3f4a;
	font-size:14px;
    z-index:1;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-family: Arial;
	font-weight: bolder;
	font-size: 16px;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: 300px;
  max-width: 100%;
  line-height: 1;
  width:100%;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.header .navbar-nav > li > a:hover,
.header .navbar-nav > li > a:focus,
.header .navbar-nav > li > a:active {
    color: #3b3f4a;
    border-bottom: 3px solid #008850;
    background:#fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #fff;
}
.jumbotron {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	margin-bottom: 10px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
	background-color: #fff;
	text-align: center;
}

#homePicture {
	background-image: url('../img/drone-green-grass-83492.jpeg');
	background-size: cover;
	background-repeat:no-repeat;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #fff;
  text-align: center;
	height:400px;
}

#homePicture .jumbotron{
	background-color: rgba(0, 0, 0, 0.4);
	color:#fff;
	margin-top:60px;
}

#homePicture .jumbotron > p{
	font-size:14px;
}

.overviewContent {
  margin-bottom: 20px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #fff;
  text-align: justify;
  padding-right: 20px;
}

.overviewImg > img{
  width: 100%;
  height: 100%;
}

.overview > h2{
	text-align: center;
}
.jumbotron > p{
	font-size: 13px;
}
.guideLine{
	width: 10%;
}

.navbar-inverse {
	background-color: #008850;
	border-color: #008850;
	margin-bottom:0px;
	top:0;
    height:60px;
}

 .col-sm-4 > div{
	background-size: cover;
	color: #fff;
	height: auto;
	margin-bottom: 20px;
}
#g-guide .guideLine img{
	width: 100%; 
	height: 100%;
	
}

#pictureBox{
	background-size:cover;
	height: 200px;
	position: relative;
	padding-top:40px;
}


#pictureBox .text-center{
	background: rgba(0, 0, 0, 0.3);
	padding-top:10px;
	padding-bottom:10px;
    margin-top: 50px;
}

.pageFooter {
    background-color:#20231D;
	padding: 15px;
	font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    color:#fff;
}
.pageFooter > footer{
	color: #fff;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 1250px;
	padding: 5px 15px 5px 15px;
}

.wrapper {
	/*background-image: url('../img/login form bg.jpg');
	padding: 50px 20px 50px 20px;*/
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    /*background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);*/
}

.form-signin >h5 {	
	text-align:center;
	color: #000000;
	font-weight: bold;
	font-size:18px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 5px 5px 5px #888888;
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 10px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

	.radio label, .checkbox label {
	min-height: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.homeform-signin >h3, h5{	
	text-align:center;
	color: #EA4335;
	font-weight: bold;
	font-size:14px;
}

.homeform-signin {
	max-width: 400px;
	padding: 15px 20px 20px;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 5px 5px 5px #888888;
	height: auto;
	border-radius: 4px 4px 4px 4px;
}
  .homeform-signin-heading,
	.checkbox {
	  margin-bottom: 10px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: 4px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

.radio label, .checkbox label {
	min-height: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	list-style-type: none;
}

.dropdown-menu a {
	color: black;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
}

.dropdown-menu ul{
	list-style-type: none;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.carousel-caption{
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
	background: rgba(0, 0, 0, 0.6);
	margin-bottom:25px;
	padding-left:20px;
	padding-right:20px;
}

.required-field:after{
	color: #d00;
	content: "*";
	position: absolute;
	margin-left: 3px;
	top: 10px;
}

.hide{
	display:none;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

/*.field-validation-error{ 
	color: red; font-weight: bold; 
}*/

/*.input-validation-error{ background: #ffffff; border: 1px solid #fb9c9c; }*/

.lb-sm {
  font-size: 10px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}

.Header-Holder{
	height:50px;
}

.Center-Header-Vertically{
	line-height: 50px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 30px 25px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav > li > a {
	margin-top: 10px;
	padding-bottom: 8px;
    color:#3b3f4a;
    font-size:14px;
}
/* Logo & Navigation */

.header{
   height:80px;
   background-color: #fff;
   border-bottom:solid;
   border-width:0px 0px 1px 0px;
   border-color:#d3d3d3;
}

.header .logo{
   margin:0px;
   padding:5px 0px;
}

.header .logo h1{
   font-size:20px;
   margin:0px;
   padding:10px 0px;
}

.header .logo h1 a{
   color:#fff;
   font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover{
   color:#fff;
   text-decoration:none;
   border:0px;
}

.header .logo h2{
   font-size:20px;
   margin:0px;
   padding:10px 0px;
   font-weight:bold;
}

.header .logo h2 a{
   color:#fff;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 28px;
}

.header .logo h2 a:hover{
   color:#fff;
   text-decoration:none;
   border:0px;
}

.header .form{
   margin-top:10px;
   width:100%;
   max-width:300px;
   margin:10px auto;
}

.header .navbar *{
   box-shadow:none !important;
}

.header .navbar .label{
   font-size:12px;
   padding:4px 8px;
   margin:0px 2px;
   border-radius:15px !important;
}

.header .navbar{
   background:none !important;
   border:0px !important;
}

.header .navbar i{
   margin-right:3px;
}

.header .navbar .nav > li > a{
   color:#fff !important;
   font-size:16px !important;
   border-bottom:0px !important;
   margin-top:0px !important;
   font-weight:bold;
}

.header .navbar-nav>.open>a,.header  .navbar-nav>.open>a:hover,.header  .navbar-nav>.open>a:focus {
   background:none !important;
}

.header .navbar-collapse{
   border:0px !important;
}

.header .navbar-header{
   width:43px;
   margin:0 auto;
}

.header .navbar-header button{
   color:#fff !important;
   padding:5px 10px;
}

.header .navbar-toggle{
   background-color: #008850 !important;
   border:1px solid #fff !important;
}

.header .navbar-toggle:hover, .header .navbar-toggle:focus {
   background-color: #008850 !important;
   border:1px solid #fff !important;
}

.header .dropdown-menu{
   border-radius:6px !important;
   background:#fff !important;
   margin-top: 1000px;
}

.header .dropdown-menu li{
   font-size:13px;
   padding:5px;
   margin-left:15px;
   border-bottom:1px dashed #f3f3f3;
}

.header .dropdown-menu li a {
   color:#888;
   padding-left:0px !important;
   text-align:center;
}

.header .dropdown-menu li:last-child{
   border:0px;
}

.header .dropdown-menu li a:hover{
   background:none !important;
   color:#666 !important;
   border:0px !important;
}

.header .dropdown-big{
   min-width:300px;
}

.header .dropdown-big .dropdown-head{
   padding:7px 15px;
   background:#fcfcfc;
   border-bottom:1px solid #ddd;
   margin-top:-5px;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}

.header .dropdown-big .dropdown-title{
   font-size:13px;
   font-weight:bold;
   color:#999;
}

.header .dropdown-big .dropdown-body{
   background:#fff;
}

.header .dropdown-big .dropdown-foot{
   padding:7px 15px;
   background:#fcfcfc;
   border-top:1px solid #ddd;
   margin-bottom:-5px;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
   font-size:12px;
}

.header .dropdown-big .dropdown-foot a{
   color:#888;
}

.header .dropdown-big .dropdown-foot a:hover{
   color:#555;
   border-bottom:0px;
}

.header .navbar-nav .caret{
   border-top-color:#fff !important;
   border-bottom-color:#fff !important;
}

.header .navbar-nav>.open>a .caret,.header  .navbar-nav>.open>a:hover .caret,.header  .navbar-nav>.open>a:focus .caret {
   border-top-color: #fff !important;
   border-bottom-color: #fff !important;
}

.approvalButton{
	color: dodgerblue;
}

/* Mobile phones */
@media (max-width: 480px){
	 .container{
	  width:100%;
   }
   .header{
	  height:auto;
	  padding:15px 0px;
   }  
   .header .logo{
	  text-align:center;
	  padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
	  background:#0fa6bc;
	  border-radius:5px;
   }
   .navbar-toggle {
	  margin-right:0px !important;
   }
}

/* Tablets */
@media (max-width: 767px){
   .container{
	  width:100%;
   }
   .header{
	  height:auto;
	  padding:15px 0px;
   }  
   .header .logo{
	  text-align:center;
	  padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
	  background:#0fa6bc;
	  border-radius:5px;
   }
   .navbar-toggle {
	  margin-right:0px !important;
   }
}

/* Tablets */
@media (max-width: 850px){
   .container{
	  width:100%;
   }
   .header{
	  height:auto;
	  padding:15px 0px;
   }  
   .header .logo{
	  text-align:center;
	  padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
	  background:#0fa6bc;
	  border-radius:5px;
   }
   .navbar-toggle {
	  margin-right:0px !important;
	  left:0;
   }
}

/* Desktop */

@media (max-width: 991px){
   .header{
	  height:auto;
	  padding:15px 0px;
   }  
   .header .logo{
	  text-align:center;
	  padding-bottom:10px;
   }
   .header .form{
	  margin:10px auto;
   }
   .sidebar, content-box{
	  margin-bottom:30px;
	  width:100%;
	  float:none;
	  position:relative;
   }  
   .mainy{
	  margin-left: 0px;
   }
   .sidebar-dropdown{
	  display:block;
	  text-align:center;
	  margin:0 auto;
	  margin-bottom:10px;
	  border-bottom:1px dashed #eee;
	  padding-bottom:10px;
   }
   .sidebar-dropdown a, .sidebar-dropdown a:hover{
	  color:#fff;
	  background:#16cbe6;
	  display:block;
	  padding:6px 12px;
	  border-bottom:0px;
	  box-shadow:0px 0px 1px #0fa6bc;
	  border-radius:10px;
   }  
}

.mainHeader {
    background: url('../img/bg.jpg');
    height: 120px;
    background-repeat:no-repeat;
    background-size:cover;
}
.layer{
    background-color: rgba(0, 0, 0, 0.5);
}
.topHeader{
    background-color:rgb(32, 167, 89);
    height:20px;
}
.icon-bar{
    background-color:#fff;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #db0000;
    border-color: #ebccd1;
    font-weight: bold;
}

.logout {
    color: #f2f2f2;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #20A759 !important;
    padding: 5px 15px;
    
    background: #20A759;
    margin-top: 15px;
}
.logout a:hover {
    color: #f2f2f2;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #20A759 !important;
    padding: 5px 15px;
    
    background: #20A759;
    margin-top: 15px;
}