﻿@model ecims.ViewModels.SmsTestViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@using (Html.BeginForm("SendSms", "SmsTest", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "smsTestForm"
}))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.LabelFor(m => m.PhoneNumber, "Phone Number", new { @class = "" })
        @Html.TextAreaFor(m => m.PhoneNumber, new { @class = "form-control required-field" })
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.Message, "Message", new { @class = "" })
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control required-field" })
    </div>
    <div class="form-group">
        <ul class="list-inline pull-right">
            <li><input type="submit" id="submit" class="btn btn-success" value="Submit" /></li>
        </ul>
    </div>
}

