﻿body {
}
.hide {
    visibility:hidden; 
    display:none;
}
.clear-padding-and-margin{
    padding-left:0px; 
    margin-left:0px; 
    margin-right:0px;
}
.loader-size{
    height:35px;
    width:35px;
}
.iframe-class{
    height:750px;
    width:550px;
}
