﻿@model ecims.ViewModels.SearchCertificateViewModel
@{
    ViewBag.Title = "Track an EUC Application";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">Search for an End-User Certificate</h3>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Error"].ToString()
                    </div>
                }
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    @using (Html.BeginForm("SearchCertificate", "Certificate", FormMethod.Post))
                    {
                        <div class="col-md-12">

                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.CertificateNumber, new { @class = "form-control", placeholder = "Enter the certificate number here...", required = "required" })
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <input type="submit" class="btn btn-success" onclick="return checkTextField();" id="btnSubmit" value="Search" />
                            </div>
                        </div>
                        <hr />
                        if (Model.Certificate != null)
                        {
                            <div class="img-responsive">
                                <h3 id="appListingLabel" style="font-weight:bold; ">Certificate Number: @Model.Certificate.CertNo</h3>
                                <iframe style="width:100%; height:750px;" src=@HttpUtility.UrlPathEncode(Model.Certificate.UploadUrl+"#toolbar=0") ></iframe>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootbox.min.js"></script>

<script type='text/javascript'>

</script>
