﻿@{
    ViewBag.Title = "Email Confirmed";
}
<div class="container" style="background-color:#fff; margin-bottom:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Thank you for confirming your email. You will receive a decision Email and SMS on your account registration process after vetting. @Html.ActionLink("Click here to go back to the login page.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>