﻿@model ecims.Models.ForgotPasswordViewModel
@{
    if (@TempData["PasswordCheckResult"] == null)
    {

    }
    else
    {
        ViewBag.Title = "Reset password";
    }
}
<div class="container" style="background-color:#fff; margin-bottom:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            if (@TempData["PasswordCheckResult"] != null)
            {
                <div class="alert alert-info" role="alert">
                    <h4>
                        @TempData["PasswordCheckResult"]
                    </h4>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    <h4>
                        Provide your EUC registered email in the email field below, click <strong>Continue</strong> to reset your forgotten password.
                        <br>
                        A link will be sent to your EUC registered email for further action.
                    </h4>
                </div>
            }
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "e.g. Nonso.Ayo@xyz.com" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Continue" />
                </div>
            </div>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
