﻿@{
    ViewBag.Title = "Forgotten Password Confirmed";
}
<div class="container" style="background-color:#fff; margin-bottom:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                <h3>Please check your EUC registered email to complete the password reset process.</h3>
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*<p>
                    Please check your email to reset your forgotten password.
                </p>*@
        </div>
    </div>
</div>
