﻿@using ecims.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@if (User.Identity.IsAuthenticated == true)
{
    <div class="container" style="background-color:#fff; margin-bottom:20px;">
        <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
            <h3>YOU ARE ALREADY LOGGED IN</h3>
            <div class="col-md-12 col-lg-12 col-sm-12" style="padding-bottom: 20px;">
                <section id="loginForm">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                {
                        @Html.AntiForgeryToken()
                        <a class="logout" href="@Url.Action("MainDashboard", "Admin")">Visit Dashboard</a>
                        <a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                    }
                </section>
            </div>
        </div>
    </div>
}
else
{
    <h3 style="color: #fff">@ViewBag.Message</h3>
        <div class="wrapper">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h5><strong>ALREADY HAVE AN ACCOUNT ?</strong></h5>
                    <h5>SIGN IN</h5>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    //Check if user has been blacklisted
                    if (TempData["Blacklisted"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Info!</strong> @TempData["Blacklisted"].ToString()
                        </div>
                    }
                    if (@TempData["CompanyExists"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Info!</strong> @TempData["CompanyExists"].ToString()
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address", @required = "", @autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Sign in" class="btn btn-lg btn-success btn-block" />
                        </div>
                    </div>
                    <p>
                        Don't have an account yet? @Html.ActionLink("Create an account", "Register")
                    </p>
                    <p>
                        @Html.ActionLink("Forgotten password?", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
        <script>
            // jQuery plugin to prevent double submission of forms
            jQuery.fn.preventDoubleSubmission = function () {
                $(this).on('submit', function (e) {
                    var $form = $(this);

                    if ($form.data('submitted') === true) {
                        // Previously submitted - don't submit again
                        e.preventDefault();
                    } else {
                        // Mark it so that the next submit can be ignored
                        $form.data('submitted', true);
                    }
                });

                // Keep chainability
                return this;
            };
        </script>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
