﻿@model ecims.ViewModels.UserViewModel

@{
    ViewBag.Title = "View Profile";
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
    var userImage = Model.PassportURL;
    if (userImage.IsEmpty())
    {
        userImage = "http://placehold.it/380x500";
    }
    else
    {
        userImage = Model.PassportURL;
    }
}
<div class="container">
    <div class="row" style="background-color:#fff;">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="content-panel" style="padding:20px;">
                <h3 style="font-weight:bold;">User Details</h3>
                <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <div class="panel panel-primary">
                                <div class="panel-heading">USER PHOTO</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div style="vertical-align: middle;">
                                            <div class="col-sm-6 col-md-4">
                                                <img src="@userImage" alt="" class="img-rounded img-responsive" />
                                            </div>
                                            <div class="col-sm-6 col-md-8">
                                                <h4>
                                                    @Model.FirstName @Model.LastName
                                                </h4>
                                                <p>
                                                    <i class="glyphicon glyphicon-envelope"></i>@Model.Email
                                                    <br />
                                                    <i class="glyphicon glyphicon-phone"></i>@Model.PhoneNumber
                                                    <br />
                                                    <i class="glyphicon glyphicon-calendar"></i>@Model.DOB.ToShortDateString()
                                                </p>
                                                <!-- Split button -->
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default">
                                                        <a href='@Url.Action("MainDashboard", "Admin")'>Back to Dashboard</a>
                                                    </button>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default">
                                                            <a href='@Url.Action("ForgotPassword", "Account")'>Reset Password</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">BIO DATA</div>
                                <div class="panel-body">
                                    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:left;">
                                            <dl class="dl-horizontal" >
                                                <dt style="width:30%;">Last Name:</dt>
                                                <dd>@Html.DisplayFor(model => model.LastName)</dd>
                                                <dt style="width:30%;">Other Name:</dt>
                                                <dd>@Html.DisplayFor(model => model.OtherName)</dd>
                                                <dt style="width:30%;">First Name:</dt>
                                                <dd>@Html.DisplayFor(model => model.FirstName)</dd>
                                                <dt style="width:30%;">E-Mail:</dt>
                                                <dd>@Html.DisplayFor(model => model.Email)</dd>
                                                <dt style="width:30%;">Phone Number:</dt>
                                                <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                                                <dt style="width:30%;">Gender:</dt>
                                                <dd>@Html.DisplayFor(model => model.Gender)</dd>
                                                <dt style="width:30%;">Marital Status:</dt>
                                                <dd>@Html.DisplayFor(model => model.MaritalStatus)</dd>
                                                <dt style="width:30%;">Address Line 1:</dt>
                                                <dd>@Html.DisplayFor(model => model.AddressLine1)</dd>
                                                <dt style="width:30%;">Address Line 2:</dt>
                                                <dd>@Html.DisplayFor(model => model.AddressLine2)</dd>
                                                <dt style="width:30%;">Date of Birth:</dt>
                                                <dd>@Model.DOB.ToShortDateString()</dd>
                                                <dt style="width:30%;">Nationality:</dt>
                                                @foreach (var country in Model.CountryList)
                                                {
                                                    if (Model.Applicant.Country == country.id)
                                                    {
                                                        <dd>@Html.DisplayFor(model => country.CountryName)</dd>
                                                    }
                                                    else
                                                    {
                                                        <dd></dd>
                                                    }
                                                }
                                                <dt style="width:30%;">State of Origin:</dt>
                                                <dd>@Html.DisplayFor(model => model.State)</dd>
                                                <dt style="width:30%;">Tax Identification Number:</dt>
                                                <dd>@Html.DisplayFor(model => model.TIN)</dd>
                                            </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}

