﻿@model ecims.Models.RegisterViewModel
@{
    ViewBag.Title = "Create an account";
}
<div class="container" style="background-color:#fff; margin-bottom:20px;">
<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    role = "form",
    @id = "registrationForm",
    onsubmit = ""
}))
{
    @Html.AntiForgeryToken()
    <h4>End-User Certificate is free at every stage.</h4>
    <hr />
    <div class="col-md-12">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <h4>
                <b>Tip:</b> Fields marked
                <strong style="color:#ff0000">*</strong> are mandatory.
                <br />
                Your application will not be processed if mandatory fields are not filled correctly.
            </h4>
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">BASIC INFORMATION</div>
        <div class="panel-body">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.CategoryList, "Category", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(m => m.CategoryList, new { @class = "form-control", @id = "accountCategoryDdl" })
                    </div>
                </div>
                <hr />
                <div class="form-group required">
                    @Html.LabelFor(m => m.FirstName, "First Name", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "e.g. Danjuma", required = "required" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OtherName, "Middle Name", new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.OtherName, new { @class = "form-control", placeholder = "e.g. Nonso" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, "Surname", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "e.g. Ayo" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "E-mail", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "e.g. Nonso.Ayo@xyz.com" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, "Phone Number", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        <div class="input-group col-md-8">
                            <span class="input-group-addon">+234</span>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "8090385718", @Value = "" })
                        </div>
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @onkeyup = "validate(); validatePasswordForSpecialCharacers();", @onblur = "", @id = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "label label-warning lb-sm", @id = "password-field" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "label label-info lb-sm", @id = "password-complexity-field" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @onkeyup = "validate()", @id = "confirm-password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "label label-warning lb-sm", @id = "retype-password-field" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required-field">Passport Photograph</label>
                    <div class="col-md-9">
                        @*<input type="file" id="passportUpload" name="passportUpload" class="form-control" />*@
                        @Html.TextBoxFor(m => m.passportUpload, new { type = "file", @class = "form-control", @onchange = "checkFileSize(this)" })
                        @Html.ValidationMessageFor(m => m.passportUpload, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MaritalStatus, "Marital Status", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(m => m.MaritalStatus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MaritalStatus, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">CONTACT DETAILS</div>
        <div class="panel-body">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressLine1, "Address Line 1", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.AddressLine1, new { @class = "form-control", placeholder = "e.g. Plot 67, Independence Close" })
                        @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressLine2, "Address Line 2", new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.AddressLine2, new { @class = "form-control", placeholder = "e.g. Opposite Lead Star Plaza" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.countryId, "Country", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.countryId, new SelectList(Model.Country, "id", "CountryName"), new { @class = "form-control", @id = "CountryOfOriginDropdownList" })
                        @Html.ValidationMessageFor(m => m.countryId, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group" id="StateOfOriginDiv">
                    @Html.LabelFor(m => m.State, "State of Origin", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "Id", "Name"), "", new { @class = "form-control", @id = "StateOfOriginDropDownList" })
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group" id="ForeignStateOfOriginDiv">
                    @Html.LabelFor(m => m.ForeignStateOfOrigin, "State of Origin", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.ForeignStateOfOrigin, new { @class = "form-control", placeholder = "e.g. New York", @id = "ForeignStateOfOriginTextbox" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "e.g. FCT" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TIN, "Tax Identificaton Number", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.TIN, new { @class = "form-control", placeholder = "e.g. Tax Identification Number" })
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">MEANS OF IDENTIFICATION</div>
        <div class="panel-body">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.MeansOfIdentification, "Means of Identification", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.MeansOfIdentification, new SelectList(Model.MeansOfIdentifications, "Id", "Name"), "", new { @class = "form-control", @id = "meansOfIdDdl" })
                        @Html.ValidationMessageFor(m => m.Identification, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div id="divIssuance">
                    <div class="form-group">
                        <label class="col-md-3 control-label required-field">ID Scan</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.IdUpload, new { type = "file", @class = "form-control", @onchange = "checkFileSize(this)" })
                            @Html.ValidationMessageFor(m => m.IdUpload, "", new { @class = "label label-warning lb-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LicenseNumber, "ID Number", new { @class = "col-md-3 control-label required-field" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.LicenseNumber, "ID Number", new { @class = "form-control", placeholder = "e.g. A011001" })
                            @Html.ValidationMessageFor(m => m.LicenseNumber, "", new { @class = "label label-warning lb-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PlaceOfIssue, "Place of Issue", new { @class = "col-md-3 control-label required-field" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.PlaceOfIssue, "Place of Issue", new { @class = "form-control", placeholder = "e.g. Mabushi, Abuja" })
                            @Html.ValidationMessageFor(m => m.PlaceOfIssue, "", new { @class = "label label-warning lb-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LicenseDateOfIssuance, "Date of Issue", new { @class = "col-md-3 control-label required-field" })
                        <div class="col-md-9">
                            @{Html.EnableClientValidation(false);}
                            @Html.EditorFor(m => m.LicenseDateOfIssuance, new { htmlAttributes = new { @class = "form-control DateTimePicker LicenseDateOfIssuance", placeholder = "Date of Issuance", @readonly = "true", @id = "LicenseDateOfIssuance" } })
                            @{Html.EnableClientValidation(true);}
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LicenseDateOfExpiry, "Date of Expiry", new { @class = "col-md-3 control-label required-field", placeholder = "eg 1 Jan 2015" })
                        <div class="col-md-9">
                            @{Html.EnableClientValidation(false);}
                            @Html.EditorFor(m => m.LicenseDateOfExpiry, new { htmlAttributes = new { @class = "form-control DateTimePicker LicenseDateOfExpiry", placeholder = "Date of Expiry", @readonly = "true", @id = "LicenseDateOfExpiry" } })
                            @{Html.EnableClientValidation(true);}
                            @*@Html.EditorFor(m => m.LicenseDateOfExpiry, new { htmlAttributes = new { @class = "form-control DateTimePicker", placeholder = "Date of Expiry", @readonly = "true" } })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DOB, "Date of Birth", new { @class = "col-md-3 control-label required-field", placeholder = "eg 1 Jan 1992" })
                        <div class="col-md-9">
                            @{Html.EnableClientValidation(false);}
                            @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control DobDateTimePicker", placeholder = "Employee Date of Birth", @readonly = "true", @id = "DobDateTimePicker" } })
                            @{Html.EnableClientValidation(true);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">NEXT OF KIN INFORMATION</div>
        <div class="panel-body">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.NextOfKinFullname, "Next of Kin Fullname", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.NextOfKinFullname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NextOfKinFullname, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NextOfKinAddress, "Next of Kin Address", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.NextOfKinAddress, new { @class = "form-control", placeholder = "e.g. No 26 Benue Street, Opposite Charity Avenue, Katsina." })
                        @Html.ValidationMessageFor(m => m.NextOfKinAddress, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NextOfKinRelationship, "Next of Kin Relationship", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.NextOfKinRelationship, new { @class = "form-control", placeholder = "e.g. Brother" })
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NextOfKinPhoneNumber, "Next of Kin Phone Number", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.NextOfKinPhoneNumber, new { @class = "form-control", placeholder = "e.g. +2341231221223" })
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "label label-warning lb-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary company-details" id="DivCompanyDetails">
        <div class="panel-heading">COMPANY DETAILS</div>
        <div class="panel-body">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyName, "Company Name", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @id = "CompanyNameTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyNameTextBoxValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyAddress, "Company Address", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CompanyAddress, new { @class = "form-control", placeholder = "e.g. No 42 Independence Street, Opposite Charity Avenue, Abuja.", @id = "CompanyAddressTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyAddressTextBoxValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyStateID, "Company State", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.CompanyStateID, new SelectList(Model.CompanyStates, "Id", "Name"), new { @class = "form-control", placeholder = "e.g. Brother", @id = "CompanyStatesTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyStatesTextBoxValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyPhoneNumber, "Company Phone Number", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CompanyPhoneNumber, new { @class = "form-control", placeholder = "e.g. +2341231221223", @id = "CompanyPhoneNumberTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyPhoneNumberTextBoxValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyEmail, "Company E-mail Address", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CompanyEmail, new { @class = "form-control", placeholder = "e.g. michael@example.com", @id = "CompanyEmailTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyEmailTextBoxValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyWebsite, "Website", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CompanyWebsite, new { @class = "form-control", placeholder = "e.g. www.example.com", @id = "CompanyWebsiteTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyWebsiteTextBoxValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CACNo, "Corporate Affairs Commission Number", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CACNo, new { @class = "form-control", placeholder = "", @id = "CompanyCACTextBox" })
                        <h5>
                            <span class="label label-warning" id="CompanyCACValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateOfIncorporation, "Date of Incorporation", new { @class = "col-md-3 control-label required-field" })
                    <div class="col-md-9">
                        @{Html.EnableClientValidation(false);}
                        @Html.EditorFor(m => m.DateOfIncorporation, new { htmlAttributes = new { @class = "form-control DateTimePicker DateOfIncorporation", placeholder = "Date of Incorporation", @readonly = "true", @id = "CompanyDateOfIncorporationTextBox" } })
                        @{Html.EnableClientValidation(true);}
                        <h5>
                            <span class="label label-warning" id="CompanyDateOfIncorporationValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required-field">Company Logo</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CompanyLogo, new { type = "file", @class = "form-control", @id = "CompanyLogoTextbox", @onchange = "checkFileSize(this)" })
                        <h5>
                            <span class="label label-warning" id="CompanyLogoValidationMessage"></span>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required-field">Certificate of Incorporation</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CertificateOfIncorporation, new { type = "file", @class = "form-control", @onchange = "checkFileSize(this)" })
                        @Html.ValidationMessageFor(m => m.CertificateOfIncorporation, "", new { @class = "label label-warning lb-sm", @id = "CompanyCertificateOfIncorporationTextBox" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success" value="Create an account" id="submit" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Help Tips</div>
            <div class="panel-body">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <h4 style="font-weight:bold; font-size:14px;">Red Asterisk(*):</h4>
                    <p style="padding-left:10px;">All fields marked asterisk are required.</p>
                    <br />
                    <h4 style="font-weight:bold; font-size:14px;">Nationality:</h4>
                    <p style="padding-left:10px;">All members of the general public can create an account and apply for an End-User Certificate</p>
                    <br />
                    <h4 style="font-weight:bold; font-size:14px;">Email Address & Phone Numbers:</h4>
                    <p style="padding-left:10px;">
                        Kindly provide a valid email address and phone number.
                        <br />Only numbers after country code (+234) must be entered in the form of: 8090385718.
                    </p>
                    <br />
                    <h4 style="font-weight:bold; font-size:14px;">Passwords must meet the following requirements:</h4>
                    <p style="padding-left:10px;">
                        MUST contain at least eight (8) characters.
                        <br />MUST contain at least one uppercase letter.
                        <br />MUST contain at least one lowercase letter.
                        <br />MUST contain at least one number.
                        <br />MUST contain at least one special character (!#$%&@@*+,-./:;<=>?[\]^_`{|}~)
                        <br />Password example is: <strong>QWertYas12@@</strong>
                    </p>
                    <br />
                    @*<h4 style="font-weight:bold; font-size:14px;">Email Address & Phone Numbers:</h4>
                            <p style="padding-left:10px;">Kindly Provide Valid Email Address and Mobile Phone Numbers</p>
                            <br />*@
                    <h4 style="font-weight:bold; font-size:14px;">Files & Images:</h4>
                    <p style="padding-left:10px;">
                        File size must be less than 2MB.
                        <br />Only images with extensions of ".jpg", ".png", ".gif", ".jpeg", ".JPEG" and ".PNG" are allowed for upload.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
</div>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    //Using bootbox for modal alert
    <script>
        var dialog = bootbox.dialog({
            title: '<strong>Below is how the EUC account creation works:</strong>',
            message: "<p>1. After successfully submitting/creating your sign-up request, an email will be automatically sent to your registered email address for confirmation. This is to confirm that you have signed up with a valid/working email address. (Due to issue with some domains, you can check your spam/junk folder should in case you didn't see it in your inbox).</p>" +
                "<p>2. Upon successfully confirming the confirmation email link, wait for your account creation to be vetted by the EUC vetting team.</p>" +
                "<p>3. A notification will be sent to you via email and/or SMS once your account creation has been approved or disapproved.</p>" +
                "<p>4. Kindly exercise patience for your account to be approved or disapproved.</p>" +
                "<p><strong>*** I consent to the above-listed EUC registration process, and I understand that multiple entries submission may result in the blacklisting of my EUC account profile. ***</strong></p>",
            closeButton: false,
            size: 'large',
            buttons: {
                ok: {
                    label: "OK",
                    className: 'btn-info',
                    callback: function () {
                    }
                }
            }
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function() {
            var categoryDropdownList = document.getElementById('accountCategoryDdl');
            categoryDropdownList[2].style.display = "block";

            // check for ios device
            if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
                //alert("Browser is Safari");          

                var categoryDropdownList = document.getElementById('accountCategoryDdl');
                categoryDropdownList[2].style.display = "block";

                $('#accountCategoryDdl').find('option:contains(Exclusive)').hide();
                $('#meansOfIdDdl').find('option:contains(Diplomatic Passport/ID)').hide();
            }
        });
        $(document).ready(function() {
            $('#accountCategoryDdl').find('option:contains(Exclusive)').hide();
            $('#meansOfIdDdl').find('option:contains(Diplomatic Passport/ID)').hide();
        });

        function checkFileSize(e) {
            var fileSize = e.files[0].size / 1024 / 1024;
            if (fileSize > 2) {
                alert("File size must be less than 2MB in size.");
                e.value = "";
                e.focus;
            }
        }

        function validate() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm-password').value;
            //Special characters

            if (password != confirmPassword) {
                $('#retype-password-field').show();
                document.getElementById('retype-password-field').innerHTML = "Password fields do not match";
            } else if (password.length < 8) {
                $('#retype-password-field').show();
                document.getElementById('retype-password-field').innerHTML = "Password must be at least 8 characters";
            } else if (password == confirmPassword) {
                $('#retype-password-field').show();
                document.getElementById('retype-password-field').innerHTML = "Passwords fields matched successfully!";
                $('#retype-password-field').hide();
            }
        }

        function validatePasswordForSpecialCharacers() {
            //var password = document.getElementById('password');
            //var specialChars = "!*|,\":<>[]{}`\';()&$#%@@";
            //for (var i = 0; i < password.value.length; i++) {
            //    //if (specialChars.indexOf(password.value.charAt(i)) == -1) {
            //    if (specialChars.indexOf(password.value.charAt(i)) == -1) {
            //        //Show label with warning message
            //        $('#password-complexity-field').show();
            //        document.getElementById('password-complexity-field').innerHTML = "Password fields must contain a special character";
            //        //alert("Passwords must contain special characters");
            //        //password.focus();
            //    }
            //    else {
            //        //Hide label if valid
            //        $('#password-complexity-field').hide();
            //    }
            //}
            var password = document.getElementById('password');
            var regex = /[^\w\s]/gi;

            if (regex.test(password.value) != true) {
                //Show label with warning message
                $('#password-complexity-field').show();
                document.getElementById('password-complexity-field').innerHTML =
                    "Password fields must contain a special character";
                //alert("Password field must contain special characters");
                //password.focus();
            } else {
                //Hide label if valid
                $('#password-complexity-field').hide();
            }
        }

        // hide all div options
        function hideOnLoad() {
            $('#divDriversLicense').hide();
            $('#divNationalId').hide();
            $('#divInternationalPassportId').hide();
            $('#divNationalVotersId').hide();
            $('#divIssuance').hide();
            $('#divCompanyDetails').hide();
            $('#ForeignStateOfOriginDiv').hide();
            $('#DivCompanyDetails').hide();
        }

        function showConfirmModal() {
            bootbox.alert(
                "An email will be sent confirming approval or decline of your application in 7 working days.");
            window.setTimeout(function() {
                    bootbox.hideAll();
                },
                5000); // 10 seconds expressed in milliseconds
        }

        $(document).ready(function() {

            $('.DateTimePicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+50",
                autoSize: true,
            });

            //#DobDateTimePicker
            $('.DobDateTimePicker').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+50",
                autoSize: true,
                //maxDate: new Date(1999, 1 - 1, 1),
            });

            //#LicenseDateOfExpiry
            $('#LicenseDateOfExpiry').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+50",
                autoSize: true,
            });

            hideOnLoad(); // add this line
            $('#accountCategoryDdl').change(function() {
                var value = $(this).val();
                if (value == '1') {
                    $('#DivCompanyDetails').hide();
                } else if (value == '2') {
                    $('#DivCompanyDetails').show();
                    bootbox.alert(
                        "You have selected to register a corporate account. <br /> Please fill the company details section at the bottom of this page after filling every other section on this form.");
                } else {
                    hideOnLoad();
                }
            });

            $('#CountryOfOriginDropdownList').change(function() {
                var value = $(this).val();
                if (value != '1') {
                    $('#ForeignStateOfOriginDiv').show();
                    $('#StateOfOriginDiv').hide();
                } else if (value == '1') {
                    $('#ForeignStateOfOriginDiv').hide();
                    $('#StateOfOriginDiv').show();
                } else {
                    hideOnLoad();
                }
            });

            $('#meansOfIdDdl').change(function() {
                var value = $(this).val();
                if (value == '1') {
                    $('#divNationalId').show();
                    $('#divIssuance').show();
                    $('#divDriversLicense').hide();
                    $('#divInternationalPassportId').hide();
                    $('#divNationalVotersId').hide();
                } else if (value == '2') {
                    $('#divDriversLicense').show();
                    $('#divIssuance').show();
                    $('#divNationalId').hide();
                    $('#divInternationalPassportId').hide();
                    $('#divNationalVotersId').hide();
                } else if (value == '3') {
                    $('#divInternationalPassportId').show();
                    $('#divIssuance').show();
                    $('#divDriversLicense').hide();
                    $('#divNationalId').hide();
                    $('#divNationalVotersId').hide();
                } else if (value == '4') {
                    $('#divNationalVotersId').show();
                    $('#divIssuance').show();
                    $('#divInternationalPassportId').hide();
                    $('#divDriversLicense').hide();
                    $('#divNationalId').hide();
                } else {
                    hideOnLoad();
                }
            });

            //Javascript to validate company details section

            $('#submit').click(function() {
                var typeOfAccount = $('#accountCategoryDdl').val();
                //Carry out validation only when the type of account is a corporate one
                if (typeOfAccount == '2') {
                    var companyNameFieldValue = $('#CompanyNameTextBox').val();
                    var companyAddressFieldValue = $('#CompanyAddressTextBox').val();
                    var companyPhoneNumberFieldValue = $('#CompanyPhoneNumberTextBox').val();
                    var companyEmailFieldValue = $('#CompanyEmailTextBox').val();
                    var companyWebsiteFieldValue = $('#CompanyWebsiteTextBox').val();
                    var companyCACFieldValue = $('#CompanyCACTextBox').val();
                    var companyDateOfIncorporationFieldValue = $('CompanyDateOfIncorporationTextBox').val();
                    var companyLogoFieldValue = $('CompanyLogoTextbox').val();

                    //Carry out validation on every element in company details section
                    if (companyNameFieldValue == "") {
                        document.getElementById('CompanyNameTextBoxValidationMessage').innerHTML =
                            "Please fill in your company name";
                        $('#CompanyNameTextBox').focus();
                        return false;
                    }
                    if (companyNameFieldValue != "") {
                        document.getElementById('CompanyNameTextBoxValidationMessage').innerHTML = "";
                    }

                    if (companyAddressFieldValue == "") {
                        document.getElementById('CompanyAddressTextBoxValidationMessage').innerHTML =
                            "Please fill in your company's address";
                        $('#CompanyAddressTextBox').focus();
                        return false;
                    }
                    if (companyAddressFieldValue != "") {
                        document.getElementById('CompanyAddressTextBoxValidationMessage').innerHTML = "";
                    }

                    if (companyPhoneNumberFieldValue == "") {
                        document.getElementById('CompanyPhoneNumberTextBoxValidationMessage').innerHTML =
                            "Please fill in your company's phone number";
                        $('#CompanyPhoneNumberTextBox').focus();
                        return false;
                    }
                    if (companyPhoneNumberFieldValue != "") {
                        document.getElementById('CompanyPhoneNumberTextBoxValidationMessage').innerHTML = "";
                    }

                    if (companyEmailFieldValue == "") {
                        document.getElementById('CompanyEmailTextBoxValidationMessage').innerHTML =
                            "Please fill in your company's e-mail address";
                        $('#CompanyEmailTextBox').focus();
                        return false;
                    }
                    if (companyEmailFieldValue != "") {
                        document.getElementById('CompanyEmailTextBoxValidationMessage').innerHTML = "";
                    }

                    if (companyWebsiteFieldValue == "") {
                        document.getElementById('CompanyWebsiteTextBoxValidationMessage').innerHTML =
                            "Please fill in your company's website";
                        $('#CompanyWebsiteTextBox').focus();
                        return false;
                    }
                    if (companyEmailFieldValue != "") {
                        document.getElementById('CompanyWebsiteTextBoxValidationMessage').innerHTML = "";
                    }

                    if (companyCACFieldValue == "") {
                        document.getElementById('CompanyCACValidationMessage').innerHTML =
                            "Please fill in your CAC mumber";
                        $('#CompanyCACTextBox').focus();
                        return false;
                    }
                    if (companyCACFieldValue != "") {
                        document.getElementById('CompanyCACValidationMessage').innerHTML = "";
                    }

                    if (companyDateOfIncorporationFieldValue == "") {
                        document.getElementById('CompanyDateOfIncorporationValidationMessage').innerHTML =
                            "Please enter your company's date of incorporation";
                        $('#CompanyDateOfIncorporationTextBox').focus();
                        return false;
                    }
                    if (companyDateOfIncorporationFieldValue != "") {
                        document.getElementById('CompanyDateOfIncorporationValidationMessage').innerHTML = "";
                    }
                }
            });

            //var options = {
            //    dateFormat: "dd/M/yy"
            //};
            //$(".LicenseDateOfIssuance").datepicker(options);
            //$(".LicenseDateOfExpiry").datepicker(options);
            //$("#submi").click(function () {
            //    var from = GetDate($(".LicenseDateOfIssuance").val());
            //    var to = GetDate($(".LicenseDateOfExpiry").val());
            //    if (from > to) {
            //        alert("Invalid Date Range: Means of Identification's date of issuance must be before it's date of expiry.");
            //        //$(".LicenseDateOfIssuance").focus();
            //        //return false;
            //    }
            //});

            function GetDate(date) {
                var parts = date.split('/');
                return new Date(parts[2], parts[1], parts[0]);
            };

        });
    </script>
    }
    @*<script type="text/javascript">
    $(function () {
        $('#go_back').click(function (e) {
            e.preventDefault();
            history.go(-1);
        });
    });
</script>*@