﻿@{
    ViewBag.Title = "Reset Password Confirmed";
}
<div class="container" style="background-color:#fff; margin-bottom:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                <h3>Your password has been reset, please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h3>
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">

        </div>

    </div>
</div>
