﻿
@{
    ViewBag.Title = "DirectoryChangeView";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Use this view to automate the change of movement of user data and change associated database entries</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div>
                    @using (Html.BeginForm("changeUserImageDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change User Image Directory"/>
                    }
                    <hr />
                    @using (Html.BeginForm("changeUserMeansOfIdentificationDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change User Means Of Identification"/>
                    }
                    <hr />
                    @using (Html.BeginForm("changeUserUploadedCertificateDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change User Uploaded Certificate Directory"/>
                    }
                    <hr />
                    @using (Html.BeginForm("changeCompanyLogoDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change Company Logo Directory"/>
                    }
                    <hr />
                    @using (Html.BeginForm("changeCompanyCACDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change Company CAC Directory"/>
                    }
                    <hr />
                    @using (Html.BeginForm("changeEUCSupportingDocuments", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change EUC Supporting Documents"/>
                    }
                    <hr />
                    @using (Html.BeginForm("changeOrganisationAwardContractDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Change Company Award Letter Directory" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Reset file directories</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div>
                    @using (Html.BeginForm("resetUserPassport", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset User Passport" />
                    }
                    <hr />
                    @using (Html.BeginForm("resetUserID", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset User ID" />
                    }
                    <hr />
                    @using (Html.BeginForm("resetUploadedCertificateDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset Úploaded Certificate" />
                    }
                    <hr />
                    @using (Html.BeginForm("resetCompanyLogoDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset Company Logo" />
                    }
                    <hr />
                    @using (Html.BeginForm("resetCompanyCACDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset Company CAC" />
                    }
                    <hr />
                    @using (Html.BeginForm("resetCompanyAwardLetterDirectory", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset Company Award Letter Directory" />
                    }
                    <hr />
                    @using (Html.BeginForm("resetEUCSupportingDocuments", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset Supporting DOcuments Directory" />
                    }
                    <hr />
                    @using (Html.BeginForm("changeCompanyLogoDirectoryInDatabase", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset Company Logo Directories" />
                    }
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Notify Users of EUC Upgrade</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div>
                    @using (Html.BeginForm("NotifyUsersOfUpgrade", "AspNetUserDirectory", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Notify Users Of Upgrade" />
                    }
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
