﻿
@{
    ViewBag.Title = "Reset Directory";
}

<div class="row" style="margin:20px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="content-panel" style="padding:20px;">
            <h3 style="font-weight:bold;">Use this view to reset uploaded file paths in the database</h3>
            <div class="panel-body" style="border:solid; border-width:3px; border-radius: 4px 4px; border-color:#F2F2F2;">
                <div>
                    @using (Html.BeginForm("resetUserPassport", "ResetDirectories", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success" value="Reset User Passports" />
                    }
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>
